/* line 1, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
.wd-product-line h3 {
  min-height: 60px !important; }

/* line 6, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
.wd-product-price-description .condition .parcel-value {
  font-size: 12px;
  font-weight: bold; }
/* line 11, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
.wd-product-price-description .condition .label:last-child {
  display: none; }
/* line 17, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
.wd-product-price-description .savings .instant-price {
  font-size: 12px;
  font-weight: bold; }

/* line 24, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
#header .categories .more-categories .more {
  padding: 30px 40px;
  z-index: 20; }

/* line 28, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
#header .categories .more-categories .more nav {
  padding: inherit; }

/* line 32, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
#header .categories .more-categories:hover .more > .wd-category-menu {
  width: 790px;
  float: left; }
/* line 36, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
#header .categories .more-categories:hover .more .banner-more {
  width: 300px;
  height: 400px;
  float: right; }

/* line 46, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
#header .categories .more-categories .more nav .level-1 > li:nth-child(n+4) {
  min-height: inherit; }

/* facetas */
/* line 52, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
body.grid-products.has-banner-category #left .facets {
  margin-top: inherit; }

/* line 55, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
body.grid-products.has-banner-category #left .wd-facet-group {
  position: absolute;
  width: 271px;
  top: -392px; }
  /* line 60, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
  body.grid-products.has-banner-category #left .wd-facet-group .selected-facets.show {
    background-color: white; }

/* line 65, C:/projetos/core/qualitysp/src/scss/ajustes.scss */
body .wd-flags .flag {
  padding: 2px 7px !important; }
