/*-------------------------------
MIXINS
-------------------------------*/
/* ELEMENTOS */
/* ICONE - FONT AWESOME */
/* line 29, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.icon {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

/* FONTES */
/* line 37, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.regular {
  font-weight: normal;
  font-style: normal; }

/* line 41, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.italic {
  font-weight: normal;
  font-style: italic; }

/* line 45, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.bold {
  font-weight: bold;
  font-style: normal; }

/* line 49, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.bold-italic {
  font-weight: bold;
  font-style: italic; }

/* line 6, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
.page-home, .grid-products, .page-product {
  background: #000; }
  /* line 11, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .wd-product-list ul > li, .page-home .wd-browsing-grid-list ul > li, .page-home .wd-product-associations ul > li, .grid-products .wd-product-list ul > li, .grid-products .wd-browsing-grid-list ul > li, .grid-products .wd-product-associations ul > li, .page-product .wd-product-list ul > li, .page-product .wd-browsing-grid-list ul > li, .page-product .wd-product-associations ul > li {
    width: 24% !important;
    margin-right: 1% !important;
    background: #FFF;
    margin-bottom: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
    /* line 17, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
    .page-home .wd-product-list ul > li:hover .btn, .page-home .wd-browsing-grid-list ul > li:hover .btn, .page-home .wd-product-associations ul > li:hover .btn, .grid-products .wd-product-list ul > li:hover .btn, .grid-products .wd-browsing-grid-list ul > li:hover .btn, .grid-products .wd-product-associations ul > li:hover .btn, .page-product .wd-product-list ul > li:hover .btn, .page-product .wd-browsing-grid-list ul > li:hover .btn, .page-product .wd-product-associations ul > li:hover .btn {
      background: #000; }
    /* line 20, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
    .page-home .wd-product-list ul > li:nth-child(4), .page-home .wd-browsing-grid-list ul > li:nth-child(4), .page-home .wd-product-associations ul > li:nth-child(4), .grid-products .wd-product-list ul > li:nth-child(4), .grid-products .wd-browsing-grid-list ul > li:nth-child(4), .grid-products .wd-product-associations ul > li:nth-child(4), .page-product .wd-product-list ul > li:nth-child(4), .page-product .wd-browsing-grid-list ul > li:nth-child(4), .page-product .wd-product-associations ul > li:nth-child(4) {
      margin-right: 0 !important; }
  /* line 24, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .wd-product-list .btn, .page-home .wd-browsing-grid-list .btn, .page-home .wd-product-associations .btn, .grid-products .wd-product-list .btn, .grid-products .wd-browsing-grid-list .btn, .grid-products .wd-product-associations .btn, .page-product .wd-product-list .btn, .page-product .wd-browsing-grid-list .btn, .page-product .wd-product-associations .btn {
    background: #f6bf02;
    display: inline-block; }
  /* line 28, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .wd-product-list .wd-product-price-description .sale-price, .page-home .wd-browsing-grid-list .wd-product-price-description .sale-price, .page-home .wd-product-associations .wd-product-price-description .sale-price, .grid-products .wd-product-list .wd-product-price-description .sale-price, .grid-products .wd-browsing-grid-list .wd-product-price-description .sale-price, .grid-products .wd-product-associations .wd-product-price-description .sale-price, .page-product .wd-product-list .wd-product-price-description .sale-price, .page-product .wd-browsing-grid-list .wd-product-price-description .sale-price, .page-product .wd-product-associations .wd-product-price-description .sale-price {
    color: #F00; }
  /* line 33, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .wd-browsing-grid-list ul > li, .grid-products .wd-browsing-grid-list ul > li, .page-product .wd-browsing-grid-list ul > li {
    width: 32.2% !important;
    margin-bottom: 8px; }
    /* line 36, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
    .page-home .wd-browsing-grid-list ul > li:nth-child(3), .grid-products .wd-browsing-grid-list ul > li:nth-child(3), .page-product .wd-browsing-grid-list ul > li:nth-child(3) {
      margin-right: 0 !important; }
    /* line 39, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
    .page-home .wd-browsing-grid-list ul > li:nth-child(4), .grid-products .wd-browsing-grid-list ul > li:nth-child(4), .page-product .wd-browsing-grid-list ul > li:nth-child(4) {
      margin-right: 1% !important; }
  /* line 45, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .facets, .grid-products .facets, .page-product .facets {
    background: #FFF; }
  /* line 48, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .wd-browsing-grid-pager a, .grid-products .wd-browsing-grid-pager a, .page-product .wd-browsing-grid-pager a {
    color: #FFF; }
  /* line 51, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .description-content, .grid-products .description-content, .page-product .description-content {
    color: #FFF; }
  /* line 54, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .brands li, .grid-products .brands li, .page-product .brands li {
    filter: invert(100%) hue-rotate(168deg) saturate(1100%);
    -webkit-filter: invert(100%) hue-rotate(168deg) saturate(1100%); }
  /* line 58, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-home .parallax h4, .grid-products .parallax h4, .page-product .parallax h4 {
    position: relative;
    z-index: 2; }

/* line 63, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
.page-product {
  background: #000; }
  /* line 65, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-product .wd-descriptions .wd-content {
    padding: 0 20px 20px 20px;
    background: #FFF; }
  /* line 72, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-product #main #middle .data .wd-product-rating a, .page-product .parcels, .page-product .parcel-value, .page-product .show-cep {
    color: #FFF !important; }
  /* line 75, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-product .sale-price {
    color: #F00; }
  /* line 78, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
  .page-product .wd-product-medias-displayer {
    background: #FFF; }

/* line 82, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
.page-basket {
  background: #000; }

/* line 86, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
#main > header, #main > footer {
  background: #000; }

/* line 90, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
header .logo {
  background: url('http://www.dufrio.com.br//Custom/Content/Themes/Dufrio/img/logo-branco.png') no-repeat; }
/* line 98, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
header a, header .search .wd-profile-welcome-shopper .login-simple, header .search .wd-profile-welcome-shopper .login-simple b span, header .search .wd-profile-welcome-shopper .new-account, header .search .wd-profile-welcome-shopper .new-account::before, header .help-center .title {
  color: #FFF; }
/* line 101, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
header .wp-1 {
  background: #000; }
/* line 104, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
header .search input {
  background: #000;
  color: #FFF;
  opacity: 1; }

/* line 111, C:/projetos/core/qualitysp/src/scss/black-friday.scss */
#footer .facebook {
  filter: invert(100%) hue-rotate(168deg) saturate(1500%);
  -webkit-filter: invert(100%) hue-rotate(168deg) saturate(1500%); }
