/* line 5, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
.mobile {
  /*HEADER ------------- */ }
  /* line 6, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
  .mobile .HomeRoute {
    background: #000; }
    /* line 9, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
    .mobile .HomeRoute .banner--home, .mobile .HomeRoute .banner--home .orbit-container {
      background: #000; }
    /* line 12, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
    .mobile .HomeRoute .category-menu--home .category-menu__section .title {
      color: #FFF !important;
      background: #2760ad !important;
      border: none !important;
      text-transform: uppercase; }
    /* line 18, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
    .mobile .HomeRoute .category-menu--home .category-menu__section .category-menu__category a {
      color: #FFF !important; }
    /* line 21, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
    .mobile .HomeRoute .product-list {
      border-bottom: none; }
      /* line 23, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .product-list__title {
        color: #2760ad !important;
        font-weight: normal;
        text-transform: uppercase; }
      /* line 28, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .sale-price {
        color: #F00; }
      /* line 32, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .orbit-prev span:before, .mobile .HomeRoute .product-list .orbit-next span:before {
        color: #FFF; }
      /* line 35, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .product-list__product {
        padding: 10px;
        margin: 0.5%;
        background: #FFF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      /* line 43, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .small-block-grid-2 > li {
        width: 49%; }
      /* line 46, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .orbit-container ul {
        /*height: 360px!important;*/ }
      /* line 49, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .product-list__see-more {
        display: none; }
      /* line 52, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .product-list__product .product__name {
        min-height: 90px;
        margin-bottom: 30px;
        font-weight: normal; }
      /* line 60, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .product__rating, .mobile .HomeRoute .product-list .default-price, .mobile .HomeRoute .product-list .savings .text-1, .mobile .HomeRoute .product-list .savings .prefix {
        display: none; }
      /* line 63, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .instant-price {
        position: absolute;
        top: 90px;
        left: 0;
        color: #fdcf17 !important;
        font-size: 18px; }
      /* line 71, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile .HomeRoute .product-list .condition, .mobile .HomeRoute .product-list .savings {
        font-size: 12px;
        color: #FFF;
        margin: 0;
        padding: 0; }
  /* line 81, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
  .mobile #header--navbar, .mobile #header--home {
    background: #000; }
    /* line 84, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
    .mobile #header--navbar .logo--header a, .mobile #header--home .logo--header a {
      background: url('http://www.dufrio.com.br//Custom/Content/Themes/Dufrio/img/logo-mobile-branco.png') no-repeat; }
      /* line 86, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
      .mobile #header--navbar .logo--header a img, .mobile #header--home .logo--header a img {
        display: none; }
  /* line 92, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
  .mobile .wd-search form input[type='text'] {
    background: #000;
    color: #999 !important;
    height: 100%; }
  /* line 100, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
  .mobile #footer--home {
    background: #000; }
    /* line 104, C:/projetos/core/qualitysp/src/scss/black-friday-mobile.scss */
    .mobile #footer--home a, .mobile #footer--home .footer-subtitle, .mobile #footer--home .number {
      color: #2760ad !important; }
