/* BASE */
/* Azul */
/* Amarelo */
/* Vermelho */
/* Cinza */
/*-------------------------------
MIXINS
-------------------------------*/
/* ELEMENTOS */
/* ICONE - FONT AWESOME */
/* line 29, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.icon {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

/* FONTES */
/* line 37, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.regular {
  font-weight: normal;
  font-style: normal; }

/* line 41, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.italic {
  font-weight: normal;
  font-style: italic; }

/* line 45, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.bold {
  font-weight: bold;
  font-style: normal; }

/* line 49, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.bold-italic {
  font-weight: bold;
  font-style: italic; }

/* line 6, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
body.categoria-vrf header .breadcrumbs {
  display: none; }
/* line 9, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
body.categoria-vrf #middle {
  width: 100%;
  padding: 0; }
/* line 14, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
body.categoria-vrf.msie .category-vrf iframe {
  bottom: -3px; }
/* line 19, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
body.categoria-vrf.safari .category-vrf iframe {
  right: 294px;
  bottom: -15px; }

/* line 26, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .breadcrumbs {
  margin-bottom: 40px; }
  /* line 28, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .breadcrumbs .last {
    color: #000;
    font-size: 14px; }
/* line 34, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf h2 {
  color: #2760ad;
  font-size: 24px; }
/* line 38, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf h3 {
  color: #00aeef;
  font-size: 18px; }
/* line 42, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .blue {
  color: #2760ad;
  font-weight: bold;
  font-size: 18px; }
/* line 47, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .head {
  height: 492px;
  background: url('http://www.dufrio.com.br//Custom/Content/Themes/Dufrio/Landings/category-vrf/img/banner.jpg') no-repeat center top;
  position: relative; }
  /* line 51, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .head h2 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 290px;
    font-size: 38px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 35px; }
    /* line 61, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
    .category-vrf .head h2 b {
      font-weight: bold; }
/* line 66, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .wrapper {
  text-align: center;
  color: #969aa1;
  font-size: 15px; }
  /* line 70, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .wrapper ul {
    list-style: none; }
/* line 75, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .what h2 {
  margin-bottom: 20px; }
/* line 78, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .what p {
  width: 750px;
  margin: 0 auto 70px; }
/* line 84, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .operation h3 {
  position: relative;
  top: 30px; }
/* line 89, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .benefit {
  margin-top: 100px; }
  /* line 91, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit h2 {
    margin-bottom: 30px; }
  /* line 94, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit ul {
    width: 900px;
    margin: 0 auto; }
  /* line 98, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit li {
    text-align: left;
    margin-bottom: 22px; }
    /* line 101, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
    .category-vrf .benefit li h3, .category-vrf .benefit li p {
      margin: 0;
      padding: 0; }
    /* line 105, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
    .category-vrf .benefit li::before {
      content: "";
      display: block;
      width: 66px;
      height: 66px;
      position: absolute;
      margin-top: -3px;
      margin-left: -96px;
      background: url('http://www.dufrio.com.br//Custom/Content/Themes/Dufrio/Landings/category-vrf/img/sprite.jpg'); }
  /* line 116, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit .item-4 {
    margin-bottom: 32px; }
  /* line 119, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit .item-1::before {
    background-position: -1px 0; }
  /* line 122, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit .item-2::before {
    background-position: -76px -1px;
    margin-top: 14px; }
  /* line 126, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit .item-3::before {
    background-position: -151px -1px;
    margin-top: 5px; }
  /* line 130, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit .item-4::before {
    background-position: -226px 0; }
  /* line 133, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit .item-5::before {
    background-position: -301px 0;
    margin-top: -13px; }
  /* line 137, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .benefit img {
    margin: 40px 0 80px; }
/* line 141, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .brands {
  overflow: hidden;
  margin: 0 0 30px 0;
  padding: 0; }
  /* line 145, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .brands li {
    float: none;
    display: inline-block;
    position: relative;
    margin: 20px; }
    /* line 150, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
    .category-vrf .brands li::before {
      content: "";
      display: inline-block;
      background: url('http://www.dufrio.com.br//Custom/Content/Themes/Dufrio/Landings/category-vrf/img/sprite.jpg');
      position: absolute;
      left: 0;
      top: 0; }
  /* line 160, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .brands .daikin, .category-vrf .brands .daikin:before {
    width: 226px;
    height: 51px; }
  /* line 165, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .brands .lg, .category-vrf .brands .lg:before {
    width: 170px;
    height: 75px; }
  /* line 169, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .brands .daikin:before {
    background-position: 0 -73px; }
  /* line 172, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .brands .lg:before {
    background-position: -236px -75px;
    top: -10px; }
/* line 177, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf .dufrio {
  height: 500px;
  border-top: solid transparent 1px; }
  /* line 180, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .dufrio h2, .category-vrf .dufrio p, .category-vrf .dufrio b, .category-vrf .dufrio small {
    color: #FFF; }
  /* line 183, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .dufrio h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 120px 0 50px; }
  /* line 188, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .dufrio p {
    font-size: 18px;
    margin: 20px auto 100px;
    width: 705px; }
  /* line 193, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .dufrio b {
    font-size: 16px;
    display: block;
    font-weight: bold;
    margin-bottom: 20px; }
  /* line 199, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
  .category-vrf .dufrio small {
    font-size: 12px; }
/* line 203, C:/projetos/core/qualitysp/src/scss/category-vrf.scss */
.category-vrf iframe {
  border: none;
  width: 293px;
  height: 505px;
  bottom: 0;
  right: 281px;
  position: absolute; }
