/* BASE */
/* Azul */
/* Amarelo */
/* Vermelho */
/* Cinza */
/*-------------------------------
MIXINS
-------------------------------*/
/* ELEMENTOS */
/* ICONE - FONT AWESOME */
/* line 29, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.icon {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal; }

/* FONTES */
/* line 37, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.regular {
  font-weight: normal;
  font-style: normal; }

/* line 41, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.italic {
  font-weight: normal;
  font-style: italic; }

/* line 45, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.bold {
  font-weight: bold;
  font-style: normal; }

/* line 49, C:/projetos/core/qualitysp/src/scss/_mixins.scss */
.bold-italic {
  font-weight: bold;
  font-style: italic; }

/* line 5, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento .invoice-form {
  background: #235eaf;
  padding: 15px;
  overflow: hidden;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  width: 263px; }
  /* line 12, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form h3 {
    color: #FFF;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-size: 17px;
    position: relative;
    display: inline-block;
    top: -7px; }
    /* line 21, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
    .solicitar-orcamento .invoice-form h3::before {
      background: url('http://www.dufrio.com.br//Custom/Content/Themes/Dufrio/Landings/includes/img/invoice-form.png');
      content: "";
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 15px;
      position: relative;
      top: 7px; }
  /* line 32, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form input, .solicitar-orcamento .invoice-form textarea, .solicitar-orcamento .invoice-form select {
    width: 240px;
    border: none;
    margin-bottom: 9px;
    color: #235eaf;
    opacity: 1;
    padding: 8px 10px;
    font-size: 14px; }
  /* line 41, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form select {
    width: 260px; }
  /* line 45, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form input::-webkit-input-placeholder, .solicitar-orcamento .invoice-form textarea::-webkit-input-placeholder {
    color: #235eaf;
    opacity: 1; }
  /* line 50, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form input:-moz-placeholder, .solicitar-orcamento .invoice-form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #235eaf;
    opacity: 1; }
  /* line 55, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form input::-moz-placeholder, .solicitar-orcamento .invoice-form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #235eaf;
    opacity: 1; }
  /* line 60, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form input:-ms-input-placeholder, .solicitar-orcamento .invoice-form textarea:-ms-input-placeholder {
    color: #235eaf;
    opacity: 1; }
  /* line 64, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form textarea {
    height: 41px; }
  /* line 67, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form .bt-submit {
    background: #f7c000;
    width: 260px;
    float: none;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 0; }
  /* line 75, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form .captcha-wrapper .input-wrapper {
    display: block;
    float: left;
    margin-right: 9px; }
    /* line 79, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
    .solicitar-orcamento .invoice-form .captcha-wrapper .input-wrapper input {
      width: 88px; }
  /* line 83, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form .captcha-box {
    top: 0;
    float: left; }
    /* line 86, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
    .solicitar-orcamento .invoice-form .captcha-box img {
      width: 120px;
      height: auto; }
  /* line 91, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form .reload-captcha {
    bottom: auto;
    top: -0;
    right: -23px;
    width: 20px;
    height: 32px;
    background-size: 100%;
    background-color: #FFF;
    background-position: center center; }
  /* line 101, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
  .solicitar-orcamento .invoice-form .input-wrapper span.error {
    right: 3px;
    margin-top: 33px;
    z-index: 1;
    padding: 4px;
    min-height: auto;
    background: #FFC; }
/* line 111, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento #neoassist {
  display: none !important; }
/* line 114, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento .themodal-overlay .the-modal {
  margin-left: 10px;
  margin-right: 10px; }
/* line 118, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento.themodal-lock .themodal-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  height: 550px;
  top: 104px;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }
/* line 125, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento.msie h3::before {
  margin-right: 5px; }
/* line 130, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento.safari h3 {
  font-size: 15px; }
/* line 133, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento.safari h3::before {
  margin-right: 0; }
/* line 138, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento.firefox h3 {
  font-size: 16px; }
/* line 141, C:/projetos/core/qualitysp/src/scss/invoice-form.scss */
.solicitar-orcamento.firefox h3::before {
  margin-right: 5px; }
