/* line 2, C:/projetos/core/qualitysp/src/scss/menu.scss */
.main-categories .wrapper-sub-section {
  width: 1170px; }
  /* line 4, C:/projetos/core/qualitysp/src/scss/menu.scss */
  .main-categories .wrapper-sub-section .wrapper-banner-menu {
    display: none !important; }
  /* line 8, C:/projetos/core/qualitysp/src/scss/menu.scss */
  .main-categories .wrapper-sub-section .level-2 > li {
    float: left;
    min-height: 180px;
    margin-right: 60px;
    margin-bottom: 50px; }
    /* line 13, C:/projetos/core/qualitysp/src/scss/menu.scss */
    .main-categories .wrapper-sub-section .level-2 > li > h4 {
      margin-bottom: 15px; }
      /* line 15, C:/projetos/core/qualitysp/src/scss/menu.scss */
      .main-categories .wrapper-sub-section .level-2 > li > h4 a {
        text-transform: uppercase;
        font-weight: bold !important;
        font-size: 15px;
        letter-spacing: -1px; }
    /* line 23, C:/projetos/core/qualitysp/src/scss/menu.scss */
    .main-categories .wrapper-sub-section .level-2 > li .level-3 li {
      margin-bottom: 0 !important; }
    /* line 26, C:/projetos/core/qualitysp/src/scss/menu.scss */
    .main-categories .wrapper-sub-section .level-2 > li .level-3 a {
      font-size: 14px; }
      /* line 28, C:/projetos/core/qualitysp/src/scss/menu.scss */
      .main-categories .wrapper-sub-section .level-2 > li .level-3 a[title="Veja mais"] {
        display: none; }

/* line 39, C:/projetos/core/qualitysp/src/scss/menu.scss */
.more-categories .more > .wd-category-menu {
  width: inherit !important; }
/* line 45, C:/projetos/core/qualitysp/src/scss/menu.scss */
.more-categories .more li.last a:hover {
  color: #FF8400 !important; }
/* line 52, C:/projetos/core/qualitysp/src/scss/menu.scss */
.more-categories .more .level-1 > li {
  margin-right: 60px !important;
  min-width: 200px;
  max-width: 300px;
  margin-bottom: 20px !important; }
  /* line 61, C:/projetos/core/qualitysp/src/scss/menu.scss */
  .more-categories .more .level-1 > li.has-children:not(.last) {
    min-height: 320px !important; }
/* line 71, C:/projetos/core/qualitysp/src/scss/menu.scss */
.more-categories .more .level-2 > li {
  overflow: hidden; }
  /* line 78, C:/projetos/core/qualitysp/src/scss/menu.scss */
  .more-categories .more .level-2 > li .level-3 {
    overflow: hidden; }
    /* line 80, C:/projetos/core/qualitysp/src/scss/menu.scss */
    .more-categories .more .level-2 > li .level-3 li {
      float: left;
      margin-bottom: -2px !important; }
      /* line 83, C:/projetos/core/qualitysp/src/scss/menu.scss */
      .more-categories .more .level-2 > li .level-3 li a {
        display: block;
        color: #8C8C8C !important;
        font-size: 12px; }
        /* line 87, C:/projetos/core/qualitysp/src/scss/menu.scss */
        .more-categories .more .level-2 > li .level-3 li a[title="veja mais"] {
          display: none !important; }
        /* line 90, C:/projetos/core/qualitysp/src/scss/menu.scss */
        .more-categories .more .level-2 > li .level-3 li a:hover {
          color: #FF8400 !important; }
      /* line 96, C:/projetos/core/qualitysp/src/scss/menu.scss */
      .more-categories .more .level-2 > li .level-3 li:not(:last-child) a:after {
        content: ', ';
        padding-right: 3px; }
/* line 107, C:/projetos/core/qualitysp/src/scss/menu.scss */
.more-categories .banner-more {
  display: none !important; }
