/* line 5, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.wd-product-price-history {
  display: none; }

/* line 8, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.prefix {
  color: #999 !important;
  font-size: 16px; }

/* line 15, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.default-price .value-price, .sale-price span, .list-price span {
  color: #FF8400 !important; }

/* line 18, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.header-icons .badge {
  background-color: #FF8400; }

/* line 23, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.default-price .value-price, .sale-price span, .list-price span {
  margin-left: 2px;
  font-size: 16px !important; }

/* line 33, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.btn:not(.btn-success), .btn-big.btn-success, .search--header button, .wd-product-deliveryfee .button-wrapper.button-wrapper button, .wd-product-reviews .wd-header .review-create, .sales_representative__form .button-wrapper button {
  background-color: #FF8400 !important;
  color: white !important;
  border: none; }

/* line 39, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.category-menu--home .category-menu__section .title {
  color: #FFF !important;
  background: #FF8400 !important;
  border: 1px solid #FF8400 !important;
  border-radius: 0; }

/* line 45, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
#footer--home {
  color: #FFF !important;
  background-color: #191f2b;
  border-top: 3px solid #141822; }

/* line 51, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
#footer--home * {
  color: #FFF !important; }

/* line 54, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
#footer--home a {
  color: #888 !important; }

/* line 58, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
#footer--home .footer-subtitle, #footer--home .page-menu .page-menu__root > a {
  text-transform: uppercase;
  font-weight: bold; }

/* PRODUCT */
/* line 65, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.middle--product .wd-descriptions .wd-descriptions-nav, .dropdown.active > .content {
  border: none !important; }

/* line 68, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.middle--product .wd-descriptions .wd-descriptions-nav li {
  margin-bottom: 1px; }

/* line 71, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.middle--product .wd-descriptions .wd-descriptions-nav li .title:first-child {
  color: #FFF !important;
  background: #191f2b !important;
  border: 0;
  border-radius: 0;
  text-transform: uppercase; }

/* line 83, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.btn-text:not(.btn-success), .btn-text:not(.btn-success):active, .btn-text:not(.btn-success):focus, .btn-text:not(.btn-success):hover .btn.btn-text:not(.btn-success):hover, button.btn-text:not(.btn-success):hover {
  color: white !important;
  text-decoration: none !important; }

/* line 87, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.middle--product .wd-product-variations .type-color-pallete .options label.selected, .middle--product .wd-product-variations .type-side-by-side .options label.selected {
  border-color: #FF8400 !important; }

/* line 91, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.basket__grid .item__name {
  color: #222 !important; }

/* line 94, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
body.BasketIndexRoute .item__skuoptions {
  display: none; }

/* line 96, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
#hamburger-button > .line, .hamburger-button > .line {
  background: #FF8400; }

/* line 99, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
#main-menu li a {
  color: white !important; }

/* line 103, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.product__body .wd-flags {
  max-width: inherit !important; }

/* line 106, C:/projetos/core/qualitysp/src/scss/mobile-custom.scss */
.product__body .product__flags .flag {
  display: inline-block !important;
  background-color: #CCC;
  color: white;
  border-radius: 0;
  padding: 4px 10px; }
