/* line 4, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
body.modal-home-newsletter .the-modal {
  max-width: 700px; }
  /* line 6, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
  body.modal-home-newsletter .the-modal > .close {
    background-color: white !important;
    border-radius: 50% !important;
    color: #19202B;
    font-weight: bold;
    top: 20px !important;
    right: 20px !important; }
  /* line 14, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
  body.modal-home-newsletter .the-modal .the-modal-container {
    padding: 0;
    background-color: transparent; }
    /* line 17, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
    body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter {
      display: block; }
      /* line 21, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
      body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .body .wd-marketing-banner img {
        border-radius: 20px 20px 0 0; }
      /* line 26, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
      body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer {
        background-color: #191F2B;
        height: 122px;
        border-radius: 0 0 20px 20px; }
        /* line 30, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
        body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form {
          display: table;
          margin: 0 auto;
          padding: 37px 0; }
          /* line 35, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
          body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .inputs-wrapper, body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .callback {
            width: 482px; }
          /* line 38, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
          body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .callback {
            display: none; }
            /* line 40, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
            body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .callback p {
              color: white;
              font-weight: bold;
              font-size: 16px;
              text-align: center; }
              /* line 45, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
              body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .callback p strong {
                font-size: 20px;
                color: #FF8400; }
          /* line 54, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
          body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .inputs-wrapper, body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .input-wrapper, body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .callback, body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .button-wrapper {
            float: left; }
          /* line 57, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
          body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .input-wrapper {
            padding: 0;
            position: relative; }
            /* line 60, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
            body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer form .input-wrapper label.error {
              color: white;
              position: absolute;
              left: 0;
              bottom: -22px; }
        /* line 69, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
        body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer input, body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button {
          height: 47px; }
        /* line 72, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
        body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer input {
          width: 220px;
          margin-right: 20px;
          border-radius: 7px;
          border: none;
          color: #191F2B;
          font-weight: bold;
          padding-left: 20px; }
        /* line 81, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
        body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button {
          width: 165px;
          background-color: #FF8400;
          height: 47px;
          line-height: 47px;
          color: white;
          font-weight: bold;
          border-radius: 30px;
          border: none;
          text-align: center;
          padding: 0 20px;
          font-weight: bold !important;
          text-transform: uppercase;
          box-shadow: 0 0 10px 2px #ff8400; }
          /* line 96, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
          body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button.copy {
            position: relative; }
            /* line 99, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
            body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button.copy:before {
              visibility: hidden;
              opacity: 0;
              transition: all .2s ease-in-out;
              content: 'cupom copiado!';
              position: absolute;
              top: 0px;
              text-align: center;
              width: 100%;
              left: 0;
              font-weight: normal;
              text-transform: lowercase;
              background-color: #FFC;
              padding: 0;
              height: 24px;
              line-height: 24px;
              border-radius: 5px;
              color: black;
              font-size: 12px; }
            /* line 119, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
            body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button.copy:after {
              visibility: hidden;
              opacity: 0;
              transition: all .2s ease-in-out;
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 5px 0 5px;
              border-color: #FFC transparent transparent transparent;
              position: absolute;
              left: 50%;
              margin-left: -2px;
              top: 0; }
            /* line 135, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
            body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button.copy.copied:before {
              top: -31px;
              opacity: 1;
              visibility: visible; }
            /* line 140, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
            body.modal-home-newsletter .the-modal .the-modal-container #modal-home-newsletter .footer button.copy.copied:after {
              top: -7px;
              opacity: 1;
              visibility: visible; }

/* line 153, C:/projetos/core/qualitysp/src/scss/modal-newsletter.scss */
#modal-home-newsletter {
  display: none; }
