/* line 4, C:/projetos/core/qualitysp/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 11, C:/projetos/core/qualitysp/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 6, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default .wrapper-menu-top {
  background-color: #EEE !important; }

/* line 9, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default {
  background-color: white !important; }

/* line 13, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default .navbar-header .logo {
  width: 110px !important;
  height: 41px !important;
  top: 35px; }

/* line 18, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default .navbar-header {
  min-height: 40px; }

/* line 21, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default .navbar-nav li a {
  line-height: 50px !important; }

/* line 24, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main {
  margin-top: 80px !important; }

/* line 29, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default .navbar-nav.menu-main a, body #main .grid .wrapper-nav-categories .nav-categories li.active a {
  color: #005628; }

/* line 32, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .navbar-default .navbar-nav.menu-main a {
  text-transform: inherit !important; }

/* line 35, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .grid .wrapper-nav-categories .nav-categories li.active {
  box-shadow: 0 8px 0px -6px #005628; }

/* line 39, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .check-partners {
  background-color: #005628;
  border-bottom-color: #004420;
  margin-top: -32px; }

/* line 45, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .grid .partner .wrapper .partner-detail {
  background-color: rgba(0, 86, 40, 0.88); }

/* line 48, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .grid .partner .wrapper .partner-detail .partner-content ul li a {
  border-bottom-color: #005628; }

/* line 52, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body .modal .modal-header .modal-title {
  color: #005628; }

/* line 56, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
.btn-primary {
  background-color: #005628;
  border-color: #002b14; }
  /* line 59, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
  .btn-primary:hover {
    background-color: #002b14;
    border-color: #001107; }

/* line 65, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body .modal .modal-header {
  border-bottom-color: #005628; }

/* line 69, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
.wrapper-banner.bgParallax {
  background-color: #004420 !important;
  background-image: none !important; }

/* line 75, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .check-partners:before, body #main .check-partners:after {
  display: none; }

/* line 80, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #005628; }

/* line 83, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
.nav-pills > li > a {
  color: #005628; }

/* line 86, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
.label-danger {
  background-color: #337753; }

/* line 90, C:/projetos/core/qualitysp/src/scss/sicredi.scss */
body #main .wrapper-list-actions .list-actions .wrapper .icon {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }
