/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-logo-abid {
  background-image: url(sprite.png);
  background-position: -52px -57px;
  width: 28px;
  height: 12px;
}
.icon-logo-core {
  background-image: url(sprite.png);
  background-position: 0px -57px;
  width: 52px;
  height: 13px;
}
.icon-logo-devdog {
  background-image: url(sprite.png);
  background-position: 0px -70px;
  width: 18px;
  height: 17px;
}
.icon-payment-footer {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 467px;
  height: 57px;
}
