@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';
@import '../../_vars';

#content-wrapper {
	> .filter {
		height: 463px;
		background-image: url('/Custom/Content/Themes/QualitySP/Landings/monte-seu-carro/images/bg.jpg');
		background-repeat: repeat-x;
		.left {
			.logo {
				margin-top: 38px;
				strong {
					display: block;
					text-indent: -9999px;
					background-image: url('/Custom/Content/Themes/QualitySP/Landings/monte-seu-carro/images/sprite.png');
					background-repeat: no-repeat;
					background-position: 0 0;
					width: 263px;
					height: 139px;
				}
			}
			p {
				color: white;
				font-size: 16px;
			}
			.fields {
				.field {
					margin-bottom: 10px;
					position: relative;
					.icon {
						position: absolute;
						right: 10px;
						top: 5px;
						z-index: 2;
					}
				}
				select {
					@include appearance(none);
					background-color: white;
					height: 40px;
					line-height: 40px;
					border-radius: 5px;
					border-color: $gray;
					padding: 0 0px 0 20px;
					color: #888;
					width: 100%;
					position: relative;
					z-index: 1;
				}
			}
		}
		.right {
			background-image: url('/Custom/Content/Themes/QualitySP/Landings/monte-seu-carro/images/sprite.png');
			background-repeat: no-repeat;
			width: 487px;
			height: 407px;
			background-position: 0 -139px;
			margin: 30px 50px;
		}
	}
	.result {
		margin-top: 30px;
		> .header {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
}