/* line 4, C:/projetos/core/qualitysp/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 11, C:/projetos/core/qualitysp/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 6, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
#content-wrapper > .filter {
  height: 463px;
  background-image: url('/Custom/Content/Themes/QualitySP/Landings/monte-seu-carro/images/bg.jpg');
  background-repeat: repeat-x; }
  /* line 11, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
  #content-wrapper > .filter .left .logo {
    margin-top: 38px; }
    /* line 13, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
    #content-wrapper > .filter .left .logo strong {
      display: block;
      text-indent: -9999px;
      background-image: url('/Custom/Content/Themes/QualitySP/Landings/monte-seu-carro/images/sprite.png');
      background-repeat: no-repeat;
      background-position: 0 0;
      width: 263px;
      height: 139px; }
  /* line 23, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
  #content-wrapper > .filter .left p {
    color: white;
    font-size: 16px; }
  /* line 28, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
  #content-wrapper > .filter .left .fields .field {
    margin-bottom: 10px;
    position: relative; }
    /* line 31, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
    #content-wrapper > .filter .left .fields .field .icon {
      position: absolute;
      right: 10px;
      top: 5px;
      z-index: 2; }
  /* line 38, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
  #content-wrapper > .filter .left .fields select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: white;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border-color: #E4E4E4;
    padding: 0 0px 0 20px;
    color: #888;
    width: 100%;
    position: relative;
    z-index: 1; }
  /* line 53, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
  #content-wrapper > .filter .right {
    background-image: url('/Custom/Content/Themes/QualitySP/Landings/monte-seu-carro/images/sprite.png');
    background-repeat: no-repeat;
    width: 487px;
    height: 407px;
    background-position: 0 -139px;
    margin: 30px 50px; }
/* line 62, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
#content-wrapper .result {
  margin-top: 30px; }
  /* line 64, C:/projetos/core/qualitysp/src/scss/monte-seu-carro/css/index.scss */
  #content-wrapper .result > .header {
    font-size: 24px;
    margin-bottom: 30px; }
