@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';
@import '../../_vars';

%button-buy {
	display: block;
	border-radius: 50px;
	background-color: #0C141F;
	padding: 20px 10px;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 20px 0;
	&:hover {
		background-color: white;
		color: #0C141F;
	}
}

.wrapper-banner {
	margin-bottom: 40px;
}
.row {
	.open-quick-view {
		cursor: pointer;
		transition: opacity .2s ease-in-out;
		&:hover {
			opacity: 0.9;
		}
	}
	.facebook {
		font-size: 9px;
		text-transform: uppercase;
		text-decoration: underline;
		letter-spacing: 1px;
		width: 155px;
		padding-left: 30px;
		a {
			color: white;
		}
		.icon {
			width: 21px;
			height: 21px;
			border: 2px solid white;
			display: inline-block;
			margin-right: 9px;
			margin-left: -30px;
			margin-bottom: -13px;
			border-radius: 50%;
			font-size: 11px!important;
			position: relative;
			top: 5px;
			&:before {
				position: relative;
				top: 4px;
				left: 5px;
			}
		}
		&:hover {
			a {
				color: #3B5999!important;
				.icon {
					border-color: #3B5999!important;
				}
			}
		}
	}
	&.highlight {
		margin: 0 auto 40px auto;
		padding: 60px 20px 60px 60px;
		//background-color: orange;
		background-image:
			radial-gradient(
			circle farthest-side at center,
			#FEB30C 16%,
			#FF8500
		);
		.product-main {
			.last-chance {
				display: block;
				text-transform: uppercase;
				color: #ffcb01;
				font-size: 15px;
				letter-spacing: 1px;
				line-height: 23px;
				.icon {
					//width: 23px;
					//height: 23px;
					display: inline-block;
					//border: 1px solid #FFB101;
					margin-bottom: -5px;
					position: relative;
					top: -2px;
				}
			}
			> strong {
				color: white;
				font-size: 34px;
				line-height: 42px;
			}
			p {
				font-size: 12px;
				color: #ffde5f;
				line-height: 16px;
				text-shadow: 1px 1px 0px rgba(orange, 1);
				br {
					display: none;
				}
			}
			.price {
				.list-price {
					color: #ffcb00;
					font-size: 18.5px;
					//font-weight: bold;
					text-decoration: line-through;
				}
				.sale-price {
					font-size: 57px;
					line-height: 57px;
					text-shadow: 2px 2px 2px $orange;
					color: white;
					font-weight: bold;
					margin-left: -4px;
				}
				.condition {
					color: white;
				}
			}
			.priceContainer {
				color: white;
				.sale-price {
					em {
						display: none;
					}
					span {
						font-size: 57px;
						text-shadow: 2px 2px 2px $orange;
						color: white;
						font-weight: bold;
					}
				}
				.condition,
				.savings {
					font-size: 14px!important;
					* {
						font-size: 14px!important;
					}
				}
			}
		}
		.countdown {
			position: relative;
			> strong {
				text-transform: uppercase;
				color: white;
				font-weight: normal;
				font-size: 12px;
				letter-spacing: 1px;
				margin-top: 30px;
				padding-bottom: 5px;
				display: block;
			}
			> .icon {
				width: 30px;
				height: 30px;
				display: block;
				position: absolute;
				top: 68px;
				left: 20px;
			}
			.time {
				overflow: hidden;
				background-color: rgba(white, 0.5);
				border-radius: 10px;
				padding: 6px;
				box-shadow: 0 0 10px 2px rgba(black, 0.02);
				height: 63px;
				padding-left: 60px;
				li {
					float: left;
					width: 33%;
					text-align: center;

					&:nth-child(1),
					&:nth-child(2) {
						border-right: 1px solid rgba(black, 0.1);
					}
					&:first-child {
						
					}
					strong,
					span {
						display: block;
					}
					strong {
						font-size: 26px;
						color: white;
						margin: 0;
						padding: 0;
						line-height: 30px;
						font-weight: normal;
					}
					span {
						font-size: 14px;
						color: $orange;
						text-transform: uppercase;
					}
				}
			}
			.buy {
				@extend %button-buy;
			}
		}
		.photo {
			.wrapper-photo {
				background-color: white;
				margin: 0 20px;
				padding: 20px;
				box-shadow: 0 0 20px 6px rgba(black, 0.2);
				img {
					display: table;
					margin: 0 auto;
				}
			}
		}
	}

	.tabs {
		overflow: hidden;
		li {
			float: left;
			width: 50%;
			background-color: #FAFAFA;
			border: 1px solid #DDD;
			&.selected {
				background-color: #191F2B;
				border-color: transparent;
				a {
					color: white;
				}
			}
			a {
				color: #999;
				display: block;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				padding: 20px 0;
			}
		}
	}
	.list {
		> li {
			.row {
				> .column {
					float: left;
					height: 270px;
				}
				.photo {
					width: 300px;
					position: relative;
					border-style: solid;
					border-color: #E4E4E4;
					border-width: 0 0 1px 1px;
					img {
						width: 162px;
						height: 162px;
						position: absolute;
						top: 50%;
						margin-top: -81px;
						left: 50%;
						margin-left: -81px;
					}
				}
				.information {
					width: 570px;
					display: table;
					border-bottom: 1px solid #E4E4E4;
					.wrapper-information {
						display: table-cell;
						vertical-align: middle;
						> strong {
							font-size: 16px;
							font-weight: normal;
							color: black;
							display: block;
							padding: 0 40px 10px 0;
						}
					}
					.price {
						overflow: hidden;
						.price-to,
						.price-from {
							float: left;
						}
						.price-to {
							width: 60%;
							.instant-price {
								font-size: 44px;
							}
							.condition {
								* {
									font-size: 16px;
									color: #626262;
									font-weight: normal;
								}
							}
							.sale-price {
								display: none;
							}
						}
						.price-from {
							> span {
								display: block;
								color: #ffcb00;
								font-size: 16px;
							}
							dfn {
								font-size: 28px;
								color: #858585;
								text-decoration: line-through;
								font-style: normal;
								margin-bottom: 10px;
								display: block;
							}
							.facebook {
								a {
									color: #929292;
								}
								.icon {
									border: 2px solid #858585;
								}
							}
						}
					}
				}
				.countdown {
					//background-color: orange;
					background-image:
						radial-gradient(
						circle at bottom right,
						#FEB30C,
						#FF8500
					);
					border: 1px solid transparent;
					border-top: none;
					width: 300px;
					display: table;
					.wrapper-countdown {
						display: table-cell;
						vertical-align: middle;
						.icon {
							width: 30px;
							height: 30px;
							display: table;
							margin: 0 auto 20px;
						}
						> strong {
							display: block;
							color: white;
							font-size: 11px;
							font-weight: normal;
							text-align: center;
							text-transform: uppercase;
							letter-spacing: 1px;
						}
						.time {
							overflow: hidden;
							display: table;
							margin: 10px auto 20px;
							li {
								float: left;
								width: 80px;
								text-align: center;
								&:not(:last-child) {
									border-right: 1px solid rgba(black, 0.1);
								}


								strong {
									font-size: 26px;
									color: white;
									display: block;
									text-align: center;
									line-height: 26px;
									font-weight: normal;
								}
								span {
									font-size: 14px;
									color: #ffcf15;
									text-transform: uppercase;
									font-weight: bold;
								}
							}
						}
						.buy {
							@extend %button-buy;
							width: 234px;
							font-size: 13.16px;
							letter-spacing: inherit;
							display: table;
							margin: 0 auto;
						}
					}
				}
			}
			&.expired {
				> .row {
					display: block!important;
				}
				.photo {
					opacity: 0.4;
				}
				.wrapper-information {
					* {
						color: #A3A3A3!important;
					}
				}
				.wrapper-countdown {
					> strong {
						font-size: 0!important;
						&:before {
							content: 'A promoção expirou!';
							font-size: 11px!important;
							display: table;
							margin: 0 auto;
						}
					}
					.time {
						* {
							color: rgba(white, 0.5)!important;
						}
					}
					.buy {
						background-color: #FF8500!important;
						color: white!important;
					}
				}
				.countdown {
					border-color: transparent;
					background-image:
						radial-gradient(
						circle at bottom right,
						#0C2042,
						#0C141F
					);
				}
			}
		}
		&:not(.list-expired) {
			> li.expired {
				display: none;
			}
		}
		&.list-expired {
			> li:not(.expired) {
				display: none;
			}
		}
	}

	&.wait-offers {
		border-style: solid;
		border-color: #E4E4E4;
		border-width: 0 1px 1px 1px;
		p {
			color: $orange;
			font-size: 24px;
			text-align: center;
			font-weight: bold;
			height: 270px;
			line-height: 270px;
			margin: 0;
		}
	}
}

body.quick-view {
	.the-modal {
		max-width: 1070px;
		//height: 600px;
		iframe {
			height: 580px!important;
		}
	}
}