.page-about {
	#main #middle{
		width:100%;
		padding: 0 0 20px 0;
	}
	#header .breadcrumbs{
		display: none;
	}
	h1,h2{
		color: $color-1;
		font-size: 25px;
		padding-bottom: 10px;
		border-bottom: solid 1px $color-1;
		@extend .bold;
	}
	p{
		color: #97989c;
		font-size: 18px;
		line-height: 22px;
	}
	.parallax{
		height: 530px;
	}
	.video a{
		position: relative;
		display: block;
		width: 100%;
		height: 530px;
		background: #000;
		opacity: 0.3;
		text-indent: -999em;
	
		&::before{
			display: block;
			content: "";
			@extend .sprite;
			@include size(122px);
			@include bg-pos(-2px -615px);
			position: absolute;
			top: 170px;
			left: 50%;
			margin-left: -61px;
		}
	}
	.mission{
		overflow: hidden;
		margin-top: 30px;
		margin-bottom: 30px;
		h2{
			border:none;
			text-align: center;
			margin-bottom: 85px;
			padding: 0;
		}
		.block{
			text-align: center;
			float: left;
			width: 27.1%;
			height: 346px;
			padding: 10px 2%;
			margin-right: 3%;
			border: solid 1px $gray;
			@include border-radius(5px);
			&.last{
				margin-right: 0;
				text-align: left;
				h2{
					margin-bottom: 10px;
				}
			}
		}
		b{
			@extend .bold;
		}
	}
	.photos{
		img{
			margin-right: 27px;
			&.last{
				margin-right: 0;
			}
		}
	}
	.points{
		overflow: hidden;

		.input-wrapper,
		.button-wrapper{
			display: inline-block;
		}
		.city{
			display: none;
		}
		label, select{
			color: $color-1;
			font-size: 18px;
		}
		label{
			display: inline-block;
			width: 195px;
			text-align: center;
		}
		select{
			padding: 12px;
			width: 165px;
			border-color: $color-1;
		}
		button{
			font-size: 18px;
			@extend .bold;
			width: 163px;
    		margin-left: 21px;
			padding-top: 14px;
			padding-bottom: 14px;
		}
		
		address{
			float: left;
			width: 530px;
			position: relative;
			display: block;
			margin-bottom: 16px;
			color: $color-1;
			font-size: 18px;
			padding: 10px 15px;
			background: #edf2f8;
			@include border-radius(5px);
			@extend .regular;

			&:first-child{
				margin-right: 20px;
			}

			span{
				display: block;
			}
			.go-to-map{
				display: block;
				padding: 10px 15px 10px 50px;
				position: absolute;
				top: 10px;
				right: 10px;
				text-decoration: none;
				border: solid 1px $color-1;
				@include border-radius(5px);

				&::before{
					position: absolute;
					top: 8px;
					left: 12px;
					display: block;
					content: "";
					@extend .sprite;
					@include size(18px, 23px);
					@include bg-pos(-460px -311px);
				}
			}
		}
		.map{
			float: right;
			border: solid 1px $gray;
			@include border-radius(5px);
		}
	}
	.catalog{
		overflow: hidden;
		.item{
			float: left;
			margin: 10px 50px 5px;
		}
		a{
			display: block;
			position: relative;
		}
		.btn{
			margin-top: 30px;
			padding:12px 0 12px 20px;
			&::before{
				position: absolute;
				top: 8px;
				left: 28px;
				display: block;
				content: "";
				@extend .sprite;
				@include size(22px, 26px);
				@include bg-pos(-484px -310px);
			}
		}
	}
}