body{
	font-family: "Panton", sans-serif;
	color: $color;
	font-size: 14px;
	&:not(.mobile){
		margin-top: 94px;
	}	
}
a{
	color: $color-1;
	&:hover,
	&:active,
	&:focus,
	&:visited{
		color: $color-1;
	}
}
b,i,strong,em{
	font-weight: normal;
}

input,
select,
textarea{
	padding: 10px;
	border: solid 1px $gray;
	@include border-radius(5px);
	outline: none;
}
button{
	cursor: pointer;
	outline: none;
}
.btn{
	display: inline-block;
	text-align: center;
	padding: 8px;
	@include border-radius(5px);
	text-decoration: none;
	border: 0;
	cursor: pointer;
	outline: none;
	&:hover{
		opacity: 0.9;
	}
}
.btn-default{
	background-color: $gray;
	color: $white;
	&:active, 
	&:focus, 
	&:visited,
	&:hover{
		color: $white;
	}
}
.btn-primary{
	background-color: $color-1;
	color: $white;
	&:active, 
	&:focus, 
	&:visited,
	&:hover{
		color: $white;
	}
}
.btn-secondary{
	background-color: $color-2;
	color: $color-1;
	&:active, 
	&:focus, 
	&:visited,
	&:hover{
		color: $color-1;
	}
}
.text-center{
	text-align: center;
}