.page-brand{
	h1, h2{
		color: $color-1;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 20px;
	}
	p{
		font-size: 18px;
		padding-bottom: 30px;
	}
}
.context-brand-lg{
	.breadcrumbs{
		display: none;
	}
	.text-center{
		width: 810px;
	}
	#middle{
		padding-top: 30px;
	}
	&.pagination header{
		div[class^="group"]{
			display: none;
		}
	}
}