
.page-btu-calculator {
	.sprite-calculator{
		background-image: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/sprite.png'+$version);
		background-repeat: no-repeat;
	}
	#main #middle{
		width:100%;
		padding: 0 0 20px 0;
	}
	#header .breadcrumbs{
		display: none;
	}
	.head{
		padding: 18px 0;
		background: $color-1;
		.wrapper{
			position: relative;

			&::before{
				position: absolute;
				top: 6px;
				left: 0;
				content: "";
				display: block;
				@include size(70px);
				@extend .sprite-calculator;
				@include bg-pos(-1px -1px);
			}
		}
		h1, h2{
			color: $white;
		}
		h1{
			margin: 0 0 13px 98px;
			font-size: 40px;
			@extend .bold;
		}
		h2{
			margin: 0 0 0 98px;
			font-size: 14px;
		}
		a{
			position: absolute;
			top: 30px;
			right: 0;
			color: #00aeef;
			text-decoration: underline;
			
			&::before{
				position: relative;
				top: 5px;
				margin-right: 10px;
				content: "";
				display: inline-block;
				@include size(17px);
				@extend .sprite-calculator;
				@include bg-pos(-72px -1px);				
			}
		}
	}
	.steps{
		ul{
			overflow: hidden;
			display: block;
			margin: 25px 0;
			padding: 0;
		}
		li{
			position: relative;
			float: left;
			display: block;
			@include size(116px);
			margin-right: 28px;
			border: solid 1px $gray;
			@include border-radius(5px);
			text-align: center;
			color:$color-1;
			font-size: 16px;

			.icon{
				display: block;
				margin: 15px auto;
				@include size(54px);
				@extend .sprite-calculator;
			}
			&::after{
				position: absolute;
				top: 48px;
				right: -25px;
				content: "";
				display: block;
				@include size(20px);
				@extend .sprite-calculator;
				@include bg-pos(-72px -22px);
			}
			&.last{
				margin-right: 0;
				&::after{
					display: none;
				}
			}
			&.current{
				color: #27aade;
				border-color: #27aade;
			}
		}
		.step-1{
			.icon{
				@include bg-pos(-2px -74px);
			}
			&.current .icon{
				@include bg-pos(-2px -134px);
			}
		}
		.step-2{
			.icon{
				@include bg-pos(-54px -74px);
			}
			&.current .icon{
				@include bg-pos(-54px -134px);
			}
		} 
		.step-3{
			.icon{
				@include bg-pos(-106px -74px);
			}
			&.current .icon{
				@include bg-pos(-106px -134px);
			}
		} 
		.step-4{
			.icon{
				@include bg-pos(-160px -74px);
			}
			&.current .icon{
				@include bg-pos(-160px -134px);
			}
		} 
		.step-5{
			.icon{
				@include bg-pos(-211px -74px);
			}
			&.current .icon{
				@include bg-pos(-211px -134px);
			}
		} 
		.step-6{
			.icon{
				@include bg-pos(-264px -74px);
			}
			&.current .icon{
				@include bg-pos(-264px -134px);
			}
		} 
		.step-7{
			.icon{
				@include bg-pos(-317px -74px);
			}
			&.current .icon{
				@include bg-pos(-317px -134px);
			}
		} 
		.step-8{
			.icon{
				@include bg-pos(-370px -74px);
			}
			&.current .icon{
				@include bg-pos(-370px -134px);
			}
		}  
	}
	.content{
		& > div{
			position: relative;
			padding: 18px;
			height: (593px-36px);
			border: solid 1px $gray;
			@include border-radius(5px);
		}
		span{
			display: inline-block;
			margin-bottom: 5px;
			color: #27aade;
			font-size: 16px;
			@extend .bold;
		}
		h3{
			margin: 0;
			color: $color-1;
			font-size: 20px;
			@extend .bold;
		}
		.btn{
			display: block;
			width: 245px;
			padding: 13px 0;
			margin-bottom: 5px;
			text-transform: uppercase;

			&:hover{
				background: $color-2;
			}

		}
		.btn.btn-default{
			position: absolute;
			top: 18px;
			right: 18px;
			width: 70px;
			padding: 6px 0;
			&:hover{
				@extend .btn-default;
			}
		}
		.group{
			margin-top: 130px;
		}
		.input-wrapper{
			width: 225px;
			position: relative;
			padding: 0 10px;
			margin-bottom: 5px;
			border: solid 1px $gray;
			@include border-radius(5px);
		}
		label{
			color: $color-4;
			display: inline-block;
			width: 145px;
		}
		input{
			border:none;
			width: 25px;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		input,
		.measure{
			color: $black;
			font-size: 20px;
			@extend .bold;
		}
		.plus,
		.minus{
			position: absolute;
			right: 10px;
			background: $color-2;
			@include size(15px);
			padding: 0;
			@include border-radius(20px);
			font-size: 12px;
		}
		.plus{
			top: 5px;
		}
		.minus{
			top: 25px;
		}
	}
	.region{
		background-repeat: no-repeat;
		@include bg-pos(505px 60px);
	}
	.region-1{
		background-image: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/region-1.jpg');
	}
	.region-2{
		background-image: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/region-2.jpg');
	}
	.region-3{
		background-image: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/region-3.jpg');
	}
	.region-4{
		background-image: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/region-4.jpg');
	}
	.region-5{
		background-image: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/region-5.jpg');
	}
	.environment-1{
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/environment-1.jpg') no-repeat top right;
	}
	.environment-2{
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/environment-2.jpg') no-repeat top right;
	}
	.environment-3{
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/environment-3.jpg') no-repeat top right;
	}
	.environment-4{
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/environment-4.jpg') no-repeat top right;
	}
	.environment-5{
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/environment-5.jpg') no-repeat top right;
	}	
	#step-6{
		.group{
			margin-top: 75px;
		}
	}
	#step-8{
		height: 465px;
		text-align: center;
		padding: 130px 95px 0 680px;
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/finish.jpg'+ $version) no-repeat 38px bottom;

		h3{
			font-size: 50px;
			text-transform: uppercase;

			&::before{
				position: relative;
				top: 12px;
				margin-right: 30px;
				content: "";
				display: inline-block;
				@include size(60px);
				@extend .sprite-calculator;
				@include bg-pos(-109px -7px);
			}
		}
		p, span{
			color: $color-4;
			font-size: 25px;
		}
		span{
			color: $black;
		}
		.btn{
			margin: 0 auto;
			color: $white;

			&:hover{
				background: $color-1;
			}
		}
	}
	#step-rd{
		background: url($url+'/Custom/Content/Themes/Dufrio/Landings/btu-calculator/img/register.jpg'+ $version) no-repeat center center;
 
		h3{
			position: relative;
			font-size: 21px;
			padding-left: 80px;
			margin-top: 170px;
			margin-bottom: 10px;

			&::before{
				content: "";
				position: absolute;
				top: 5px;
				left: 0px;
				@extend .sprite-calculator;
				@include bg-pos(-187px -7px);
				@include size(55px,42px);
			}
		}
		h3,
		form{
			margin-left: 370px;
		}
		label{
			display: none;
		}
		.input-wrapper{
			width: 320px;
			border-color: #dae4f0;
			background: #FFF;

		}
		button{
			width: 340px;
			background: $color-2;
			color: $color-1;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
			padding-top: 12px;
			padding-bottom: 12px;
		}
		input{
			width: 100%;
			text-align: left;
			color: #9999cc;
			font-size: 20px;
		}
		.error{
			background: #FFC;
			z-index: 10;
			color: #333;
			font-size: 13px;
			padding: 5px;
			margin: 0;
			display: block;
			height: auto;
			min-height: auto;
			right: -1px;
			bottom:-26px;
		}
	}
}