/* =========== WD-WIDGET */
.wd-title{
	font-size: 25px;
	text-align: center;
	color: $color-1;
	@extend .bold;
	padding: 10px;

	h1{
		font-size: 25px;
	}
}
/* =========== END WD-WIDGET */
/* =========== BRANDS */
.brands{
	margin-bottom: 20px;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		overflow: hidden;
	}
	li{
		position: relative;
		display: block;
		@include size(10%,80px);
		float: left;
		text-align: center;
	}
	a{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -999em;
	}
	.lg{
		background: url($brand-url + 'lg.gif' + $version) no-repeat center center;
	}
	.midea{
		background: url($brand-url + 'midea.gif' + $version) no-repeat center center;
	}
	.springer{
		background: url($brand-url + 'springer.gif' + $version) no-repeat center center;
	}
	.dugold{
		background: url($brand-url + 'dugold.gif' + $version) no-repeat center center;
	}
	.whirlpool{
		background: url($brand-url + 'whirlpool.gif' + $version) no-repeat center center;
	}
	.emicol{
		background: url($brand-url + 'emicol.gif' + $version) no-repeat center center;
	}
	.brastemp{
		background: url($brand-url + 'brastemp.gif' + $version) no-repeat center center;
	}
	.consul{
		background: url($brand-url + 'consul.gif' + $version) no-repeat center center;
	}
	.carrier{
		background: url($brand-url + 'carrier.gif' + $version) no-repeat center center;
	}
	.elgin{
		background: url($brand-url + 'elgin.gif' + $version) no-repeat center center;
	}
}
/* =========== END BRANDS */
/* =========== INFORMATION */
.information{
	background: $color-1;
	padding: 45px 60px 100px;
	overflow: hidden;

	.wrapper > div{
		float: left;
		width: 25%;
		padding: 0 4%;
		position: relative;
		height: 300px;

		&::after{
			content: "";
			display: block;
			@include size(4px,264px);
			@extend .sprite;
			@include bg-pos(-595px -335px);
			position: absolute;
			top: 12px;
			left: -15px;
		}
		&:first-child::after{
			display: none;
		}
	}
	h5{
		color: $color-2;
		font-size: 25px;
		@extend .bold;
		margin:0;
		padding: 0;

		&::before{
			content: "";
			display: inline-block;
			@include size(45px);
			@extend .sprite;
			@include bg-pos(-1px -461px);
			position: relative;
			top: 12px;
			margin-right: 10px;
		}

	}
	p{
		margin-top: 30px;
		font-size: 18px;
		color: #FFF;
	}
	.btn{
		position: absolute;
		bottom: -65px;
		padding: 0;
		font-size: 18px;
		@extend .bold;
		line-height: 44px;
		@include size(165px, 44px);
	}
	.blog h5::before{
		@include bg-pos(-44px -457px);
	}
	.newspaper h5::before{
		@include bg-pos(-89px -457px);
	}
}
/* =========== END INFORMATION */
/* =========== BREADCRUMBS */
.breadcrumbs{
	background: #edf2f8;
	padding: 15px 0;
	.location{
		display: none;
	}
	a{
		color: #93989e;
		text-decoration: none;
	}
	li::after{
		content: ">";
		color: $color-1;
	}
	.last{
		text-decoration: underline;
		&::after{
			content: "";
		}
	}
}
/* =========== END BREADCRUMBS */
.description-title{
	h1{
		font-size: 20px;
		color: $color-1;
	}
}
.description-content{
	h2{
		font-size: 14px;
		@extend .regular;
	}
}
/* =========== SLIDER */
.wd-marketing-banner.slider{
	height: 492px!important;
	overflow: hidden;
	.banner-wrapper{
		background-position: center;
	}
	.slider-controller{
		right: 0;
		left: 0;
		display: block;
		line-height: normal;
		margin: 0 0 35px 0;
		padding: .5em 2em;
		text-align: center;

		li{
			float: none;
			text-indent: -9999em;
			display: inline-block;
			@include size(17px);
			background: rgba(39, 96, 173, 0.5);
			@include border-radius(20px);
		    margin: 0 9px 0 0;

		    &.current{
		    	background: $color-1;
		    }
		}
	}
}
/* =========== END SLIDER */
/* =========== HIDE */
.wd-hide{
	display: none;;
}
/* =========== END HIDE */
.page-error{
	#main #middle{
		width:100%;
		padding: 0 0 20px 0;
	}
	#header .breadcrumbs{
		display: none;
	}	
	.fullbanner{
		display: none;
	}
	.error{

	position: relative;
	text-align: center;
	padding: 100px 200px 50px;
	margin: 100px 0;

	h1::before{
		content:"";
		display: block;
		@extend .sprite;
		@include bg-pos(-255px -641px);
		@include size(70px);
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -35px;
	}
	}

}
.page-cms{
	h1,h2{
		text-align: left;
		color: $color-1;
		font-size: 25px;
		padding-bottom: 10px;
		border-bottom: solid 1px $color-1;
		@extend .bold;
	}
	.wd-title{
		padding:0; 
	}
	h3{
		font-size: 16px;
		color:$color-4;
		line-height: 22px;
	}
}
.page-brands{
	.wd-browsing-brand {
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li{
			margin: 20px;
			float: left;
		}
	}
}