.page-contact{
	#main #middle{
		width:100%;
		padding: 0 0 20px 0;
	}
	#header .breadcrumbs{
		display: none;
	}
	h1,h2{
		color: $color-1;
		font-size: 25px;
		padding-bottom: 10px;
		border-bottom: solid 1px $color-1;
		@extend .bold;
	}
	p{
		color: #97989c;
		font-size: 18px;
		line-height: 22px;
	}
	#middle{
		label{
			display: inline-block;
			width: 150px;
		}
		.row{
			margin-bottom: 30px;
		}
		span.error{
			position: absolute;
			left: 150px;
			top: 40px;
			background: none;
		}
		select{
			width: 399px;
		}
		textarea{
			width: 376px;
			height: 50px;
		}
		.feedback-message label{
			position: relative;
			top: -35px;
		}
		.captcha-wrapper{
			top: 15px;
		}
		input.captcha{
			width: 70px;
		}
		.captcha-box{
			top: 0;
			left: -14px;
		}
		.bt-submit{
			width: 399px;
			margin-right: 4px;
		}
	}
}