footer{
	h5{
		margin: 0;
		font-size: 18px;
		color: $color-1;
		@extend .bold;
	}
	.newsletter{
		display: none;
		padding: 34px 0;
		background: $color-2;
		color: $white;
		
		p{
			margin: 0 60px 0 100px;
			width: 435px;
			font-size: 25px;
			@extend .bold;
			line-height: 24px;
		}
		p,.input-wrapper{
			display: inline-block;
		}
		.input-wrapper{
			position: relative;
			top: -10px;
		}
		input,
		button{
			border:none;
			padding: 14px 28px;
			color: $white;
			background: transparent;
			border: solid 1px $white;
			@include border-radius-separate(5px, 0px, 0px, 5px);
		}
		button{
			position: relative;
			left: -6px;
			@include border-radius-separate(0px, 5px, 5px, 0px);
		}
		.input-email-marketing-newsletter{
			width: 176px;
			left: -4px;
			input{
				width: 120px;
				@include border-radius-separate(0px, 0px, 0px, 0px);
			}
		}
		.input-name-marketing-newsletter{
			input{
				width: 120px;
			}
		}
		label,
		.wd-header{
			display: none;
		}
		form{
			margin: 0;
		}
		.error-flyout span.error{
			max-width: 300px!important;
			position: absolute;
			left: 20px;
			top: 45px;
			background: transparent;
			font-size: 14px;
		}
		.message{
			padding: 16px;
			text-align: center;
			font-size: 25px;
			font-weight: bold;
		}
	}
	.help-center{
		font-size: 16px;
		border-top: solid 2px $color-1;
		box-sizing: initial;
		.wrapper{
			position: relative;
			top: -2px;
			height: 220px;
			padding: 20px 0;
			border-top: solid 2px $color-2;
		}
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		.wd-page-menu {
			float: left;
			margin-right: 25px;
			> ul{
				margin: 0 20px;
			}
			a{
				text-decoration: none;
				&:hover{
					color: $color-1;
				}
			}
			ul ul a{
				display: inline-block;
				color: $color-4;
				margin-bottom: 10px;
			}
			& > ul > li > a{
				display: block;
				font-size: 18px;
				@extend .bold;
				margin-bottom: 35px;
			}
		}
		.help{
			float: right;
			text-align: right;
			margin-right: 20px;

			span, a{
				display: inline-block;
				margin-bottom: 25px;
				color: $color-4;
				text-decoration: none;
			}
			.social{
				text-align: left;
				@extend .sprite;
				@include size(40px);
				text-indent: -9999em;
				margin: 14px 0 0 10px;
			}
			.facebook{
				@include bg-pos(-2px -559px);
			}
			.gplus{
				@include bg-pos(-50px -559px);
			}
		}


	}
	.data{
		border-top: solid 1px $color-1;
		width: ($width - 30px);
	}
	.payment, .certificates{
		float: left;
		margin-top: 15px;
	}
	.payment{
		position: relative;
		width: 286px;
		&::before{
			position: absolute;
			top: 92px;
			content: "";
			display:block;
			@include size(163px,28px);
			@extend .sprite;
			@include bg-pos(-301px -519px);
		}
		&::after{
			content: "";
			display:block;
			@include size(286px,30px);
			margin-top: 26px;
			@extend .sprite;
			@include bg-pos(-1px -519px);
		}
	}
	.certificates{
		width: 390px;
		margin-left: 105px;
		h5{
			display: block;
			text-align: center;
			margin-bottom: 18px;
		}
		a, .site-blindado{
			display: inline-block;
			@extend .sprite;
			width: 104px!important;
			height: 47px!important;
			margin-right: 20px;
			margin-bottom: 15px;
			text-align: center;
		    overflow: hidden;
			&:last-child{
				margin-right: 0;
			}
		}
		.site-blindado{
			border:solid 1px #707070;
			@include border-radius(5px);
			background: #FFF;
			img{
				position: relative;
				top: 8px;
				width: 100px;
			}
			a{
				background: none;
			}
		}
		.clearsale{
			@include bg-pos(-258px -460px);
		}
		.ssl{
			@include bg-pos(-371px -460px);
			margin-right: 0;
		}
		.compre-confie,
		.abcomm{
			background: none;
			position: relative;
			background-repeat: no-repeat;
		}
		.compre-confie{
			top: -1px;
			@include size(102px,44px);
			background-color: #6800a8;
			border:solid 1px #707070;
			@include border-radius(5px);
			background-position: -1px 2px;
			&::before,
			&::after{
				position: absolute;
				content:"";
				display: block;
				@include size(102px,2px);
				background-color: #6800a8;
			}
			&::before{
				top: 2px;
			}
			&::after{
				bottom: 1px;
			}
		}
		.abcomm{
			background-size: 60%;
			height: 77px!important;
			margin-left: 152px;
		}
			
	}
	.local{
		position: relative;
		margin: 40px 0 70px;
		float: right;
		border: solid 1px $color-1;
		@include border-radius(5px);
		padding: 17px 22px 17px 86px;
		font-size: 25px;
		@extend .bold;
		text-decoration: none;

		&::before{
			position: absolute;
			left: 26px;
			content: "";
			display: inline-block;
			@extend .sprite;
			@include size(28px, 36px);
			@include bg-pos(-100px -558px);			
		}
	}
	.copyright{
		overflow: hidden;
		padding: 15px;
		background: $gray;
		color: $white;
		clear: both;
		span{
			display: inline-block;
			float: left;
			margin-left: 15px;
		}
		.agency,
		.core{
			display: inline-block;
			margin-right: 15px;
			float: right;
		}
		.agency{			
			text-indent: -999em;
			@extend .sprite;
			@include size(22px,18px);
			@include bg-pos(-132px -583px);			
		}
		.core img{
			width: 70px;
		}
	}
}
.safari footer .certificates{
	width: 370px;
}
.safari footer .site-blindado{
	float:left;
}