.wd-browsing-grid{
	header,
	footer{
		position: relative;
	}
	.wd-browsing-grid-pager{
		.description{
			padding: 10px 0;
		}
		.page-number{
			margin: 0;
		}
		a{
			color: $black;
			text-decoration: none;
		}
		.page-selected{
			background: $color-1;
			color: $white!important;
			border:none;
			a{
				color: $white!important;
			}
		}
		span:hover{
			background: $gray;
			border:none;
			a{
				color: $black;
			}
		}
	}
	.wd-browsing-grid-sorter{
		top: 12px;
	}
}
.wd-browsing-grid-list{
	> ul > li{
		width: 33.3333%;
	}
}
.wd-facet-group .facets,
.wd-facet-group .selected-facets{
	background: none;
	padding: 0;
	border:solid 1px $gray;
	@include border-radius(5px);

	ul{
		padding: 10px 0!important;
		margin: 0!important;
		
	}
	
	.facet-title,
	.selected-facet-name{
		padding: 10px 10px 10px 27px!important;
		font-size: 20px!important;
		color: $color-1!important;
		

		&::before{
			display: none!important;
		}
	}
	.facet-title{
		border-bottom:solid 1px $gray;
	}
	a,
	.option-title,
	.option-count{
		color: $gray!important;
		text-decoration: none;
		text-transform: capitalize;
	}
	a{
		display: block!important;
		padding: 2px 5px 2px 33px;
		&:hover{
			background: $color-1;
			color: $white!important;
			text-decoration: none;

			.option-title,
			.option-count{
				color: $white!important;
				text-decoration: none!important;
			}
		}
	}
	.wd-facet-type-range .range-wrapper{
		border:none;
		background: none;
		margin: 10px 10px 0 18px;
		.icon,
		.range2h,
		.defined-range,
		.submit{
			border:none!important;
			box-shadow:none;
		}
		.icon{
			background: $color-1!important;
			@include size(15px);
			@include border-radius(20px);
		}
		.defined-range{
			background: $gray!important;
		}
		.min-text,
		.max-text{
			display: inline-block;
			bottom: -40px;
			padding: 6px 4px;
			background: $gray;
			font-size: 12px;
		}
		.min-text{
			left: -10px;
		}
		.submit{
			display: block;
			margin: 60px 0 10px 0;
			width: 220px;
			position: relative;
			left: -10px;
			font-size: 18px;
			@extend .bold;
			@extend .btn;
			@extend .btn-primary;
		}
	}

}
.wd-facet-group .selected-facets{
	&::before{
		padding: 10px 10px 10px 27px!important;
		font-size: 20px!important;
		color: $color-2!important;
		margin: 0;
	}
	.selected-facet {
    	border: none;
    	margin: 0;
    	border-radius: 3px;
	}
	.selected-facet-name{
		background: none;
		border-top: solid 1px $gray;
		border-bottom: solid 1px $gray;
	}
	.selected-option{
		padding: 0 10px 0 33px;
		border:none;
	}
	li:hover{
		border:none;
	}
	li .clear-filter:hover{
		color:$color-3;
	}
}

.grid-empty {
	#left{
		display: none;
	}
	#content-wrapper{
		margin: 0;
	}
	.no-data{
		display: block;
		text-align: center;
		margin: 50px 0;
		font-size: 2em;
		@extend .bold;
	}
}