header{
	
	.wrapper{
		position: relative;
	}
	.wp-1{
		height: 94px;
		position: fixed;
		top:0;
		left: 0;
		margin:0 auto;
		width: 100%;
		background: #FFF;
		@include box-shadow(2px, 0, 5px, $gray);
		z-index: 11;
	}
	.main{
		width: 100%;
		height: 142px;
		position: relative;
		left: 0;
		top: 0;
		background: $white;
		z-index: 10;
	}
	.logo{
		position: absolute;
		top: 10px;
		left: 2px;
		text-indent: -999em;
		display: block;
		@include size(204px, 70px);
		background: url($url + '/Custom/Content/Themes/Dufrio/img/logo-dufrio.svg') no-repeat center;
		background-size: contain;
		a{
			text-indent: -999em;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			@include size(100%,100%);
		}
	}
	.search{
		position: absolute;
		left: 290px;
		.input-wrapper{
			margin: 0;
		}
		.wd-search{
			position: absolute;
			top: 37px;
		}
		input{
			width: 546px;
			height: 21px;
			padding: 10px;
			color: $color-4;
			border-color: $color-1;
			box-sizing: initial;
		}
		button{
			text-indent: -9990em;
			border: none;
			top: 1px;
			right: 1px;
			display: block;
			@include size(50px, 41px);
			background-color: transparent;

			&::after{
				content: "";
				position: absolute;
				top: 12px;
				left: 15px;
				@extend .sprite;
				@include bg-pos(-295px -1px);
				@include size(21px);
			}
		}
		.suggestion-box-wrapper{
			width: 556px;
			border-color: $color-1;

			.suggestion-terms ul {
			    margin: 10px!important;
			    overflow: hidden;
			}
			.suggestion-title{
				margin: 0 10px 10px 10px!important;
				text-transform: capitalize;
			}
		}
		.login-wrapper{
			width: 568px;
			height: 37px;
		}
		.wd-profile-welcome-shopper{
    		line-height: 38px;
			.title{
				padding: 0;
				a{
					text-transform: uppercase;
					text-decoration: none;
				}
			}
			.login-simple{
				text-align: center;
				color: $color-4;
				@extend .regular;

				b span{
					color: $color-1;
				}
			}
			.login-wrapper{
				display: none;
			}
			.new-account{
				text-transform: uppercase;
				text-decoration: none;
				padding: 0;

				&::before{
					content: "ou ";
					text-transform: lowercase;
					color: $color-4;
				}
			}
			.login-wrapper.hover .wd-profile-login {
    			display: none;
			}
			.authenticated{
				text-decoration: none;
				b{
					color: $color-4;
					&::after{
						content: ", ";
					}
				}
				
			}
			a.sign-out{
				padding:0!important;
				text-decoration: none;
			}
		}

	}
	.help-center{
		position: absolute;
		top: 11px;
		right: 85px;
		width: 166px;
		&:hover{
			.content{
				display: block;
			}
		}

		.title,
		.information{
			text-align: center;
		}
		.title{
			position: relative;
			display: block;
			line-height: 25px;
			text-transform: uppercase;
			color: $color-1;
			cursor: pointer;

			&::after{
				position: absolute;
				top: 7px;
				right: 15px;
				content: "";
				display: block;
				@include size(10px);
				@extend .sprite;
				@include bg-pos(-251px -41px);
			}
		}

		.information,
		.phone{
			border-bottom: solid 1px $gray;
		}
		
		.content{
			display: none;
			background: $white;
			position: absolute;			
			width: 195px;
			list-style: none;
			margin: 1px 0 0 -14px;
			padding: 0;
			z-index: 1;
			@include border-radius(7px);
			@include box-shadow(0, 0, 5px, $gray);

			li{
				display: block;
				padding: 11px;
				color: $color-1;
				position: relative;

				b{
					display: block;
					font-size: 16px;
				}
				a{
					text-decoration: none;
				}
				&.information{
					color: $color-2;
					@extend .bold;
				}
				&.phone,
				&.email{
					padding-left: 50px;

					&::before{
						content: "";
						display: block;
						@include size(34px);
						@extend .sprite;
						position: absolute;
						top: 12px;
						left: 10px;
					}
				}
				&.phone::before{
					@include bg-pos(-209px 2px);
				}
				&.email::before{
					@include bg-pos(-251px 3px);
				}
				
			}
			.phone{
				span{
					@extend .bold;
				}
			}
			.email{
				span{
					font-size: 11px;
				}
			}
			.btn{
				font-size: 18px;
				@extend .bold;
				width: 175px;
				padding: 0;
				line-height: 41px;
			}
		}
	}
	.btu-calculate{
		position: absolute;
		top: 37px;
		right: 85px;
		width: 166px;
		padding: 13px 0;
	}

	.wd-checkout-basket-summaryheader{
		position: absolute;
		top: 39px;
		right: 18px;
		a{
			text-decoration: none;
		}
		a>b{
			display: block;
			@include size(38px, 38px);
			@extend .sprite;
			@include bg-pos(-206px -36px);
			text-indent: -9999em;
		}
		.basket-size-wrapper{
			position: absolute;
			top: -11px;
			right: -16px;
			display: block;
			text-align: center;
			line-height: 24px;
			@include size(24px);
			background-color: $color-2;
			color: $color-1;
			@include border-radius(20px);
		}
		&:hover{
			.wd-widget{
				display: none;
			}
		}
	}
	.fixed.main-category{
		//effect
		top:94px;
		-webkit-transition: top 0.25s ease-in;
		-moz-transition: top 0.25s ease-in;
		-o-transition: top 0.25s ease-in;
		transition: top 0.25s ease-in;
		
	}
	.main-category{
		background: $color-1;
		height: 142px;
		overflow: hidden;
		position: fixed; 
    	width: 100%;
    	@include box-shadow(2px, 0, 5px, $gray);
		
		//effect
		top:94px;
		-webkit-transition: top 0.25s ease-out;
		-moz-transition: top 0.25s ease-out;
		-o-transition: top 0.25s ease-out;
		transition: top 0.25s ease-out;

		ul{
			list-style: none;
			padding: 0;
			margin: 0 auto;
		}
		li{
			display: block;
			width: 10%;
			float: left;
			position: relative;
		}
		h3{
			margin: 0;
			padding: 0;
		}
		a{
			display: block;
			text-align: center;
			width: 100%;
			height: (142px-88px);
			padding: 88px 0 0 0;
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: -0.4px;
			box-sizing: initial;
			
			&:hover{
				color: $color-1;
				background: $color-2;
				&::before{
					@include bg-pos(-1px -156px);
				}
			}

			&::before{
				position: absolute;
				top: 10px;
				content: "";
				display: block;
				@include size(10%, 70px);
				@extend .sprite;
				@include bg-pos(-1px -98px);
				@include size(98px, 32px);
				top: 30px;
				left: 8px;
			}
		}
		.selected a{
			color: $color-1;
			background: $color-2;

			&::before{
				@include bg-pos(-1px -156px);
			}
		}
		li.inverter{
			a::before{
				@include bg-pos(-1px -98px);
				@include size(98px, 32px);
				top: 30px;
				left: 8px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-1px -156px);
				}
			}
		} 
		li.hi-wall{
			a::before{
				@include bg-pos(-109px -98px);
				@include size(98px, 32px);
				top: 30px;
				left: 8px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-109px -156px);
				}
			}
		}
		li.artcool-inverter{
			a::before{
				@include bg-pos(-216px -98px);
				@include size(98px, 32px);
				top: 30px;
				left: 8px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-216px -156px);
				}
			}
		} 
		li.ar-janela{
			a::before{
				@include bg-pos(-323px -91px);
				@include size(60px, 45px);
				top: 24px;
				left: 26px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-323px -149px);
				}
			}
		} 
		li.portatil{
			a::before{
				@include bg-pos(-393px -89px);
				@include size(29px, 49px);
				top: 23px;
				left: 40px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-393px -147px);
				}
			}
		} 
		li.cassete{
			a::before{
				@include bg-pos(-430px -98px);
				@include size(72px, 32px);
				top: 32px;
				left: 20px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-430px -156px);
				}
			}
		} 
		li.piso-teto{
			a::before{
				@include bg-pos(-509px -96px);
				@include size(90px, 35px);
				top: 30px;
				left: 10px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-509px -154px);
				}
			}
		}
		li.vrf{
			a::before{
				@include bg-pos(-609px -88px);
				@include size(27px, 53px);
				top: 21px;
				left: 41px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-609px -146px);
				}
			}
		}
		li.multi-split{
			a::before{
				@include bg-pos(-646px -94px);
				@include size(85px, 41px);
				top: 28px;
    			left: 12px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-646px -152px);
				}
			}
		}
		li.pecas{
			a::before{
				@include bg-pos(-742px -92px);
				@include size(46px);
				top: 26px;
				left: 33px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-742px -150px);
				}
			}
		}
		li.servicos{
			a::before{
				@include bg-pos(-797px -92px);
				@include size(45px);
				top: 26px;
				left: 33px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-797px -150px);
				}
			}
		}
		li.duto{
			a::before{
				@include bg-pos(-2px -218px);
				@include size(73px, 24px);
				top: 37px;
    			left: 20px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-2px -258px);
				}
			}
		}
		li.cortina-de-ar{
			a::before{
				@include bg-pos(-97px -218px);
				@include size(81px, 25px);
				top: 37px;
				left: 16px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-97px -258px);
				}
			}
		}
		li.acessorios{
			a::before{
				@include bg-pos(-188px -199px);
				@include size(40px, 41px);
				top: 28px;
    			left: 36px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-188px -247px);
				}
			}
		}
		li.eletro{
			a::before{
				@include bg-pos(-238px -199px);
				@include size(43px, 41px);
				top: 28px;
    			left: 35px;
			}
			&.selected,
			&:hover{
				a::before{
					@include bg-pos(-238px -247px);
				}
			}
		}

	}
}