.page-home{
	.breadcrumbs{
		display: none;
	}
	#middle{
		padding-bottom: 0;
	}
	.wd-product-list{
		margin-bottom: 20px;
	}
	.parallax{
		padding: 140px 0;
		margin-bottom: 20px;
		color: $white;
		text-align: center;
		h4{
			padding: 0;
			margin: 0;
			font-size: 50px;
			position: relative;
			z-index: 2;
		}
		p{
			display: inline-block;
			width: 700px;
		}
	}
	footer{
		.newsletter{
			display: block;
		}
	}
}