/* =========== PRICE */
.wd-product-price-description{
	del.list-price,
	del.list-price .prefix,
	del.list-price span{
		font-size: 12px;
		color: #9d9b9c;
		@extend .regular;
	}
	.list-price,
	.sale-price{
		color:$color-1;
		font-size: 25px;
		span{
			@extend .bold;
		}
	}
	.condition{
		font-size: 16px;
		@extend .regular;

		.parcels{
			&::before{
				content: "ou em ";
				@extend .regular;
				color: $black;
			}
			&::after{
				content: " de ";
				@extend .regular;
				color: $black;
			}
		}
		.label{
			display: none;
		}
	}
	.tax{
		display: none;
	}
	.sold-out{
		display: none;
		background: #F4F4F4;
		padding: 20px 0;
		margin: 0 10px 10px 10px;
		text-align: center;
		text-transform: uppercase;
		color: #999;
	}
}
/* =========== END PRICE */