.page-product #main #middle{
	margin-top: 20px;
	margin-bottom: 20px;

	.medias,
	.data{
		width: 49%;
		margin-bottom: 112px;
	}
	.medias{
		float: left;
	}
	.data{
		float: right;

		.wd-product-rating a{
			color: $black;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	.medias{
		position: relative;
		border:solid 1px $gray;
		@include border-radius(5px);

		.wd-flags{
			position: absolute;
			top: 15px;
			width: 100%;
			z-index: 1;
			text-align: center;
		}
		.zoom{
			width: 100%!important;
		}
		.ezZoom-container{
			width: 558px!important;
		}
		.wd-product-medias{
			margin: 0;
		}
		.wd-product-media-selector,
		.wd-product-medias-enlarger{
			position: absolute;
		}
		.wd-product-media-selector{
			width: 100%;
			left: 0;
			bottom: 0px;
			text-align: center;
			li{
				float: none;
				text-indent: -9999em;
				display: inline-block;
				@include size(17px);
				background: rgba(39, 96, 173, 0.5);
				border:none;
				@include border-radius(20px);
			    margin: 0 9px 0 0;

			    &.selected{
			    	background: $color-1;
			    }
				img{
					display: none;
				}
			}
		}
		.wd-product-medias-enlarger{
			right: -5px;
			bottom: -35px;
			button{				
				background-color: transparent;
				border:none;
				text-transform: uppercase;
				color: $gray;
				&::before{
					position: relative;
					top: 3px;
					display: inline-block;
					content: "";
					@extend .sprite;
					@include bg-pos(-24px -304px);
					@include size(16px);
					margin-right: 10px;
				}
				&::after{
					content: " Imagem";
				}
			}
			
		}
		.video-wrapp{
			display: none;
			h1{
				display: none;
			}
			iframe{
				margin: 75px 0 30px 0;
				width: 100%;
				height: 315px;
				border:none;
			}
		}
		.btn-zoom{
			position: absolute;
			bottom: -35px;
			text-transform: uppercase;
			color: $gray;

			&::before{
				position: relative;
				top: 0px;
				display: inline-block;
				content: "";
				@extend .sprite;
				@include bg-pos(-2px -306px);
				@include size(12px);
				margin-right: 10px;
			}
		}
	}
	h1{
		margin-top: 0;
		color: $color-1;
	}
	.wd-product-variations{
		margin-top: 20px;
	}
	.price-1,
	.buttons{
		float: left;
		width: 50%;
		margin: 75px 0 16px 0;
	}
	.wd-buy-button{
		display: block;
	}
	.btn-buy,
	.bt-notifyme {
		@extend .btn;
		@include size(100%,44px);
		font-size: 18px;
		@extend .bold;
	}
	.btn-buy{
		@extend .btn-primary;
	}
	.bt-notifyme{
		@extend .btn-default;
	}
	.price-1{
		.list-price{
			position: absolute;
			margin-top: -15px;

			.prefix::after{
				content: ":";
				position: relative;
				left: -2px;
			}
		}
		.sale-price{
			font-size: 37px;
			letter-spacing: -1px;
		}
		.condition,
		.tax,
		.savings{
			display: none;
		}
		.sale-price .prefix{
			position: relative;
			display: inline-block;
			width: 55px;
			height: 30px;
			overflow: hidden;
			color: #9d9b9c;
			font-size: 30px;
			letter-spacing: -1px;
			@extend .bold;

			&::after{
				display: block;
				position: absolute;
				top: 0;
				left: 45px;
				content: ": ";
			}
		}
	}
	.price-2{
		margin-bottom: 15px;
		padding: 14px;
		text-align: center;
		border:solid 1px $gray;
		@include border-radius(5px);
		clear: both;

		.list-price,
		.sale-price,
		.sufix{
			display: none;
		}
		.savings,
		.condition{
			font-size: 14px;
		}
		.savings{
			color: $color-1;
			.prefix{
				display: none;
			}
		}
		.instant-price,
		.discount,
		.parcels,
		.parcel-value,{
			@extend .bold;
		}
		.parcels::before,
		.parcels::after,
		.parcel-value::before,
		.parcel-value::after{
			color: #9d9b9c;
		}
		.parcels,
		.parcel-value{
			color: $black;
		}
		.discount::before{
			content: "Aproveite o desconto de ";
		}
		.instant-price::after{
			content: " ou cart\00E3o \00E0  vista.";
		}
		.parcels::before{
			content: "Voc\00EA  pode parcelar sua compra em ";
		}
		.parcel-value::after{
			content: " sem juros no cart\00E3o.";
		}

	}
	.wd-product-deliveryfee{
		position: relative;
		padding: 14px 14px 14px 130px;
		border:solid 1px $gray;
		@include border-radius(5px);

		&::before{
			content: "";
			display: block;
			@extend .sprite;
			@include bg-pos(-64px -304px);
			@include size(64px, 32px);
			position: absolute;
			top: 18px;
			left: 30px;
		}

		.input-wrapper,
		.button-wrapper{
			display: inline-block;
		}
		input{
			margin-left: 5px;
			width: 74px;
		}
		button{
			padding: 10px 20px;
			margin-left: 5px;
		}
	}
	.wd-descriptions{
		.wd-descriptions-toolbar{
			display: none;
		}
		.wd-header{
			text-align: center;
		}
		.wd-descriptions-nav{
			display: inline-block;
			overflow: hidden;
			li{
				float: left;
				width: 378px;
				margin: 0;
				&:first-child a{
					border-right: 0;
				}
				&:first-child:last-child a{
					border-right: solid 1px $color-1;
				}
				&:nth-child(3) a{
					border-left: 0;
				}

				a{
					display: block;
					width: 99.5%;
					padding: 20px 0;
					text-align: center;
					font-size: 18px;
					border: solid 1px $color-1;
					@include border-radius-separate(5px, 5px, 0px, 0px);
					text-decoration: none;
				}
				&.wd-selected a{
					text-decoration: underline;
				}
			}
		}
		.wd-descriptions-panel {
			margin: 30px 0;
			color: #9d9b9c;
			font-size: 16px;
		}
		.wd-descriptions-text{
			h1{
				margin: 40px 0;
			}
			h2,h3{
				margin: 25px 0;
			}
		}
	}
	.wd-title{
		text-align: left;
		padding-left: 0;
	}
	.wd-product-associations .wd-title{
		border-bottom: solid 1px $color-1;
	}
	.wd-product-reviews{
		position: relative;
		.review-create{
			position: absolute;
			top: 0;
			right: 0;
			text-decoration: none;
			font-size: 18px;
			@extend .bold;
			padding: 16px 26px 16px 88px;
			border:solid 1px $color-1;
			@include border-radius(5px);

			&::before{
				position: absolute;
				left: 26px;
				top: 8px;
				display: inline-block;
				content: "";
				@extend .sprite;
				@include bg-pos(-138px -299px);
				@include size(36px);
			}
		}
		.wd-content{
			margin: 20px 0;
		}
		.no-data,
		.wd-review-item{
			position: relative;
			display: block;
			padding: 20px;
			margin-bottom: 18px;
			background: #edf2f8;
			@include border-radius(5px);
		}
		.date,
		.rating-attributes{
			position: absolute;
			top: 24px;
			right: 20px;
			color: #91969c;
			font-size: 14px;
			.atribute{
				display: none;
			}
		}
		.rating-attributes{
			top: 55px;
		}
		.wd-review-title{
			text-transform: uppercase;
			font-size: 18px;
			@extend .bold;
			display: block;
			margin-bottom: 60px;
		}
		cite{
			position: absolute;
			top:55px;
			font-style: normal;
			color: $black;
			@extend .bold;
			text-transform: uppercase;

			&::before{
				content: "por ";
				text-transform: lowercase;
			}
		}
		.wd-review-text{
			color: #91969c;
		}
		.wd-footer,
		q::before,
		q::after{
			display: none;
		}
		.wd-review-paginate{
			padding: 0;
			span{
				display: none;
			}
			ul{
				margin: 0;
				padding: 0;
			}
			a{
				text-decoration: none;
				color: $black;
			}
			.page-selected {
			    background: #2760ad;
			    color: #FFF !important;
			    border: none;
			}
		}
	}
}