.wd-product-list,
.wd-browsing-grid-list,
.wd-product-associations{
	overflow: hidden;
	clear: both;
	li{
		padding: 25px 0;
		text-align: center;
		min-height: 445px!important;
		&:hover{
			@include inside-border(1px,$gray);
			@include border-radius(5px);

			.btn{
				display: inline-block;
			}
		}
	}
	a{
		text-decoration: none;
	}
	.btn{
		font-size: 18px;
		@extend .bold;
		display: none;
		padding: 0;
		@include size(165px,43px);
		line-height: 43px;
	}
	.name{
		padding: 0;
		margin: 0 auto;
		min-height: 80px;
		width: 90%;
		a{
			color: $black;
		}
	}
	.wd-flags{
		display: none;
		/*position: absolute;
		top: -5px;
		z-index: 1;
		width: 100%;*/
	}
	.wd-product-price-description{
		min-height: 70px;
	}
	.wd-product-line-medias-variations,
	.sold-out,
	.percent-difference,
	.savings{
		display: none;
	}
	.overlay{
		position: absolute;
		top: -25px;
		left: 0;
		display: block;
		width: 100%;
		height: 495px;
		text-indent: -9999em;
	}

}
.not-purchasable{
	.wd-product-line{
		opacity: 0.5!important;
	}	
	.button-wrapper{
		.btn-primary{
			display: none!important;
		}
		.sold-out{
			display: block;
		}
	}
}