@font-face {
    font-family: 'Panton';
    src: url('Fonts/panton-light-webfont.woff2') format('woff2'),
         url('Fonts/panton-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}