$color: #000;
$color-1: #2760ad; /* Azul */
$color-2: #f6bf02; /* Amarelo */
$color-3: #fe2e29; /* Vermelho */
$color-4: #969aa1; /* Cinza */
$white: #FFF;
$black: #000;
$gray: #cbccd0;

$width: 1140px;

$url:'http://www.dufrio.com.br/';
//$url:'';
$brand-url: $url + '/Custom/Content/Themes/Shared/Images/Brands/';
$version: "?=v10" ;

