@import 'mixins';
$url:'http://www.dufrio.com.br/';
//$url:'';
.page-home,
.grid-products,
.page-product{
	background:#000;
	.wd-product-list,
	.wd-browsing-grid-list,
	.wd-product-associations{
		ul>li{
			width: 24%!important;
			margin-right: 1%!important;
			background: #FFF;
			margin-bottom: 8px;
			@include border-radius(5px);
			&:hover .btn{
				background: #000;
			}
			&:nth-child(4){
				margin-right: 0!important;
			}
		}
		.btn{
			background: #f6bf02;
			display: inline-block;
		}
		.wd-product-price-description .sale-price{
			color:#F00; 
		}
	}
	.wd-browsing-grid-list {
		ul>li{
			width: 32.2%!important;
			margin-bottom: 8px;
			&:nth-child(3){
				margin-right: 0!important;
			}
			&:nth-child(4){
				margin-right: 1%!important;
			}
		}

	}
	.facets{
		background: #FFF;
	}
	.wd-browsing-grid-pager a{
		color: #FFF;
	}
	.description-content{
		color: #FFF;
	}
	.brands li{
		filter: invert(100%) hue-rotate(168deg) saturate(1100%);
		-webkit-filter: invert(100%) hue-rotate(168deg) saturate(1100%);
	}
	.parallax h4 {
		position: relative;
		z-index: 2;
	}
}
.page-product{
	background: #000;
	.wd-descriptions .wd-content{
		padding: 0 20px 20px 20px;
		background: #FFF;
	}
	#main #middle .data .wd-product-rating a,
	.parcels,
	.parcel-value,
	.show-cep{
		color: #FFF!important;
	}
	.sale-price{
		color:#F00;
	}
	.wd-product-medias-displayer{
		background: #FFF;
	}
}
.page-basket{
	background: #000;
}
#main > header,
#main > footer{
	background: #000;
}
header{
	.logo{
		background: url($url+'/Custom/Content/Themes/Dufrio/img/logo-branco.png') no-repeat;
	}
	a,
	.search .wd-profile-welcome-shopper .login-simple,
	.search .wd-profile-welcome-shopper .login-simple b span,
	.search .wd-profile-welcome-shopper .new-account,
	.search .wd-profile-welcome-shopper .new-account::before,
	.help-center .title{
		color: #FFF;	
	}
	.wp-1{
		background: #000;
	}
	.search input {
		background: #000;
		color:#FFF;
		opacity: 1;
	}
}
#footer{
	.facebook{
		filter: invert(100%) hue-rotate(168deg) saturate(1500%);
		-webkit-filter: invert(100%) hue-rotate(168deg) saturate(1500%);
	}
}