$url : 'http://www.dufrio.com.br/';
//$url : '';


.mobile{
	.HomeRoute{
		background: #000;
		.banner--home,
		.banner--home .orbit-container{
			background: #000;
		}
		.category-menu--home .category-menu__section .title{
			color:#FFF!important;
		    background: #2760ad!important;
		    border:none!important;
		    text-transform: uppercase;
		}
		.category-menu--home .category-menu__section .category-menu__category a{
			color: #FFF!important;
		}
		.product-list{
			border-bottom: none;
			.product-list__title{
				color: #2760ad!important;
				font-weight: normal;
				text-transform: uppercase;
			}
			.sale-price{
				color: #F00;
			}
			.orbit-prev span:before,
			.orbit-next span:before{
				color:#FFF;
			}
			.product-list__product{
				padding: 10px;
				margin: 0.5%;
				background: #FFF;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			.small-block-grid-2>li{
				width: 49%;
			}
			.orbit-container ul{
				/*height: 360px!important;*/
			}
			.product-list__see-more{
				display: none;
			}
			.product-list__product .product__name{
				min-height: 90px;
				margin-bottom: 30px;
				font-weight: normal;
			}
			.product__rating,
			.default-price,
			.savings .text-1,
			.savings .prefix{
				display: none;
			}
			.instant-price{
				position: absolute;
				top: 90px;
				left: 0;
				color: #fdcf17!important;
				font-size: 18px;
			}
			.condition,
			.savings{
				font-size: 12px;
				color:#FFF;
				margin: 0;
				padding: 0;
			}
		}
	}
	/*HEADER ------------- */
	#header--navbar,
	#header--home{
		background: #000;

		.logo--header a{
			background: url($url+'/Custom/Content/Themes/Dufrio/img/logo-mobile-branco.png') no-repeat;
			img{
				display: none;
			}
		}
	}

	.wd-search form input[type='text']{
		background: #000;
		color: #999!important;
		height: 100%;
	}
	
	
	
	#footer--home{
		background: #000;
		a,
		.footer-subtitle,
		.number{
			color: #2760ad!important;
		}
	}
}