/* BASE */
@import 'var';
@import 'mixins';

body.categoria-vrf{
	header .breadcrumbs{
		display: none;
	}
	#middle{
		width: 100%;
		padding: 0;
	}
	&.msie{
		.category-vrf iframe{
			bottom:-3px;
		}
	}
	&.safari{
		.category-vrf iframe{
			right: 294px;
			bottom:-15px;
		}
	}
}
.category-vrf{
	.breadcrumbs{
		margin-bottom: 40px;
		.last{
			color: #000;
			font-size: 14px;
		}
	}
	
	h2{
		color: #2760ad;
		font-size: 24px;
	}
	h3{
		color: #00aeef;
		font-size: 18px;
	}
	.blue{
		color: #2760ad;
		font-weight: bold;
		font-size: 18px;
	}
	.head{
		height: 492px;
		background:url($url+'/Custom/Content/Themes/Dufrio/Landings/category-vrf/img/banner.jpg') no-repeat center top;
		position: relative;
		h2{
			margin: 0;
			padding: 0;
			position: absolute;
			top:10px;
			right: 290px;
			font-size: 38px;
			font-weight: normal;
			text-transform: uppercase;
			line-height: 35px;
			b{
				font-weight: bold;
			}
		}
	}
	.wrapper{
		text-align: center;
		color: #969aa1;
		font-size: 15px;
		ul{
			list-style: none;
		}
	}
	.what{
		h2{
			margin-bottom: 20px;
		}
		p{
			width: 750px;
			margin: 0 auto 70px;
		}
	}
	.operation{
		h3{
			position: relative;
			top: 30px;
		}
	}
	.benefit{
		margin-top: 100px;
		h2{
			margin-bottom: 30px;
		}
		ul{
			width: 900px;
			margin: 0 auto;
		}		
		li{
			text-align: left;
			margin-bottom: 22px;
			h3, p{
				margin:0;
				padding: 0;
			}
			&::before{
				content: "";
				display: block;
				width:66px;
				height:66px;
				position: absolute;
				margin-top: -3px;
				margin-left: -96px;
				background:url($url+'/Custom/Content/Themes/Dufrio/Landings/category-vrf/img/sprite.jpg');
			}
		}
		.item-4{
			margin-bottom: 32px;
		}
		.item-1::before{
			background-position: -1px 0;
		}
		.item-2::before{
			background-position: -76px -1px;
			margin-top: 14px;
		}
		.item-3::before{
			background-position: -151px -1px;
			margin-top: 5px;
		}
		.item-4::before{
			background-position: -226px 0;
		}
		.item-5::before{
			background-position: -301px 0;
			margin-top: -13px;
		}
		img{
			margin: 40px 0 80px;
		}
	}
	.brands{
		overflow: hidden;
		margin: 0 0 30px 0;
		padding:0;
		li{
			float: none;
			display: inline-block;
			position: relative;
			margin: 20px;
			&::before{
				content: "";
				display: inline-block;
				background:url($url+'/Custom/Content/Themes/Dufrio/Landings/category-vrf/img/sprite.jpg');
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.daikin,
		.daikin:before{
			width: 226px;
			height: 51px;
		}
		.lg,
		.lg:before{
			width: 170px;
			height: 75px;
		}
		.daikin:before{
			background-position: 0 -73px;
		}
		.lg:before{
			background-position: -236px -75px;
			top:-10px;
		}
	}
	.dufrio{
		height: 500px;
		border-top:solid transparent 1px;
		h2,p, b, small{
			color:#FFF;	
		}
		h2{
			font-size: 36px;
			font-weight: bold;
			margin: 120px 0 50px;
		}
		p{
			font-size: 18px;
			margin: 20px auto 100px;
			width: 705px;
		}
		b{
			font-size: 16px;
			display: block;
			font-weight: bold;
			margin-bottom: 20px;
		}
		small{
			font-size: 12px;
		}
	}
	iframe{
		border:none;
		width: 293px;
		height: 505px;
		bottom: 0;
		right: 281px;
    	position: absolute;
	}
}
