.EasyCheckoutStep{
	.signup-cnpj::after{
		content: "A Dufrio n\00e3o realiza entregas para pessoa jur\00ed dica com inscri\00e7\00e3o estadual em endere\00e7os divergentes da Receita Federal (Sefaz)";
	    display: block;
	    padding: 20px;
	    background: #FFC;
	    margin: 20px 15px 15px;
	    border: solid 1px #FFEB3B;
	    text-align: center;
	    font-size: 1.1em;
	}
}