/* BASE */
@import 'var';
@import 'mixins';
.solicitar-orcamento{
	.invoice-form{
		background: #235eaf;
		padding: 15px;
		overflow: hidden;
		@include border-radius(10px 10px 0 0);
		width: 263px;

		h3{
			color: #FFF;
			text-transform: uppercase;
			margin: 0 0 10px 0;
			font-size: 17px;
		    position: relative;
		    display: inline-block;
		    top: -7px;

			&::before{
				background:url($url+'/Custom/Content/Themes/Dufrio/Landings/includes/img/invoice-form.png');
				content: "";
			    display: inline-block;
			    width: 28px;
			    height: 28px;
			    margin-right: 15px;
			    position: relative;
    			top: 7px;
			}
		}
		input, textarea, select{
			width: 240px;
			border:none;
			margin-bottom: 9px;
			color:#235eaf;
			opacity: 1;
			padding: 8px 10px;
			font-size: 14px;
		}
		select{
			width: 260px;
		}
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
	   		color: #235eaf;
	   		opacity: 1;
		}
		input:-moz-placeholder,
		textarea:-moz-placeholder { /* Firefox 18- */
		   color: #235eaf;
		   opacity: 1;
		}
		input::-moz-placeholder,
		textarea::-moz-placeholder {  /* Firefox 19+ */
		   color: #235eaf;
		   opacity: 1; 
		}
		input:-ms-input-placeholder,
		textarea:-ms-input-placeholder {  
		   color: #235eaf;
		   opacity: 1; 
		}
		textarea{
			height: 41px;
		}
		.bt-submit{
			background: #f7c000;
			width: 260px;
			float: none;
			font-weight: bold;
			font-size: 18px;
			padding: 12px 0;
		}
		.captcha-wrapper .input-wrapper{
			display: block;
			float: left;
			margin-right: 9px;
			input{
				width: 88px;
			}
		}
		.captcha-box{
			top: 0;
			float: left;
			img{
				width: 120px;
				height: auto;
			}
		}
		.reload-captcha{
			bottom: auto;
		    top: -0;
		    right: -23px;
		    width: 20px;
		    height: 32px;
		    background-size: 100%;
		    background-color: #FFF;
		    background-position: center center;
		}
		.input-wrapper span.error{
			right: 3px;
		    margin-top: 33px;
		    z-index: 1;
		    padding: 4px;
		    min-height: auto;
		    background: #FFC;
		}
		
	}
	#neoassist{
		display: none!important;
	}
	.themodal-overlay .the-modal{
		margin-left: 10px;
    	margin-right: 10px;
	}
	&.themodal-lock .themodal-overlay{
		background-color: rgba(255, 255, 255, 0.5);
		height: 550px;
    	top: 104px;
    	@include border-radius(10px 10px 0 0);
	}
	&.msie{
		h3::before{
			margin-right: 5px;
		}
	}
	&.safari{
		h3{
			font-size: 15px;
		}
		h3::before{
			margin-right: 0;
		}
	}
	&.firefox{
		h3{
			font-size: 16px;
		}
		h3::before{
			margin-right: 5px;
		}
	}
}