/* BASE */
@import 'var';
@import 'normalize';
@import 'mixins';
@import 'typografy';
@import 'sprite';
@import 'basic';
@import 'price';


.mobile{

	input:not([type]):focus,
	input[type=color]:focus,
	input[type=date]:focus,
	input[type=datetime]:focus,
	input[type=datetime-local]:focus,
	input[type=email]:focus,
	input[type=month]:focus,
	input[type=number]:focus,
	input[type=password]:focus,
	input[type=search]:focus,
	input[type=tel]:focus,
	input[type=text]:focus,
	input[type=time]:focus,
	input[type=url]:focus,
	input[type=week]:focus,
	select:focus, textarea:focus{
	outline: 0;
	border: $color-1 solid 1px;
	}
	.header-icons{
		.fa{
			color:$color-2;
			&:hover{
				color: $color-1;
			}
		}
	}
	.search--header{
		input, button{
			border-color: $color-1;
		}
		input{
			border-right: 0;
		}
		button{
			background: transparent;
			color: $color-1;
			border-left: 0;
		}
	}
	.header-icons .badge{
		background: $color-1;
	}
	.category-menu--home{
		.title{
			color: $white;
			background: $color-1;
			border-color: $color-1;
		}
	}
	.product-list{
		border-bottom: none;
		.orbit-slides-container{
			/*height: 600px!important;*/
		}

		.product-list__product{
			padding: 20px;
			/*min-height: 587px;*/
			
			&:hover{
				@include inside-border(1px,$gray);
				@include border-radius(5px);
			}
			.product__name{
				font-size: 16px;
			}
		}
	} 
	.page-home{

		.wd-product-price-description .savings{
			display: none;
		}
	}
	.wd-product-price-description{
		.savings{
			font-size: 14px;
			color: $color-1;
			margin-top: 5px;
		}
		.discount,
		.instant-price{
			@extend .bold;
		}
		.condition *{
			color: $black!important;
		}
	}
	#footer--home {
		background: $white;
		border-top: solid 2px $color-1;
		&>.row:first-child{
			position: relative;
			top: -2px;
			border-top: solid 2px $color-2;
		}
		.page-menu .page-menu__root>a,
		.footer-subtitle{
			color: $color-1;
			@extend .bold;
			font-size: 16px;
		}
		.page-menu{
			a{
				color: $gray;
				font-size: 14px;
			}
		}
		.number{
			color: $gray;
		}
		.desktop a{
			color: $color-1;
		}
	}
	.btn-buy,
	.button__checkout,
	.middle--identification .btn-success,
	.register__submit {
		@extend .btn;
		@extend .btn-primary;
		text-decoration: none;
		&:hover{
			text-decoration: none;
		}
	}
	.btn-text,
	.btn-text:hover,
	.btn-text:active,
	.btn-text:visited,
	.btn-text:focus,
	.middle--identification .btn-outline{
		color: $color-1;
		text-decoration: none;
	}
	.middle--product .product h1{
		color: $color-1;
		font-size: 18px;
	}
	.wd-descriptions .wd-descriptions-nav {
		border-color: $color-1;
		a{
			border-color: $color-1;
			background: transparent;;
			color: $color-1;
			font-size: 16px;
		}
		li.active a,{
			text-decoration: underline;
			border-color: $color-1;
		}
		.dropdown.active>.content{
			border-color: $color-1;
			.wrapper{
				color: $gray;
			}
		}
	}
	.basket__grid .item__name{
		color:$color-1;
	}
	.basket__subtotal{
		border-color: $color-1;
	}
	.basket__delivery-options,
	.basket__discount{
		a{
			border-color: $color-1;
			background: none;
			color: $color-1;
		}
		button{
			background: $color-1;
		}
		&.active>.title,
		&.active>.content{
			border-color: $color-1;
		}
	}
	.cms-page{
		h1{
			font-size: 18px;
			color: $color-1;
		}
		.cms-page__body{
			padding: 30px 0;
			color: $gray;
		}
	}
}
