@charset "UTF-8";
/* line 4, C:/projetos/core/qualitysp/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 11, C:/projetos/core/qualitysp/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 5, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row.highlight .countdown .buy, .row .list > li .row .countdown .wrapper-countdown .buy {
  display: block;
  border-radius: 50px;
  background-color: #0C141F;
  padding: 20px 10px;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 20px 0; }
  /* line 17, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .countdown .buy:hover, .row .list > li .row .countdown .wrapper-countdown .buy:hover {
    background-color: white;
    color: #0C141F; }

/* line 23, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.wrapper-banner {
  margin-bottom: 40px; }

/* line 27, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .open-quick-view {
  cursor: pointer;
  transition: opacity .2s ease-in-out; }
  /* line 30, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .open-quick-view:hover {
    opacity: 0.9; }
/* line 34, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .facebook {
  font-size: 9px;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  width: 155px;
  padding-left: 30px; }
  /* line 41, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .facebook a {
    color: white; }
  /* line 44, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .facebook .icon {
    width: 21px;
    height: 21px;
    border: 2px solid white;
    display: inline-block;
    margin-right: 9px;
    margin-left: -30px;
    margin-bottom: -13px;
    border-radius: 50%;
    font-size: 11px !important;
    position: relative;
    top: 5px; }
    /* line 56, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .facebook .icon:before {
      position: relative;
      top: 4px;
      left: 5px; }
  /* line 63, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .facebook:hover a {
    color: #3B5999 !important; }
    /* line 65, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .facebook:hover a .icon {
      border-color: #3B5999 !important; }
/* line 71, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row.highlight {
  margin: 0 auto 40px auto;
  padding: 60px 20px 60px 60px;
  background-image: radial-gradient(circle farthest-side at center, #FEB30C 16%, #FF8500); }
  /* line 82, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main .last-chance {
    display: block;
    text-transform: uppercase;
    color: #ffcb01;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 23px; }
    /* line 89, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .product-main .last-chance .icon {
      display: inline-block;
      margin-bottom: -5px;
      position: relative;
      top: -2px; }
  /* line 99, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main > strong {
    color: white;
    font-size: 34px;
    line-height: 42px; }
  /* line 104, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main p {
    font-size: 12px;
    color: #ffde5f;
    line-height: 16px;
    text-shadow: 1px 1px 0px orange; }
    /* line 109, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .product-main p br {
      display: none; }
  /* line 114, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main .price .list-price {
    color: #ffcb00;
    font-size: 18.5px;
    text-decoration: line-through; }
  /* line 120, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main .price .sale-price {
    font-size: 57px;
    line-height: 57px;
    text-shadow: 2px 2px 2px #FF8400;
    color: white;
    font-weight: bold;
    margin-left: -4px; }
  /* line 128, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main .price .condition {
    color: white; }
  /* line 132, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .product-main .priceContainer {
    color: white; }
    /* line 135, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .product-main .priceContainer .sale-price em {
      display: none; }
    /* line 138, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .product-main .priceContainer .sale-price span {
      font-size: 57px;
      text-shadow: 2px 2px 2px #FF8400;
      color: white;
      font-weight: bold; }
    /* line 146, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .product-main .priceContainer .condition, .row.highlight .product-main .priceContainer .savings {
      font-size: 14px !important; }
      /* line 148, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row.highlight .product-main .priceContainer .condition *, .row.highlight .product-main .priceContainer .savings * {
        font-size: 14px !important; }
  /* line 154, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .countdown {
    position: relative; }
    /* line 156, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .countdown > strong {
      text-transform: uppercase;
      color: white;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 1px;
      margin-top: 30px;
      padding-bottom: 5px;
      display: block; }
    /* line 166, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .countdown > .icon {
      width: 30px;
      height: 30px;
      display: block;
      position: absolute;
      top: 68px;
      left: 20px; }
    /* line 174, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .countdown .time {
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      padding: 6px;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.02);
      height: 63px;
      padding-left: 60px; }
      /* line 182, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row.highlight .countdown .time li {
        float: left;
        width: 33%;
        text-align: center; }
        /* line 188, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row.highlight .countdown .time li:nth-child(1), .row.highlight .countdown .time li:nth-child(2) {
          border-right: 1px solid rgba(0, 0, 0, 0.1); }
        /* line 195, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row.highlight .countdown .time li strong, .row.highlight .countdown .time li span {
          display: block; }
        /* line 198, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row.highlight .countdown .time li strong {
          font-size: 26px;
          color: white;
          margin: 0;
          padding: 0;
          line-height: 30px;
          font-weight: normal; }
        /* line 206, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row.highlight .countdown .time li span {
          font-size: 14px;
          color: #FF8400;
          text-transform: uppercase; }
  /* line 218, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.highlight .photo .wrapper-photo {
    background-color: white;
    margin: 0 20px;
    padding: 20px;
    box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.2); }
    /* line 223, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row.highlight .photo .wrapper-photo img {
      display: table;
      margin: 0 auto; }
/* line 231, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .tabs {
  overflow: hidden; }
  /* line 233, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .tabs li {
    float: left;
    width: 50%;
    background-color: #FAFAFA;
    border: 1px solid #DDD; }
    /* line 238, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .tabs li.selected {
      background-color: #191F2B;
      border-color: transparent; }
      /* line 241, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row .tabs li.selected a {
        color: white; }
    /* line 245, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .tabs li a {
      color: #999;
      display: block;
      font-size: 13px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      padding: 20px 0; }
/* line 259, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li .row > .column {
  float: left;
  height: 270px; }
/* line 263, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li .row .photo {
  width: 300px;
  position: relative;
  border-style: solid;
  border-color: #E4E4E4;
  border-width: 0 0 1px 1px; }
  /* line 269, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .list > li .row .photo img {
    width: 162px;
    height: 162px;
    position: absolute;
    top: 50%;
    margin-top: -81px;
    left: 50%;
    margin-left: -81px; }
/* line 279, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li .row .information {
  width: 570px;
  display: table;
  border-bottom: 1px solid #E4E4E4; }
  /* line 283, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .list > li .row .information .wrapper-information {
    display: table-cell;
    vertical-align: middle; }
    /* line 286, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .wrapper-information > strong {
      font-size: 16px;
      font-weight: normal;
      color: black;
      display: block;
      padding: 0 40px 10px 0; }
  /* line 294, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .list > li .row .information .price {
    overflow: hidden; }
    /* line 297, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .price .price-to, .row .list > li .row .information .price .price-from {
      float: left; }
    /* line 300, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .price .price-to {
      width: 60%; }
      /* line 302, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row .list > li .row .information .price .price-to .instant-price {
        font-size: 44px; }
      /* line 306, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row .list > li .row .information .price .price-to .condition * {
        font-size: 16px;
        color: #626262;
        font-weight: normal; }
      /* line 312, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row .list > li .row .information .price .price-to .sale-price {
        display: none; }
    /* line 317, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .price .price-from > span {
      display: block;
      color: #ffcb00;
      font-size: 16px; }
    /* line 322, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .price .price-from dfn {
      font-size: 28px;
      color: #858585;
      text-decoration: line-through;
      font-style: normal;
      margin-bottom: 10px;
      display: block; }
    /* line 331, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .price .price-from .facebook a {
      color: #929292; }
    /* line 334, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .information .price .price-from .facebook .icon {
      border: 2px solid #858585; }
/* line 341, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li .row .countdown {
  background-image: radial-gradient(circle at bottom right, #FEB30C, #FF8500);
  border: 1px solid transparent;
  border-top: none;
  width: 300px;
  display: table; }
  /* line 353, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .list > li .row .countdown .wrapper-countdown {
    display: table-cell;
    vertical-align: middle; }
    /* line 356, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .countdown .wrapper-countdown .icon {
      width: 30px;
      height: 30px;
      display: table;
      margin: 0 auto 20px; }
    /* line 362, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .countdown .wrapper-countdown > strong {
      display: block;
      color: white;
      font-size: 11px;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px; }
    /* line 371, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .countdown .wrapper-countdown .time {
      overflow: hidden;
      display: table;
      margin: 10px auto 20px; }
      /* line 375, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
      .row .list > li .row .countdown .wrapper-countdown .time li {
        float: left;
        width: 80px;
        text-align: center; }
        /* line 379, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row .list > li .row .countdown .wrapper-countdown .time li:not(:last-child) {
          border-right: 1px solid rgba(0, 0, 0, 0.1); }
        /* line 384, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row .list > li .row .countdown .wrapper-countdown .time li strong {
          font-size: 26px;
          color: white;
          display: block;
          text-align: center;
          line-height: 26px;
          font-weight: normal; }
        /* line 392, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
        .row .list > li .row .countdown .wrapper-countdown .time li span {
          font-size: 14px;
          color: #ffcf15;
          text-transform: uppercase;
          font-weight: bold; }
    /* line 400, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
    .row .list > li .row .countdown .wrapper-countdown .buy {
      width: 234px;
      font-size: 13.16px;
      letter-spacing: inherit;
      display: table;
      margin: 0 auto; }
/* line 412, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired > .row {
  display: block !important; }
/* line 415, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired .photo {
  opacity: 0.4; }
/* line 419, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired .wrapper-information * {
  color: #A3A3A3 !important; }
/* line 424, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired .wrapper-countdown > strong {
  font-size: 0 !important; }
  /* line 426, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row .list > li.expired .wrapper-countdown > strong:before {
    content: 'A promoção expirou!';
    font-size: 11px !important;
    display: table;
    margin: 0 auto; }
/* line 434, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired .wrapper-countdown .time * {
  color: rgba(255, 255, 255, 0.5) !important; }
/* line 438, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired .wrapper-countdown .buy {
  background-color: #FF8500 !important;
  color: white !important; }
/* line 443, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list > li.expired .countdown {
  border-color: transparent;
  background-image: radial-gradient(circle at bottom right, #0C2042, #0C141F); }
/* line 455, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list:not(.list-expired) > li.expired {
  display: none; }
/* line 460, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row .list.list-expired > li:not(.expired) {
  display: none; }
/* line 466, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
.row.wait-offers {
  border-style: solid;
  border-color: #E4E4E4;
  border-width: 0 1px 1px 1px; }
  /* line 470, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  .row.wait-offers p {
    color: #FF8400;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    height: 270px;
    line-height: 270px;
    margin: 0; }

/* line 483, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
body.quick-view .the-modal {
  max-width: 1070px; }
  /* line 486, C:/projetos/core/qualitysp/src/scss/programacao-relampago/css/index.scss */
  body.quick-view .the-modal iframe {
    height: 580px !important; }
