body {
	&.ErrorRoute {
		.row-error {
			text-align: center;
			img {
				margin: 80px 0 20px;
			}
			p {
				font-size: 34px;
				font-weight: 400;
			}
			div {
				font-size: 24px;
				margin-bottom: 10px;
			}
			strong {
				display: block;
				font-size: 16px;
				color: #CCC;
				font-weight: normal;
			}
			a {
				display: inline-block;
				height: 50px;
				line-height: 50px;
				background-color: $orange;
				border-radius: 50px;
				color: white;
				font-weight: bold;
				border-style: solid;
				border-color: #D97100;
				border-width: 0 0 1px;
				padding: 0 30px;
				margin-top: 50px;
			}
		}
	}
}