body.BasketIndexRoute {
	.wd-checkout-basket-discount-progressive {
		overflow: visible;
		.wd-content {
			overflow: visible;
			ul {
				overflow: visible;
				li {
					height: 150px;
					padding: 0;
					border-color: #999;
					border-width: 1px 0 1px 1px;
					position: relative;
					&:after {
						top: 12px;
					}
					&:first-child {
						padding: 40px;
					}
					&:last-child {
						border-right: 1px solid #999;
					}
					.values {
						width: 100%;
						white-space: normal;
						font-size: 14px;
						text-align: center;
						background-color: #FAFAFA;
						.money-sign {
							display: inline-block;
						}
					}
					.discount {
						.discount {
							font-size: 24px;
							letter-spacing: -2px;
							margin-top: 6px;
							display: block;
						}
						.sufix {
							font-size: 12px;
							line-height: 12px;
						}
					}
					.warning {
						background-color: transparent;
						font-size: 12px;
						outline: inherit;
						width: 292.5px;
						left: 0;
						margin-right: -4px;
						padding: 10px;
						top: -26px;
						position: absolute;
						color: #333;
					}
					&.active {
						background-color: white;
						border-color: $orange;
						border-width: 0 2px 2px 2px;
						box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.3);
						margin-right: -1px;
						height: 154px;
						z-index: 1;
						.values {
							color: black;
							//background-color: $orange;
						}
						.discount {
							color: $orange;
						}
						.warning {
							background-color: $orange;
							border-color: $orange;
							border-style: solid;
							border-width: 2px 2px 2px 2px;
							top: -35px;
							left: -2px;
							color: white;
						}
					}
				}
			}
		}
	}
	.wd-checkout-basket-gift {
		h3 {
			color: #333;
			font-size: 16px;
			&:before {
				display: none;
			}
		}
		.ui-tabs-nav {
			li {
				&.selected {
					background-color: $orange!important;
					a {
						color: white;
					}
				}
				&:not(.selected) {
					a {
						color: black;
					}
				}
				&.ui-tabs-selected {
					background-color: tint($orange, 50%);
				}
			}
		}
		.ui-tabs-panel {
			border-top-color: $orange;
			.wd-product-list {
				li {
					width: 25%;
					min-height: 250px;
					.wd-product-gift-line {
						.select-gift {
							width: 100%!important;
							left: 0!important;
							margin-left: 0!important;
							bottom: 0!important;
							border-color: $orange!important;
							color: $orange!important;
							cursor: pointer;
							&:hover {
								background-color: tint($orange, 30%);
								color: white!important;
							}
						}
						&.gift-selected {
							.select-gift {
								background-color: $orange;
								color: white!important;
							}
						}
					}
				}
			}
		}
		.message-box {
			top: 40px!important;
			margin-top: -50px;
			.wrapper {
				box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.3)!important;
				right: inherit;
				width: 500px!important;
				padding: 40px;
				height: auto!important;
				.icon {
					top: -12px!important;
				}
				.text {
					padding-top: 0;
				}
			}
		}
		.overlay {
			min-height: 480px;
		}
	}
}