body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	a {
		text-decoration: none;
	}
	ul {
		margin: 0;
		padding: 0; 
		li { 
			list-style: none; 
		}
	}
	h3,h4,h5 {
		margin: 0;
	}
	figure {
		margin: 0;
	}
	fieldset {
		border: none;
		margin: 0;
		padding: 0;
	}
	.hide,
	.wd-hide {
		display: none;
	}
	.clearfix {
		overflow: hidden;
	}
	.row {
		@include outer-container;
		position: relative;
		.row {
		}
	}
	.top-bar, #header {
		.row {
	    	max-width: $max-width;
		}
	}
	.column {
		&.column-1  { @include span-columns(1); }
		&.column-2  { @include span-columns(2); }
		&.column-3  { @include span-columns(3); }
		&.column-4  { @include span-columns(4); }
		&.column-5  { @include span-columns(5); }
		&.column-6  { @include span-columns(6); }
		&.column-7  { @include span-columns(7); }
		&.column-8  { @include span-columns(8); }
		&.column-9  { @include span-columns(9); }
		&.column-10 { @include span-columns(10); }
		&.column-11 { @include span-columns(11); }
		&.column-12 { @include span-columns(12); }
		&.column-13 { @include span-columns(13); }
		&.column-14 { @include span-columns(14); }
		&.column-15 { @include span-columns(15); }
		&.column-16 { @include span-columns(16); }
	}

	.pull-left { float: left; }
	.pull-right { float: right; }
	.wrapper {
		max-width: $max-width;
		margin: 0 auto;
	}

	table {
		thead th,
		tbody td,
		tfoot td {
			border-bottom: 1px solid #EEE;
			padding: 0.5em 0!important;
		}
		thead {
			th {
				text-transform: uppercase;
				text-align: left;
				font-size: 0.8em;
				color: gray;
			}
		}
		tbody {
			tr {
				&:last-child {
					td {
						border-bottom: none;
					}
				}
				td {
				}
				&:hover {
					td {
						background-color: #FFE;
					}
				}
			}
		}
		tfoot {

		}
	}
	button,
	input,
	select,
	textarea {
		outline: none;
	}
}