#footer {
	h5 {
		font-size: 15px;
		font-weight: normal;
		margin-bottom: 15px;
	}
	.footer-1 {
		background-color: #11151e;
		height: 110px;

		.column {
			color: white;
			&:nth-child(1) {
				p {
					font-size: 20px;
					line-height: 110px;
					margin: 0;
					padding: 0;
				}
			}
			&:nth-child(2) {

			}
			.wd-marketing-newsletter {
				.form-wrapper {
					margin-top: 26px;
					position: relative;
					p, label {
						display: none;
					}
					.input-name-marketing-newsletter {
						display: none;
					}
					.input-button-marketing-newsletter {
						position: absolute;
						right: 0;
						top: 0px;

						button {
							position: absolute;
							right: 0;
							height: 59px;
							background-color: $orange;
							border: none;
							width: 66px;
							font-size: 0;
							border-radius: 0 6px 6px 0;
							/*
							&:before {
								content: '';
								display: block;
								@extend %sprite;
								background-position: -240px -65px;
								width: 26px;
								height: 20px;
								margin: 0 auto;
							}
							*/
							.icon-mail {
								position: absolute;
								top: 12px;
								left: 15px;
							}
						}
					}
					.input-email-marketing-newsletter {
						input {
							width: 100%;
							padding: 20px 20px;
							border-radius: 6px;
							border: none;
							color: black;
						}
					}
				}
				.message {
					line-height: 98px;
					text-align: center;
					color: $orange;
				}
			}
		}
	}
	.footer-2 {
		background-color: #191f2b;
		padding: 5em 0;
		h5 {
			color: #ff8504;
		}
		a {
			color: white;
		}
		.atendimento {
			dt,
			p {
				color: #55647c;
			}
			dt {
				display: inline-block;
			}
			p {
				a {
					text-decoration: underline;
				}
			}
			ul.info {
				li {
					label {
						color: #55647c;
					}
					span {
						color: white;
					}
				}
			}
			ul.social-media {
				margin-top: 2em;
				li {
					display: inline-block;
					margin-right: 1em;
					width: 41px;
					height: 41px;
					border: 2px solid white;
					border-radius: 50%;
					cursor: pointer;
					a {
						display: table;
						text-indent: -9999px;
						@extend %sprite;
						margin: 0 auto;
					}
					&.facebook {
						a {
							background-position: -205px -97px;
							width: 7px;
  							height: 14px;
  							margin-top: 11px;
						}
					}
					&.instagram {
						a {
							background-position: -287px -65px;
							width: 15px;
							height: 15px;
  							margin-top: 11px;
						}
					}
					&.twitter {
						a {
							background-position: -302px -65px;
							width: 14px;
							height: 12px;
  							margin-top: 13px;
						}
					}
					&.youtube {
						a {
							background-position: -316px -65px;
							width: 15px;
							height: 10px;
  							margin-top: 13px;
						}
					}
				}
			}
		}

		li {
			a {
				margin-bottom: 7px;
				display: block;
			}
		}
	}
	.footer-3 {
		background-color: #191f2b;
		h5 {
			color: white;
		}
		.disclaimer {
			color: #414a5b;
			p {
				font-size: 13px;
				margin-top: 20px;
			}
		}
		.row {
			border-top: 1px solid #131a24;
		}
		.logos {
			border-top: none;
			//text-align: center;
			padding-bottom: 30px;
			padding-left: 56px;
			a {
				display: inline-block;
				font-size: 0;
				@extend %sprite-footer;
				margin-right: 70px;
				position: relative;
				&:before {
					font-style: italic;
					font-size: 10px;
					color: #7b8391;
					position: absolute;
				}
				&.core {
					background-position: -282px -57px;
					width: 52px;
					height: 13px;
					&:before {
						content: 'Plataforma';
						left: -56px;
					}
				}
				&.adib {
					background-position: -334px -57px;
					width: 28px;
					height: 12px;
					&:before {
						content: 'Design';
						left: -36px;
					}
				}
				&.devdog {
					background-position: -282px -70px;
					width: 18px;
					height: 17px;
					margin-left: 50px;
					&:before {
						content: 'Desenvolvimento';
						left: -86px;
					}
				}
			}
		}
	}
	.payment-methods-and-security {
		padding: 35px 0;
		.payment-methods {
			strong {
				font-family: 'ubuntubold';
				font-size: 20px;
				color: $color-secondary;
				vertical-align: bottom;
			}
			.flags {
				display: block;
    			@extend %sprite-footer;
    			background-position: 0px 0px;
				width: 467px;
				height: 57px;
			}
		}
		.security {
			.seals {
				display: block;
				@extend %sprite;
				background-position: 0px -135px;
				width: 190px;
				height: 31px;
			}
			a {
				//display: inline-block!important;
				float: left;
				margin-right: 30px;
				&.digicert,
				&.google {
					@extend %sprite-footer;
					font-size: 0;
				}
				&.digicert {
					background-position: 0px -57px;
					width: 116px;
					height: 75px;
				}
				&.google {
					background-position: -116px -57px;
					width: 166px;
					height: 34px;
				}
			}
		}
	}

	.wd-page-menu {
		.root {
			> a {
				display: none;
			}
		}
	}
}