$black: #000000;
$white: #FFFFFF;
$color-1: #000000;
$color-2: #000000;
$color-3: #000000;

body.columns-2-left {
	#left {
		width: 271px;
		padding: 0;
	}
	#content-wrapper {
		margin: 0 0 0 300px;
	}
}

.wd-browsing-grid{
	header,
	footer{
		position: relative;
	}
	header {
		background-color: #F7F7F7;
		border: 1px solid $gray;
		height: 70px;
		line-height: 70px;

		.pagination {
			display: none;
		}
		.product-count {
			&:before {
				display: none;
			}
		}
	}
	.wd-browsing-grid-pager{
		.description{
			padding: 0 30px;
		}
		.page-number{
			margin: 0;
			display: none;
		}
		a{
			color: $black;
			text-decoration: none;
		}
		.page-selected{
			background: $color-1;
			color: $white!important;
			border:none;
			a{
				color: $white!important;
			}
		}
		span:hover{
			background: $gray;
			border:none;
			a{
				color: $black;
			}
		}
	}
	.wd-browsing-grid-sorter{
		top: 0px;
		right: 30px;
	}
	footer {
		.wd-browsing-grid-pager {
			margin-top: 10px;
			.description {
				display: none;
			}
			.page-number {
				display: block;
				width: 100%;
				background-color: #F7F7F7;
				height: 70px;
				border-style: solid;
				border-color: #CCC;
				border-width: 1px;
				//margin-top: -1px;
				span {
					float: left;
					width: 67px;
					line-height: 70px;
					text-align: center;
					border-style: solid;
					border-color: #CCC;
					border-width: 0 1px 0 0;
					border-radius: 0;
					padding: 0;
					a {
						display: block;
					}
					&.page-selected {
						background-color: $orange;
						box-shadow: 0 10px 50px 0px rgba($orange, 0.3);
					}
					&.previous {
						position: absolute;
						left: 0;
						top: 0;
						a {
							font-size: 0;
							&:before {
								content: "\f053";
								font: normal normal normal 14px/1 FontAwesome;
								height: 70px;
    							line-height: 70px;
							}
						}
					}
					&.next {
						position: absolute;
						right: 0;
						top: 0;
						border-left-width: 0px;
						a {
							font-size: 0;
							&:before {
								content: "\f054";
								font: normal normal normal 14px/1 FontAwesome;
								height: 70px;
    							line-height: 70px;
							}
						}
					}
					&.disabled {
						a {
							&:before {
								opacity: 0.2;
							}
						}
					}
				}
				.pages {
					display: table;
					margin: 0 auto;
					> span {
						&:first-child:not(.page-selected) {
							border-left: 1px solid #CCC;
						}
					}
				}
			}
		}
		.wd-browsing-grid-sorter {
			display: none;
		}
	}
}
.wd-browsing-grid-list{
	> ul {
		border-top: none;
		padding: 0;
		margin: 0;
	}
	> ul > li{
		width: 33.3333%;
	}
}
.wd-facet-group .facets {
	background-color: white!important;
	border-radius: 5px;
	padding: 20px 30px!important;
	box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.3);
}
.wd-facet-group .facets,
.wd-facet-group .selected-facets{
	background: none;
	border:solid 1px $gray;
	border-radius: 5px;

	ul{
		padding: 10px 0!important;
		margin: 0!important;
		
	}
	.facet-type {
		border-bottom: 1px solid $gray;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	
	.facet-title,
	.selected-facet-name{
		padding: 10px 10px 10px 0px!important;
		font-size: 14px!important;
		color: black;
		

		&::before{
			display: none!important;
		}
	}
	.facet-title{
		border-top: none!important;
	}
	a,
	.option-title,
	.option-count{
		color: #999!important;
		text-decoration: none;
		text-transform: capitalize;
	}
	a{
		display: block!important;
		padding: 2px 5px 2px 0px;
		&:hover{
			//color: $white!important;
			text-decoration: none;

			.option-title,
			.option-count{
				color: #666!important;
				text-decoration: none!important;
			}
		}
	}
	.wd-facet-type-range .range-wrapper{
		border:none;
		background: none;
		width: 190px;
		display: table;
		margin: 60px auto 0;
		margin-right: 14px;
		//margin: 10px 10px 0 18px;
		.range2h {
			&:before {
				content: '';
				background-color: #EEE;
				width: 20px;
				height: 5px;
				position: absolute;
				left: -20px;
				top: 0;
			}
			&:after {
				content: '';
				background-color: #EEE;
				width: 30px;
				height: 5px;
				position: absolute;
				right: -32px;
				top: 0;
			}
		}
		.icon,
		.range2h,
		.defined-range,
		.submit{
			border:none!important;
			box-shadow:none;
		}
		.icon{
			//background: $color-1!important;
			//@include size(15px);
			//@include border-radius(20px);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			background-color: white!important;
			box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.3);
		}
		.defined-range{
			background: $orange!important;
			box-shadow: none;
		}
		.handler {
			.icon {
				top: -3px;
			}
		}
		.min-text,
		.max-text{
			display: inline-block;
			bottom: 30px;
			padding: 10px 10px;
			background: white;
			font-size: 12px;
			border-radius: 50px;
			border: 1px solid $gray;
			width: 85px;
			text-align: center;
			color: #666;
		}
		.min-text{
			left: -10px;
		}
		.max-text {
			margin-right: -20px;
		}
		.submit{
			display: table;
			margin: 30px auto 0px auto;
			position: relative;
			font-size: 12px;
			width: 120px;
			left: 4px;

			width: 100%;
			height: 50px;
			line-height: 30px;
			background-color: #949494;
			border-radius: 50px;
			color: white;
			font-weight: bold;
			
		}
	}

}

body {
	.wrapper-banner-internal {
		display: none;
	}
}
body.grid-products {
	&.has-banner-category {
		.wrapper-banner-internal {
			display: block;
			background-color: #191f2b;
			padding: 20px 0;
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
		.wrapper-breadcrumbs {
			display: none;
		}
		#left {
			.facets {
				margin-top: -466px;
			}
		}
	}
	.searched-for {
		padding-top: 35px;
		margin-bottom: -15px;
		strong {
			
		}
	}
}

.wd-facet-group .selected-facets{
	&::before{
		padding: 10px 10px 10px 27px!important;
		font-size: 20px!important;
		color: $color-2!important;
		margin: 0;
	}
	.selected-facet {
    	border: none;
    	margin: 0;
    	border-radius: 3px;
    	&.colors {
    		.markup-color {
    			width: 20px;
    			height: 20px;
    			display: inline-block;
    			border-radius: 50%;
    			position: relative;
    			top: -2px;
    			float: left;
    			margin-right: 5px;
    		}
    	}
	}
	.selected-facet-name{
		background: none;
		border-top: solid 1px $gray;
		border-bottom: solid 1px $gray;
	}
	.selected-option{
		padding: 0 10px 0 0px;
		border:none;
		clear: both;
		margin-bottom: 10px;
	}
	.facet-type-selected {
		padding: 0 20px;
	}
	li:hover{
		border:none;
	}
	li .clear-filter:hover{
		color:$color-3;
	}
}

.grid-empty {
	#left{
		display: none;
	}
	#content-wrapper{
		margin: 0;
	}
	.no-data{
		display: block;
		text-align: center;
		margin: 50px 0;
		font-size: 2em;
		//@extend .bold;
	}
}

.wd-facet-group {
	.facet-type {
		&.colors {
			li {
				display: inline-block;
				margin-right: 7px;
				margin-bottom: 7px;
				.markup-color {
					display: block;
					width: 26px;
					height: 26px;
					border-radius: 50%;
					border: 1px solid rgba(0,0,0,0.05);
				}
				.option-title,
				.option-count {
					display: none;
				}

				&.selected {
					.markup-color {
						//border: 1px solid rgba(0,0,0,0.5);
						position: relative;
						&:before {
							content: '✔';
							position: absolute;
							color: white;
							text-align: center;
							width: 100%;
							line-height: 24px;
						}
					}
				}
			}
		}
		&.wd-facet-type-range {
			.submit {
			}
		}
		&.wd-facet-type-rating {
			li.star-0 {
				display: none;
			}
		}
	}

}

body {
	&[class*='context-search-'] {
		#middle {
			> .row {
				> .searched-for {
					display: none;
				}
			}
		}
		.searched-for {
			width: 100%;
			//position: absolute;
			//top: 85px;
			z-index: 2;
			padding: 25px 0px 35px;
			color: #555;
			span {
				display: block;
				padding-bottom: 30px;
				padding-top: 10px;
				border-bottom: 1px solid $gray;
			}
		}
		#left {
			.facets {
				//padding-top: 140px!important;
			}
		}
	}
}