#header {
	.header {
		background-color: #191f2b;
		height: 147px;

		.wrapper-logo,
		.wrapper-search,
		.wrapper-identification,
		.wrapper-wishlist,
		.wrapper-basket {
			float: left;
			margin-right: 30px;
		}

		.wrapper-logo {
			width: 170px;
			margin-top: 20px;
			a {
				@extend %sprite;
				background-position: 0px -65px;
				width: 159px;
				height: 70px;
				display: block;
				text-indent: -9999px;
			}
		}
		
		.wrapper-search {
			width: 569px;
			position: relative;
			margin-top: 50px;
			.wd-search {
				.input-wrapper {
					position: relative;
					margin-right: 0;
					input {
						width: 100%;
						padding: 20px 20px;
						border-radius: 6px;
						border: none;
					}
				}
				button {
					position: absolute;
					right: 0;
					height: 59px;
					background-color: $orange;
					border: none;
					width: 66px;
					font-size: 0;
					border-radius: 0 6px 6px 0;
					/*
					&:before {
						content: '';
						display: block;
						@extend %sprite;
						background-position: -217px -65px;
						width: 23px;
						height: 24px;
						margin: 0 auto;
					}
					*/
				}

				.suggestion-box {
					.suggestion-box-wrapper {
						padding: 0;
						.suggestion-terms {
							padding: 10px;
							background-color: #FAFAFA;
						}
					}
					.suggestion-products {
						.suggestion-title {
							display: none;
						}
						ul {
							li {
								padding: 10px 10px 10px 30px;
								.suggestion-product-img {
									width: 80px;
									height: auto;
									img {
										display: block;
										margin: 0 auto;
									}
								}
								.suggestion-product-description {
									height: auto;
									margin-left: 20px;
									padding-top: 0px;
									width: 300px;
									.suggestion-product-name,
									.suggestion-product-price {
										font-size: 14px;
									}
									.suggestion-product-name {
										margin-bottom: 5px;
									}
									.suggestion-product-price {
										color: $orange;
									}
								}
							}
						}
					}
				}
			}
			.wd-browsing-list-all-categories {
				position: absolute;
				bottom: 0;
				right: 70px;
				&:before {
					content: '';
					color: $gray;
					position: absolute;
					line-height: 30px;
					top: 15px;
					left: -20px;
					width: 1px;
					height: 30px;
					border-right: 1px solid $gray;
				}
				&:after {
					content: '>';
					-webkit-transform:rotate(90deg);
					-moz-transform:rotate(90deg);
					-ms-transform:rotate(90deg);
					transform:rotate(90deg);
					right:8px;
					top: 0;
					padding:0 0 2px;
					position:absolute;
					pointer-events:none;
					line-height: 59px;
					color: $gray;
				}
				select {
					font-size: 12px;
					line-height: 59px;
					@include appearance(none);
					border: none;
					direction: rtl;
					padding-right: 30px;
				}
			}
			.menu-top {
				position: absolute;
				top: -36px;
				a {
					color: #505B6C;
					margin-right: 30px;
				}
			}
		}

		.wrapper-identification {
			margin-top: 64px;
			width: 170px;
			.wd-profile-welcome-shopper {
				line-height: inherit;
				.shopper-authenticated,
				.shopper-not-authenticated {
					position: relative;
					padding-left: 40px;
					&:before {
						content: '';
						//@extend %sprite;
						//background-position: -159px -97px;
						width: 24px;
						height: 28px;
						display: block;
						position: absolute;
						left: 0;
						top: 4px;
					}
					.title {
						display: block;
						padding: 0;
						b {
							
						}
					}
					.login-wrapper {
						.login-title {
							background: none;
							padding: 0;
							color: $orange;
						}
					}
					a {
						color: $orange;
						font-weight: normal;
					}
				}
				.login-wrapper {
					.wd-profile-login {
						display: none;
					}
				}
				.new-account {
					padding: 0;
					&:before {
						content: 'ou ';
						color: white;
					}
				}
				.shopper-authenticated {
					.authenticated {
						margin-top: -10px;
						b {
							display: block;
							color: white;
						}
						.click-here {
							font-size: 12px;
							line-height: 16px;
							display: block;
						}
					}
					.sign-out {
						position: absolute;
						right: 0;
						bottom: 0;
						font-size: 12px;
						&:before {
							content: ''!important;
						}
					}
				}
				.icon-user {
					position: absolute;
					top: 0;
					left: -7px;
				}
			}
		}

		.wrapper-wishlist {
			margin-top: 68px;
			width: 70px;
			position: relative;
			a {
				display: block;
				//@extend %sprite;
				//background-position: -188px -65px;
				width: 29px;
				height: 27px;
				margin: 0 auto;
				top: -4px;
				position: relative;
			}
			&:hover {
				.hover {
					//opacity: 1;
					//visibility: visible;
					display: block;
				}
			}
			.hover {
				//opacity: 0;
				//visibility: hidden;
				display: none;
				transition: all .1s ease-in-out;
				width: 160px;
				background-color: #DF274D;
				position: absolute;
				top: 55px;
				color: white;
				height: 44px;
				line-height: 44px;
				text-align: center;
				z-index: 1;
				left: 50%;
				margin-left: -86px;
				border-radius: 6px;
				&:before {
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 10px 10px;
					border-color: transparent transparent #DF274D transparent;
					left: 50%;
					margin-left: -5px;
					top: -10px;
				}
			}
			
		}
		.wrapper-basket {
			width: 71px;
			margin-right: 0;
			margin-top: 64px;
			.wd-checkout-basket-summaryheader {
				.wd-widget {
					overflow: inherit;
				}
				a {
					> b {
						//text-indent: -9999px;
						display: inline-block;
						//@extend %sprite;
						//background-position: -159px -65px;
						width: 42px;
						height: 32px;
						position: absolute;
						top: -4px;
						font-size: 0;
					}
				}
				.basket-size-wrapper {
					float: right;
					.basket-size {
						background-color: #0DC1E7;
						width: 32px;
						height: 32px;
						border-radius: 50%;
						display: inline-block;
						text-align: center;
						line-height: 32px;
						color: white;
						font-weight: bold;
					}
				}

				.summaryheader-content {
					width: 375px;
					top: 60px;
					box-shadow: 0 10px 50px 0px rgba(0, 0, 0, 0.3);
    				border-radius: 5px;
					&:before {
						content: '';
						width: 100%;
						position: absolute;
						height: 40px;
						top: -28px;
					}
					.wd-header {
						display: none;
						/* height: 66px;
						line-height: 66px;
						background-color: #F6F6F6;
						border-bottom: 1px solid #E5E5E5;
						padding: 0 0 0 20px;
						border-radius: 5px 5px 0 0;
						.wd-title {
							font-weight: normal;
						}
						&:before {
							content: '';
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent #F6F6F6 transparent;
							position: absolute;
							right: 27px;
							top: -10px;
						} */
					}
					.wd-content {
						margin-bottom: 0;
						.summaryheader-link {
							display: block;
							color: #777;
							background-color: white;
							border-bottom: 1px solid #E5E5E5;
							position: relative;
							.product {
								line-height: inherit;
								.img {
									margin-right: 10px;
								}
								.name {
									width: 200px;
									a {
										color: #666;
									}
								}
								.price {
									color: $orange;
									float: none;
									padding-left: 66px;
									clear: left;
									width: 100%;
									text-align: left;
								}
							}
							.remove {
								position: absolute;
								right: 0;
								top: 0px;
								padding: 10px 17px;
								color: #888;
								font-size: 17px;
								font-weight: bold;
							}
						}
						.subtotal,
						.loyalty-total-of-product-points {
							display: none;
						}
						.basket-header {
							font-size: 16px;
							height: 66px;
							line-height: 66px;
							background-color: #F6F6F6;
							border-bottom: 1px solid #E5E5E5;
							padding: 0 0 0 20px;
							border-radius: 5px 5px 0 0;
							.wd-title {
								font-weight: normal;
							}
							&:before {
								content: '';
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 0 10px 10px 10px;
								border-color: transparent transparent #F6F6F6 transparent;
								position: absolute;
								right: 27px;
								top: -10px;
							}
							strong {
								padding-left: 5px;
							}
						}
					}
					.wd-footer {
						background-color: $orange;
						height: 58px;
						border-radius: 0 0 5px 5px;
						.go-to-basket {
							display: none;
						}
						.go-to-checkout {
							border: none;
							background-color: transparent;
							color: white;
							line-height: 58px;
							font-weight: bold;
						}
					}
				}

				&.empty {
					.summaryheader-content {
						.wd-footer {
							&:before {
								content: 'Carrinho vazio';
								color: white;
								line-height: 58px;
							}
						}
					}
				}
			}
		}
	}
	.categories {
		background-color: #11151e;
		height: 70px;
		.main-categories {
			.wd-category-menu {
				.level-1 {
					> li {
						display: inline-block;
						h3 {
							height: 70px;
							line-height: 70px;
							padding-right: 20px;
							a {
								display: inline;
								padding: 16px 13px 25px 12px;
								color: white;
								font-weight: normal;
								font-size: 14px;
								border-radius: 5px 5px 0 0;
							}
						}
						&:hover {
							h3 {
								a {
									background-color: #191f2b;;
								}
							}
							.wrapper-sub-section {
								display: block;
							}
						}
					}
				}
				.wrapper-sub-section {
					position: absolute;
					background-color: #191f2b;
					top:70px;
					left: 0;
					//min-width: 900px;
					padding: 40px;
					z-index: 1;
					border-radius: 0 0 5px 5px;
					li {
						margin-bottom: 5px;
					}
					a {
						color: white;
						font-weight: normal;
						&:hover {
							color: $orange;
						}
					}

					.sub-section,
					.wrapper-brands,
					.wrapper-banner-menu {
						display: inline-block;
						margin-right: 20px;
					}
					.sub-section {
						//width: 250px;
						//float: left;
						> .title {
							display: block;
							color: white;
							text-transform: uppercase;
							margin-bottom: 30px;
						}
					}
					.wrapper-brands {
						strong {
							display: block;
							color: white;
							text-transform: uppercase;
							margin-bottom: 30px;
						}
					}
					.wrapper-banner-menu {
						margin-right: 0;
						width: 300px;
						height: 200px;
						background-color: black;
						border-radius: 6px;
						float: right;
					}
				}
				.wrapper-sub-section {
					display: none;
				}
			}
		}
		.more-categories {
			.open-more {
				color: white;
				position: absolute;
				right: 0;
				top: 10px;
				background-color: #191f2b;
				display: block;
				padding: 15px 30px 15px 60px;
				border-radius: 4px;
				width: 235px;
				font-weight: bold;
				text-align: right;
				/*
				&:before {
					content: '';
					@extend %sprite;
					background-position: -266px -65px;
					width: 21px;
					height: 16px;
					position: absolute;
					left: 38px;
					top: 17px;
				}
				*/
				.icon-menu {
					position: absolute;
					left: 27px;
					top: 10px;
				}
			}
			.more {
				background-color: #191f2b;
				position: absolute;
				top: 70px;
				left: 0;
				z-index: 1;
				width: 100%;
				display: none;

				nav {
					padding: 30px 40px;
					a {
						font-weight: normal;
						color: white;
						&:hover {
							color: $orange;
						}
					}
					li.last {
						a {
							&:hover {
								color: white;
							}
						}
					}
					.level-1 {
						> li {
							float: left;
							margin-right: 70px;
							margin-bottom: 50px;
							min-height: 180px;
							h3 {
								font-size: 14px;
								padding-bottom: 30px;
								a {
									text-transform: uppercase;
									font-weight: bold;
								}
							}
							.sub-section {
								li {
									margin-bottom: 4px;
								}
							}
						}

					}
				}
			}
			&:hover {
				.open-more {
					height: 70px;
				}
				.more {
					display: block;
				}
			}
		}
		[title="veja mais"] {
			text-transform: uppercase;
			font-size: 10px;
			background-color: $orange;
			padding: 5px 20px;
			border-radius: 4px;
			font-weight: bold;
			margin-top: 5px;
			display: inline-block;
		}
	}
	> .row {
		
		h1 {
			margin: 0;
		}
		.wrapper-search {
			
			.wd-search{
				.input-wrapper {
					
					input {
						
					}
				}

				button[type="submit"] {
				 	
				}
			} 	
		}
		.wrapper-identification{
			
			.login-simple {
				
    			.title {
    				
				    b {
	    				
	    				a {
	    					
	    				}
	    			}
    			}
    			.login-wrapper, .new-account {
    				
    			}
			}
		}
		.wrapper-basket {
			.basket-size-wrapper {
				
			}
		}

	}
	
}

body.header-fixed {
	padding-top: 217px;
	#header {
		box-shadow: 0 0px 30px 10px rgba(0,0,0,0.5);
		height: 59px;
		position: fixed;
		width: 100%;
		margin: 0 auto;
		top: 0;
		z-index: 10;
		> .header {
			height: 59px;
			.wrapper-logo {
				h1 {
					
				}
				a {
					background-position: -194px -140px;
					width: 63px;
					height: 26px;
					position: absolute;
					top: 16px;
					left: 65px;
				}
			}
			.wrapper-search {
				margin-top: 0px;
				.search-field,
				button {
					border-radius: 0;
				}
			}
			.wrapper-identification {
				margin-top: 10px;
			}
			.wrapper-wishlist {
				margin-top: 14px;
			}
			.wrapper-basket {
				margin-top: 13px;
			}
		}
		> .categories {
			display: none;
		}
	}
}