body.HomeRoute {
	.wrapper-banner {

		.wd-marketing-banner {
			text-align: center;
			min-height: 526px;
			.banner-show {
				padding-top: 25px;
			}
			.slider-controller {
				bottom: 30px;
				left: 0;
				right: 0;
				line-height: normal;
				li {
					text-indent: -99999px;
					border: 2px solid #EEE;
					border-radius: 50%;
					width: 12px;
					height: 12px;
					display: inline-block;
					float: none;
					text-align: center;
					background-color: white;
					&.current {
						border-color: shade($orange,10%);
						background-color: $orange;
					}
					&:not(:last-child) {
						margin-right: 15px;
					}
				}
			}
		}

	}

	.wrapper-banner-home {
		margin-top: 78px;
		margin-bottom: 78px;
		overflow: hidden;
		div[class^="group_"] {
			float: left;
			overflow: hidden;
			&:nth-child(1) {
				width: 780px;
				.wd-marketing-banner {
					overflow: hidden;
					background-color: #191F2B;
					height: 388px;
					&:nth-child(1) {
					}
					&:nth-child(2),
					&:nth-child(3) {
						float: left;
						width: 390px;
						.banner-wrapper {
						}
					}
					&:nth-child(2) {
					}
					&:nth-child(3) {
					}

					
				}
			}
			&:nth-child(2) {
				//background-color: #191F2B;
				width: 390px;
				height: 776px;
				.wd-marketing-banner {
					background-color: #191F2B;
				}
			}
			.wd-marketing-banner {
				&.azul {
					&:hover {
						//background-color: shade(#191F2B, 50%);
					}
				}
				&.laranja {
					&:hover {
						//background-color: $orange;
					}
				}
				img {
					background-color: #191F2B;
				}
				&:hover {
					img {
						background-color: transparent!important;
					}
				}
			}
		}
	}

	.wrapper-brand {
		border-bottom: 1px solid $gray;
		padding-top: 20px;
		padding-bottom: 20px;

		.wd-header,
		.wd-footer {
			display: none;
		}

		.brandList {
			li {
				width: 180px;
				height: 90px;
				margin-right: 5px;
				display: table;
				background-color: transparent;
				transition: background-color .2s ease-in-out;
				a {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
				&:hover {
					background-color: $gray;
				}
			}
		}
		.jcarousel-control-prev,
		.jcarousel-control-next {
			span {
				@extend %sprite;
				width: 11px;
  				height: 20px;
  				border: none;
			}
		}
		.jcarousel-control-prev {
			span {
				background-position: -183px -97px;
			}
		}
		.jcarousel-control-next {
			span {
				background-position: -194px -97px;
			}
		}
	}

}
.wd-product-list-set {
	&.wd-tabs.wd-widget {
		.wd-nav {
			> li {
				background-color: #f7f7f7;
				width: 390px;
				border-top: 1px solid $gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;
				&:first-child {
					border-left: 1px solid $gray;
				}
				&.wd-selected {
					background-color: #191f2b;
					border-color: #191f2b;
					a {
						color: white;
					}
				}
				a {
					color: #888;
					display: block;
					text-align: center;
					padding: 20px 0;
				}
			}
		}
	}
	.wd-panel {
		padding: 0;
	}
}