body.LoginRoute {
	.identification {
		padding-top: 78px;
		.wd-profile-login {
			width: 470px;
			.wd-title {
				font-size: 24px;
				text-align: center;
				margin-bottom: 20px;
			}
			form {
				margin: 0 auto;
				display: table;
				.input-wrapper {
					position: relative;
					label {
						display: none;
					}
					input,
					button {
						width: 470px;
						display: block;
					}
					input {
						padding: 20px 20px;
						border: 1px solid $gray;
						&.email {
							border-radius: 6px 6px 0 0;
						}
					}
					button {
						background-color: $orange;
						color: white;
						font-weight: bold;
						height: 58px;
						line-height: 58px;
						border: 0;
						border-bottom: 1px solid #D97100;
						border-radius: 0 0 6px 6px;
					}
					&:nth-child(1) {
						input {
							border-bottom: none;
						}
					}
					.load {
						position: absolute;
						bottom: 19px;
						top: inherit;
						left: inherit;
						right: 10px;
					}
				}
				.recover-password {
					display: block;
					text-align: center;
					color: $orange;
					margin-top: 20px;
				}
			}
		}
		.register {
			width: 470px;
			margin: 0 0 0 auto;
			.title {
				font-size: 24px;
				text-align: center;
				margin-bottom: 20px;
			}
			.register-now {
				width: 100%;
				background-color: #191F2B;
				text-align: center;
				color: white;
				font-weight: bold;
				height: 58px;
				line-height: 58px;
				display: block;
				margin: 0 auto;
				border-bottom: 1px solid #151A25;
				border-radius:6px;
			}
		}

		.column {
			&:nth-child(1) {
				&:before {

				}
			}
		}
	}
	#middle {
		position: relative;
		&:before {
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			left: 50%;
			border-right: 1px solid $gray;
		}
		&:after {
			content: 'ou';
			color: #BBB;
			position: absolute;
			border: 1px solid $gray;
			border-radius: 50%;
			background-color: white;
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			left: 50%;
			margin-left: -25px;
			top: 50%;
			margin-top: -25px;
		}
	}
}

body.PasswordRecoveryRoute {
	.row.wd-widget {
		margin-top: 4em;
		.wd-title {
			font-size: 24px;
			margin-bottom: 20px;
		}

		form {
			margin: 0 auto;
			text-align: right;
			display: table;
			.input-wrapper {
				position: relative;
				margin-bottom: 20px;
				label {
					font-weight: bold;
					//font-size: 16px;
					width: 220px;
					display: inline-block;
					text-align: right;
					padding-right: 10px;
				}
				input,
				button {
					width: 270px;
					display: inline-block;
				}
				input {
					padding: 20px 20px;
					border: 1px solid $gray;
					&.email {
						border-radius: 6px 6px 0 0;
					}
				}
			}
			button {
				background-color: $orange;
				color: white;
				font-weight: bold;
				height: 58px;
				line-height: 58px;
				border: 0;
				border-bottom: 1px solid #D97100;
				border-radius: 6px;
				margin-left: 220px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}