%modal-message-error {
	.the-modal {
		width: 450px;
	}
	.the-modal-container {
		> div {
			text-align: center;
			text-transform: uppercase;
		}
	}
}
body {
	&.themodal-lock {
		.themodal-overlay {
			opacity: 1;
		}
	}
	.themodal-overlay {
		@include transition(opacity, 0.2s, ease-in-out);
		background-color: rgba(0,0,0,0.8);
		opacity: 0;
		z-index: 1001;
		.the-modal {
			overflow: visible;
			max-width: 800px;
			box-shadow: 0 23px 20px -15px rgba(0, 0, 0, 0.3);
			a.close {
				border-radius: 0;
				background-color: $color-primary;
				right: 0;
				top: 0;
				//width: 30px;
				//height: 30px;
				border-left: none;
				text-align: center;
				//text-indent: -9999px;
				padding: 5px 10px;
				//font-size: 16px;
				&:after {
					/*
					content: '';
					@extend %sprite;
					background-position: -561px -364px;
					width: 17px;
					height: 16px;
					display: block;
					position: absolute;
					top: 6px;
					left: 7px;
					*/
				}
			}

			.input-wrapper {
				span.error {
					position: absolute;
				    background-color: #FFC!important;
				    font-size: 11px;
				    padding: 5px;
				}
			}
			.the-modal-container {
				border-radius: 5px;
				padding: 2em;
				//box-shadow: 0 10px 30px -10px rgba(0,0,0,1);

				> .alert {
					text-align: center;
					text-transform: uppercase;
				}

				.wd-widget {
					//margin-top: -1em;
					.wd-header {
						padding-bottom: 0em;
						border-bottom: 1px solid #DDD;
						.wd-title {
							color: $color-primary!important;
							line-height: 33px;
							text-align: left;
							padding-left: 0;
							font-size: 26px;

							/* &:before {
								@extend %sprite-main;
								content: "";
								width: 40px;
								height: 33px;
								display: block;
								float: left;
							} */
						}
					}
					.wd-content {
						padding: 1em 0;
						button {
						}
					}
				}
			}

			&.with-iframe {
				iframe {
					height: 400px;
				}
			}
		}
		&.wd-profile-loyalty-redeembutton-modal {
			.the-modal {
				max-width: 500px;
				.bt-rescue {
					@extend .btn-default !optional;
					display: inline-block!important;
				}
				input,
				select {
					padding: 12px 20px;
					border: 1px solid $gray;
					border-radius: 6px;
				}
				.modal-redeem {
					.wrapper {
						margin: 20px auto 20px;
						display: table;
						input {
							margin-right: 10px;
						}
						> span {
							margin-bottom: 0px;
							display: block;
							text-align: center;
						}
					}
					> .title {
						font-family: 'Open Sans', sans-serif;
						font-size: 24px;
						margin-bottom: 20px;
						display: block;
					}
					.wd-profile-loyalty-points {
						display: table;
						margin: 0 auto;
					}
				}
			}
		}
		&.wd-profile-login-recover-password-response-modal {
			@extend %modal-message-error;
		}
		&.modal-wd-product-reviews {
			.wd-product-reviews {
				overflow: hidden;
			}
			.input-wrapper {
				span.error {
					position: absolute;
				}
				&.captcha-code {
					span.error {
						text-indent: -9999px;
						width: 20px;
						bottom: 0!important;
						&:before {
							text-indent: initial;
						}
					}
				}
			}
		}
		&.wd-profile-login-modal {
			.the-modal {
				width: 450px;
			}
			.wd-profile-login {
				float: none;
				width: 100%;
				padding: 0;
				margin: 0;
			}
			.wd-header {
				.wd-title {
				}
			}
			.wd-content {
				overflow: hidden;
				position: relative;
				p {
					margin: 0;
					color: $color-darkness;
					font-size: 0.8em;
					position: absolute;
					top: 80px;
				}
				input[type="text"] {
				}
				button[type="submit"] {
					float: right;
					margin-top: 4em;
				}
				span.error {
					bottom: 5px!important;
					right: 5px!important;
				}
			}
		}
		&.modal-delivery-fee {
			.the-modal {
				width: 500px;
			}
			.wd-header {
				.wd-title {
					&:before {
						@extend %sprite-main !optional;
						content: "";
						width: 40px;
						display: block;
						float: left;
						background-position: 0 -319px;
						height: 21px;
					}
				}
			}
			.wd-content {
				.grid {
					thead {
						th:nth-child(2) {
							width: 100px;
						}
					}
					tbody {
						td {
							img {
								float: left;
								padding-right: 10px;
							}
						}
					}
				}
			}
		}
		&.open-modal-wishlist {
			.the-modal {
				max-width: 1080px;
			}
			.alert {
				padding: 0;
				&.alert-warning {
					text-align: center;
					text-transform: uppercase;
					margin-bottom: 40px;
				}
			}
			.wrapper-breadcrumbs {
				display: none;
			}

			.wd-profile-login {
				width: 470px;
				.wd-header {
					border-bottom: none!important;
				}
				.wd-title {
					font-size: 24px;
					text-align: center!important;
					margin-bottom: 20px;
				}
				form {
					margin: 0 auto;
					display: table;
					.input-wrapper {
						margin-bottom: 0;
						padding: 0;
						label {
							display: none;
						}
						input,
						button {
							width: 470px;
							display: block;
						}
						input {
							padding: 20px 20px;
							border: 1px solid $gray;
							&.email {
								border-radius: 6px 6px 0 0;
							}
						}
						button {
							background-color: $orange;
							color: white;
							font-weight: bold;
							height: 58px;
							line-height: 58px;
							border: 0;
							border-bottom: 1px solid #D97100;
							border-radius: 0 0 6px 6px;
						}
						&:nth-child(1) {
							input {
								border-bottom: none;
							}
						}
					}
					.recover-password {
						display: block;
						text-align: center;
						color: $orange;
						margin-top: 20px;
					}
					span.error {
					    right: 0px !important;
					    top: 36px;
					    z-index: 12;
					    bottom: inherit!important;
					}
				}
			}
			.register {
				width: 470px;
				margin: 0 0 0 auto;
				.title {
					font-size: 24px;
					text-align: center;
					margin-bottom: 20px;
				}
				p {
					margin: 14px 0;
				}
				.register-now {
					width: 100%;
					background-color: #191F2B;
					text-align: center;
					color: white;
					font-weight: bold;
					height: 58px;
					line-height: 58px;
					display: block;
					margin: 0 auto;
					border-bottom: 1px solid #151A25;
					border-radius:6px;
				}
			}
		}
		&.show-form-add-wishlist {
			&.true {
				.the-modal {
					width: 500px;
				}
			}
			p {
				text-align: center;
				text-transform: uppercase;
			}
			a.btn-wide {
				@include button(primary, default, 5px, false);
				//display: table;
				//width: auto;
				margin: 2em auto 0;
			}
			form.form-modal-wishlist {
				min-width: inherit;
				.input-wrapper {
					label {
						width: 160px;
						display: inline-block;
						text-align: right;
						margin-right: 10px;
					}
				}
				.button-wrapper {
					margin-top: 2em;
					text-align: center;
					button {
						width: 100%;
					}
				}
			}
		}
		&.schedule-shifts-modal {
			.the-modal {
				max-width: 850px;
			}
			.schedule-shifts-modal {
				table {
					th, td {
						border-right: 1px solid $color-light;
						padding: 1em;
						> p {
							font-size: 0.8em;
							b {
								display: block;
							}
						}
					}
				}
			}
		}
		&.wd-product-notifymewhenavailable-modal {
			.the-modal {
				width: 450px;
			}
			form {
				> div {
					> img {
						float: left;
						margin-right: 20px;
					}
				}
				fieldset {
					border: none;
					.input-wrapper {
						margin-bottom: 1em;
					}
					.button-wrapper {
						button {
							@include button(primary, default, 5px, true);
						}
					}
				}
			}
		}
		&.wd-browsing-feedback-modal {
			.wd-product-indicate-form {
				p {
					font-style: italic;
					margin-bottom: 1em;
				}
				div.wrapper {
					overflow: hidden;
					margin-bottom: 1em;
				}
				fieldset {
					//border: 0;
					//margin: 0;
					//padding: 0;

					legend {
						text-transform: uppercase;
						font-weight: bold;
					}
					&.left {
						padding-right: 2em;
					}
					&.right {
						padding-left: 2em;
					}
					&:nth-child(3) {
						//padding-top: 1em;
					}
					.input-wrapper {
						input {
							width: 100%;
						}
					}
					textarea {
						width: 100%;
					}
				}
				.buttons {
					button {
						margin: 2em auto 0;
						display: block;
					}
				}
			}
		}
		&.message-error {
			@extend %modal-message-error;
		}
		&.modal-wd-product-reviews {
			.the-modal {
				width: 650px;
			}
			.wd-content {
				.rating-attributes {
					@include span-columns(4);
					float: right;
					padding: 0;
					background-color: transparent;
					border: none;
					li {
						&.avaliacao {
							b {
								display: block;
								width: auto;
								float: none;
								text-align: left;
							}
							.rating {
								margin-top: 0.6em;
								margin-left: 0;
							}
						}
					}
				}
				.review {
					@include span-columns(8);
					.input-wrapper {
						label {
							display: block;
							width: auto;
							text-align: left;
							float: none;
							font-weight: bold;
						}
						input[type="text"],
						textarea {
							width: 300px;
						}
						textarea {
							min-height: 100px;
						}
						&.captcha-code {
							float: left;
							input {
								width: 135px;
							}
						}
						&.captcha {
							float: right;
							width: auto;
							margin-right: 29px;
							.captcha-box {
								margin-top: 0px;
								.reload-captcha {
									bottom: 10px;
								}
								img {
									height: auto;
									width: 150px;
								}
							}
						}
					}
					.button-wrapper {
						position: absolute;
						right: 0;
						z-index: 1;
						bottom: 0px;
						button {
						}
					}
				}
				span.error {
					bottom: 5px!important;
					right: 86px!important;
				}
			}
		}
		&.checkout-basket-content-modal {
			.the-modal {
				width: 450px;
				.the-modal-container {
					#middle {
						min-width: 0;
					}
					.message-success {
						text-align: center;
						text-transform: uppercase;
					}
					.wrapper-button-action {
						display: table;
						padding-top: 2em;
						margin: 1.5em auto 1em;
						border-top: 1px solid #DDD;
						.bt-keep-buying {
							margin-right: 1em;
							@include button(primary, small, 5px, false);
						}
						.bt-checkout {
							@include button(secondary, small, 5px, false);
						}

					}
				}
			}
		}
		&.add-message-modal {
			.the-modal {
				width: 450px;
				.the-modal-container {
					.send-message {
						@include button($color-primary, default, 5px, false);
					}
				}
			}
		}
		&.wd-product-deliveryfee-modal {
			p {
				small {
					display: block;
				}
			}
			td {
				img {
					vertical-align: middle;
					margin-right: 4px;
				}
			}
		}

		&.select-variation-modal {
			.the-modal-container {
				padding: 2em 0 0 2em;
			}
			.the-modal {
				max-width: 1170px;
				height: 600px;
				iframe {
					height: 575px;
				}
			}
		}

		.input-wrapper {
			padding: 5px;
			font-size: 1em;
			margin-bottom: 0.5em;
			position: relative;
			label {
				text-align: left;
				font-weight: normal!important;
				display: inline-block;
			}
			input[type="text"],
			select {
				width: 100%;
			}

			input,
			select,
			textarea {
				padding: 10px 20px;
				border: 1px solid $gray;
				border-radius: 6px;
			}
		}

		button[type="submit"] {
			@extend %button-default !optional;
		}
	}

	&.page-account-address,
	&.page-account-wishlist {
		.the-modal {
			width: 500px;
			.message {
				text-align: center;
				text-transform: uppercase;
			}
			.button-wrapper {
				text-align: center;
				button {
					//@include button(secondary, default, 5px, false);
					background-color: $orange!important;
					margin: 1em 0.5em 0;
				}
			}

			.wd-profile-addressform {
				.input-wrapper {
					label {
						display: block;
					}
					small {
						display: block;
					}
					input[type="text"],
					select {
						width: 100%;
					}
				}
			}
		}
	}
	&.page-account-gift-certificate {
		.the-modal {
			width: 500px;
			.message {
				text-align: center;
				text-transform: uppercase;
				margin: 0 0 20px;
			}
			.button-wrapper {
				button {
					@extend .btn-default !optional;
					display: table;
					margin: 0 auto;
					&:last-child {
						display: none;
					}
				}
			}
		}
	}
	/**
	 * colorbox - legacy
	 */
	#cboxOverlay {
		@include transition(opacity, 0.2s, ease-in-out);
		background-color: rgba(0,0,0,0.8);
		opacity: 1!important;
	}
	#colorbox, 
	#cboxOverlay, 
	#cboxWrapper {
		overflow: initial!important;
	}
	#colorbox {
		#cboxCurrent {
			left: 0;
			text-transform: uppercase;
			font-size: 0.8em;
		}
		#cboxLoadedContent {
			height: auto!important;
			overflow: hidden!important;
		}
		#cboxPrevious {
			left: 0;
		}
		#cboxNext {
			right: 2px;
		}
		#cboxClose {
			border-radius: 50%;
			background-color: $color-primary;
			right: -14px;
			top: -16px;
			width: 32px;
			height: 32px;
			line-height: 30px;
			color: white;
			&:after {
				font-size: 30px;
			}
		}
	}

	&.AccountWishlistRoute {
		.the-modal-container {
			.button-wrapper {
				button {
					@extend .btn-default !optional;
					display: inline-block!important;
				}
			}
		}
	}

}