body {
	&.page-account-wishlist-edit {
		.wd-profile-wishlist-form {
			.wd-profile-wishlist-form {
				width: 50%;
				float: left;
				border-right: 1px solid #DDD;
				padding-right: 2em;
			}
			> .form-wrapper {
				padding-left: 2em;
				border-top: none!important;
				width: 50%;
				float: left;
			}
		}
	}
}
.wishlist-manager-data {
	.product-item {
		margin-bottom: 2em;
		a {
			text-decoration: none;
		}
		h3 {
			color: $color-primary;
			font-size: 1.2em;
			font-weight: normal;
			text-transform: uppercase;
			margin-bottom: 0!important;
		}
		.sku {
			color: gray;
			text-transform: uppercase;
		}
		.skuoptions {
			margin-top: 0.5em;
			margin-bottom: 1em;
			li {
				text-transform: uppercase;
				color: $color-secondary;
				font-size: 0.8em;
			}
		}
		.sale-price {
		}
		.condition {
			display: none;
		}
		.wishlist-col-action {
			left: 150px;
			bottom: 30px;
			.quantity {
				margin-right: 2em;
			}
			.wish-manage-input {
				input {
					height: 25px!important;
				}
			}
			button {
				&.wish-manage-button,
				&.delete {
					font-size: 0.9em!important;
					padding: 10px 20px!important;
				}
				&.delete {
					@extend .btn-outline;
					color: $color-primary!important;
					margin-left: 1em;
				}
			}
		}
	}
}