
.wd-product-price-description {
	.priceContainer {
		.list-price,
		.sale-price {
			.prefix {
				display: none;
			}
			span {
				font-size: 22px;
				font-weight: normal;
				color: black;
			}
		}
		del {
			color: #999;
			span {
				color: #999!important;
				font-size: 12px!important;
			}
		}
	}
}
.wd-product-line {
	.priceContainer {
		.list-price {
			.prefix {
				display: none;
			}
			span {
				font-size: 22px;
				font-weight: normal;
				color: black;
			}
		}
	}
	&:hover {
		.list-price {
			color: white;
			span {
				color: white!important;
			}
		}
	}
}