body.page-product {
	.wrapper-name {
		margin-top: 80px;
		margin-bottom: 40px;

		>.column-10 {
			width: 80%!important;
			margin-right: 0;
		}
		>.column-2 {
			width: 20%!important;
		}
		h1 {
			font-size: 24px;
			font-weight: 100;
			margin: 0 0 10px;
			display: inline-block;
		}
		a.wishlist {
			display: inline-block;
			/*
			width: 30px;
			height: 30px;
			border: 1px solid $orange;
			text-indent: -9999px;
			*/
			position: relative;
			top: -2px;
			margin-left: 15px;
		}
		.wd-product-rating {
			.review-create {
				color: $orange;
				font-size: 12px;
				padding-left: 10px;
			}
			.rating-average {
				width: 109px;
				height: 16px;
				@extend %sprite;
				&.rate-0 { background-position: -395px -150px; }
				&.rate-1 { background-position: -372px -150px; }
				&.rate-2 { background-position: -349px -150px; }
				&.rate-3 { background-position: -326px -150px; }
				&.rate-4 { background-position: -303px -150px; }
				&.rate-5 { background-position: -280px -150px; }
			}
		}
		.wrapper-loyalty {
			background-color: white;
			border: 1px dashed #999;
			display: block;
			height: 60px;
			line-height: 60px;
			font-weight: 400;
			font-size: 13px;
			text-align: center;
			border-radius: 6px;
			width: auto;
			float: right;
			padding: 0 10px;
			top: -10px;
			position: relative;
			strong {
				color: $orange;
			}
			em {
				font-weight: bold;
				span {
					font-weight: normal;
				}
			}
			&:after {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
			    border-width: 13px 0 0 13px;
			    border-color: white transparent transparent #999;
			    top: -1px;
			    right: -2px;

			}
		}
	}

	.wrapper-info {
		margin-bottom: 80px;
		> .column {
			border: 1px solid $gray;
			padding: 35px;
			&:last-child {
				border-radius: 6px;
			}
			&.images {
				padding: 0;
				.wd-flags {
					position: absolute;
					margin: 18px 20px 20px;
					z-index: 1;
				}
				.wd-product-medias {
					//margin-bottom: 50px;
					.wd-product-media-selector {
						position: absolute;
						width: 100%;
						bottom: 17px;
					}
				}
			}
		}
		.description {
			padding: 0 0 40px 0;
			margin-bottom: 40px;
			border-bottom: 1px solid $gray;
			.all-text {
				display: none;
				//height: 0;
				//visibility: hidden;
				//transition: all .2s ease-in-out;

				&.show {
					display: inline;
					//height: auto;
					//visibility: visible;
				}
			}
			.see-more {
				font-size: 14px;
				color: $orange;
			}
		}
		.price {
			border-top: 1px solid $gray;
			padding: 40px 0;
			.sale-price {
				span {
					font-size: 28px;
					font-weight: bold;
				}
			}
		}
		.buy {
			border-top: 1px solid $gray;
			padding: 50px 0;
			.quantity {
				position: relative;
				width: 100px;
				a {
					position: absolute;
					color: #B1B1B1;
					font-size: 22px;
					width: 20px;
					height: 20px;
					line-height: 20px;
					text-align: center;
					top: 50%;
					margin-top: -10px;
					&.minus {
						left: 10px;
						font-size: 30px;
						margin-top: -12px;
					}
					&.plus {
						right: 10px;
					}
				}
				input {
					width: 100%;
					border: 1px solid $gray;
					text-align: center;
					font-weight: bold;
					border-radius: 50px;
					height: 50px;
					line-height: 50px;

				}
			}
			.wd-buy-button {
				width: 100%;
				.wd-product-oneclickbuy {
					display: none;
				}
				.btn-buy {
					width: 100%;
					height: 50px;
					line-height: 50px;
					background-color: $orange;
					border-radius: 50px;
					color: white;
					font-weight: bold;
					border-style: solid;
					border-color: #D97100;
					border-width: 0 0 1px;
					box-shadow: 0 5px 20px 2px rgba($orange, 0.4);
				}
			}
			.wd-product-notifywhenavailable {
				position: relative;
				top: -20px;
				margin-bottom: -20px;
				button {
					width: 100%;
					height: 50px;
					line-height: 50px;
					background-color: #444;
					border-radius: 50px;
					color: white;
					font-weight: bold;
					border-style: solid;
					border-color: #222;
					border-width: 0 0 1px;

				}
			}
		}
		.delivery-and-payment {
			.livicon-evo {
				position: relative;
				top: -2px;
				margin-right: 5px;
			}
			a {
				color: black;
				background-color: #F7F7F7;
				border: 1px solid $gray;
				display: block;
				height: 70px;
				line-height: 70px;
				font-weight: bold;
				font-size: 12px;
				text-align: center;
				text-transform: uppercase;
				border-radius: 6px;
			}
			.wd-product-deliveryfee,
			.wd-product-payment-options {
				display: none!important;
			}
			.wd-product-deliveryfee {
				.bt-calculate {
					display: none;
				}
			}

		}
	}

	.wrapper-descriptions {
		margin-top: 80px;
		.wd-descriptions {
			.wd-header {
				border-style: solid;
				border-color: $gray;
				border-width: 1px 0;
				height: 70px;
				line-height: 70px;
				> .wd-title {
					display: none;
				}
				.wd-descriptions-nav {
					@extend .row;
					display: block;
					li {
						margin-right: 90px;
						&.wd-selected {
							.wd-title {
								color: $orange;
								&:after {
									content: '';
									border-bottom: 3px solid $orange;
									width: 100%;
									display: block;
									margin-top: -3px;
								}
							}
						}
						.wd-title {
							text-transform: uppercase;
							color: #B1B1B1;
							font-weight: bold;
							font-size: 13px;
						}
						a {

						}
					}
				}
			}

			.wd-content {
				@extend .row;
				margin-top: 30px;
				.wd-descriptions-panel {
					margin: 0;
				}
			}

			.wd-descriptions-toolbar {
				display: none;
			}
		}
	}

	.wrapper-reviews {
		margin-top: 80px;
		> .header {
			border-style: solid;
			border-color: $gray;
			border-width: 1px 0;
			height: 70px;
			line-height: 70px;
			strong {
				text-transform: uppercase;
				color: #B1B1B1;
				font-weight: bold;
				font-size: 13px;
			}
		}
		> .body {
			background-color: #F7F7F7;
			.wd-product-rating {
				position: absolute;
				top: 68px;
			}
			.wd-product-reviews {
				.wd-header {
					.wd-title {
						display: none;
					}
					.review-create {
						position: absolute;
						right: 0;
						top: 25px;
						background-color: $orange;
						width: 220px;
						height: 50px;
						line-height: 50px;
						color: white;
						font-weight: bold;
						border-radius: 50px;
						text-align: center;
					}
				}
				.wd-footer {
					display: none;
				}

				.review-header {
					height: 100px;
					line-height: 100px;
					.column-8 {
						font-size: 24px;
					}
					border-bottom: 1px dotted $gray;
				}
				.wd-product-reviews-list {
					min-height: 200px;
				}
				.wd-list-reviews-itens {
					.row {
						padding: 40px 0!important;
						border-bottom: 1px dotted $gray;
						.avaliacao {
							.atribute {
								display: none;
							}
							.rating {
								margin-left: -2px;
							}
						}
						small {
							font-weight: bold;
						}
					}
					.wd-review-item {
						padding: 0;
					}
				}

				.wd-review-paginate {
					padding: 0;
					margin-top: 20px;
					margin-bottom: 40px;
					> span {
						margin-bottom: 10px;
						display: block;
					}
					ul {
						display: table;
						//width: 100%;
						background-color: #F7F7F7;
						height: 40px;
						border-style: solid;
						border-color: #CCC;
						border-width: 1px;
						padding-left: 0;
						margin: 0;
					}
					li {
						float: left;
						text-align: center;
						border-style: solid;
						border-color: #CCC;
						border-width: 0 1px 0 0;
						border-radius: 0;
						padding: 0;
						margin: 0;
						a {
							width: 37px;
							line-height: 40px;
							border: none;
							font-weight: normal;
							color: black;
							background-color: transparent;
							display: block;
							border-radius: 0;
							&.page-selected {
								background-color: $orange;
								box-shadow: 0 10px 50px 0px rgba($orange, 0.3);
								color: white;
								font-weight: bold;
							}
						}
						&:last-child {
							border-right: none;
						}
					}
				}

				.no-data {
					position: absolute;
    				top: 105px;
				}
			}
		}
	}



	.wd-product-gift {
		border-bottom: none;
		min-height: inherit;
		.title {
			text-transform: uppercase;
			color: #888;
			font-size: 12px;
		}
		.wd-product-gift-list {
			ul {
				width: 100%;
				border-radius: 5px;
				border: 1px solid #DDD!important;
				height: 47px;
				&.open {
					height: auto;
					box-shadow: 2px 2px 10px -2px rgba(0,0,0,0.2);
				}
				li {
					img,
					br {
						display: none;
					}
					height: 47px;
					&.wd-option-title {
						padding-left: 14px;
						display: block;
					}
					.wd-gift-title {
						display: block;
						line-height: 47px;
						float: none;
						padding-left: 20px;
					}
					&:hover {
						&:not(.wd-option-title) {
							background-color: #FAFAFA;
						}
					}
					&.image.checked {
						background: url(http://d1z2vz32896i67.cloudfront.net/Custom/Content/Widgets/product.gift/Image/arrow-down.png) no-repeat 93% 56% transparent;
					}
				}
			}
		}
	}
	.wd-product-medias-enlarger {
		display: none!important;
	}
	.wd-product-media-selector {
		margin-top: 30px;
		ul {
			overflow: inherit;
		}
		.video,
		.image {
			width: 71px;
			height: 71px;
			border: 1px solid $gray;
			margin-right: -1px;

			display: flex;
			flex-direction: column;
			justify-content: center;
			

			img {
				display: table;
				margin: 0 auto;	
			}
		}
		.image {
			background-color: white;
			&.selected {
				box-shadow: 0 0px 40px 4px rgba(0, 0, 0, 0.1);
				&:after {
					content: '';
					border-bottom: 2px solid $orange;
					width: 100%;
					position: absolute;
					bottom: -1px;
				}
			}
		}
		.video {
			&:before {
				content: '';
				background-color: $orange;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
			&:after {
				content: '';
				@extend %sprite;
				position: absolute;
				width: 26px;
				height: 26px;
				background-position: -238px -97px;
				left: 50%;
				margin-left: -13px;
			}
		}
	}
	.wd-product-medias-displayer {
		.video-wrapp {
			margin-top: 0px;
			margin-bottom: -4px;
			display: none;
			h1 {
				display: none;
			}
			iframe {
				width: 100%;
    			height: 450px;
    			border: 0;
			}
		}
	}
	.wd-product-associations {
		.wd-title {
			font-size: 24px;
			margin-bottom: 40px;
		}
	}

	.wd-product-variations {
		margin-bottom: 40px;
		.type-combo {
			display: inline-block;
			overflow: inherit;
			&.first {
				margin-right: 40px;
			}
			.title,
			h3 {
				text-transform: uppercase;
				color: #888;
				border-bottom: none;
				font-size: 12px;
			}
			.options {
				width: 220px;
				display: inline-block;
				position: relative;
				/*
				&:after {
				    content: '';
					background-position: -450px -27px;
					width: 12px;
					height: 7px;
					position: absolute;
					right: 20px;
					top: 17px;
					border: 1px solid $orange;
				}
				*/
				select {
					@include appearance(none);
					height: 40px;
					line-height: 40px;
					border-radius: 5px;
					border-color: $gray;
					padding: 0 0px 0 20px;
					color: #888;
					width: 100%;
					position: relative;
					z-index: 1;
					background-color: transparent;
				}
				.icon {
					position: absolute;
					right: 10px;
					top: 5px;
					z-index: 0;
				}
				.variation-error {
					position: absolute;
					left: 230px;
					width: 200px;
					top: -3px;
				}
			}
		}
		.variation-error {
			background-color: #FFFF00;
		    font-size: 12px;
		    padding: 10px;
		    margin-top: 5px;
		    top: 12px;
		    position: relative;
		}
		.variation-group {
			overflow: inherit;
			.variation-error {
				position: relative;
				top: 2px;
			}
		}
	}

	.wd-product-associations {
		&.cross-sell {
			form {
				> ul {
					> li {
						text-align: left;
						position: relative;
						&.description-cross-sell {
							text-align: center;
							border-style: solid;
							border-color: $gray;
							border-width: 1px 0 1px 1px;
							height: 470px;
							display: table;
							> div {
								padding: 0 30px;
								width: 100%;
								vertical-align: middle;
								display: table-cell;
								span,
								strong {
									font-size: 22px;
									display: block;
								}
								p {
									font-size: 14px;
								}
							}
						}
						.wd-product-line {
							padding-top: 40px;
							height: 470px;
							select {
								@include appearance(none);
								height: 30px;
								line-height: 30px;
								border-radius: 5px;
								border-color: $gray;
								padding: 0 30px 0 20px;
								color: #888;
								width: 100%;
							}
						}
						&.column-buy {
							border-style: solid;
							border-color: $gray;
							border-width: 1px 1px 1px 0px;
							height: 469px;
							display: table;
							.form-ready-true,
							.form-ready-false {
								padding: 0 40px;
								width: 100%;
								vertical-align: middle;
								display: table-cell;

								.no-variation-selected {
									display: none;
								}

								.text-buy {
									color: #888;
									font-size: 13px;
								}
								.total {
									float: none;
									margin-right: 0;
									text-align: left;
									.asyncprice-area {
										margin-bottom: 20px;
										.sale-price {
											span {
												font-size: 24px;
											}
										}
									}
								}

								.btn-buy {
									height: 50px;
									line-height: 50px;
									color: white;
									font-weight: bold;
									width: 100%;
									background-color: #00d2ff;
									box-shadow: 0 0 20px 2px rgba(#00d2ff, 0.5);
									border-radius: 50px;
									border: none;
									float: none;
									margin: 0 auto;
									display: table;
								}
							}
						}
						&.first {
							&:before {
								content: '+';
								width: 60px;
								height: 60px;
								line-height: 60px;
								color: white;
								font-size: 40px;
								text-align: center;
								border-radius: 50%;
								background-color: #00d2ff;
								box-shadow: 0 0 20px 2px rgba(#00d2ff, 0.5);
								position: absolute;
								top: 50%;
								right: -30px;
								margin-top: -30px;
								z-index: 10;
								font-weight: 100;
							}
						}
					}
				}
			}
			.total {
				font-size: inherit;
			}
			.asyncprice-area {
				.priceContainer {
					line-height: 18px;
				}
			}
		}
		.percent-difference {
			display: none;
		}
		.wd-content {
			> ul {
				> li {
					width: 24.9%;
					text-align: left;
				}
			}
		}
	}

	.wd-product-wishlist {
		display: none;
	}

	.wd-product-bundle {
		margin-bottom: 30px;
		.wd-header {
			.wd-title {
				font-size: 16px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}
		.bundle-items-wrapper {
			//border-bottom: none;
			margin-bottom: 30px;
			> ul {
				> li {
					background-color: transparent;
					position: relative;
					&:not(:last-child) {
						border-top: 1px solid #ddd;
					}
					overflow: hidden;
					.wrapper-photo {
						float: left;
						width: 80px;
						height: 80px;
						margin: 10px 20px 0 0;

						img {
							width: 100%;
							margin-right: 20px;
						}
					}
					.wrapper-info {
						float: left;
					    width: 380px;
					    margin-top: 30px;
					    margin-bottom: 30px;
					}
				}
			}
		}
		.bundle-price {
			width: 200px;
		}
		.bundle-buy {
			width: 250px;
			margin-top: 25px;
			.wd-buy-button {
				display: block;
			}
			.btn-buy {
				width: 100%;
				height: 50px;
				line-height: 50px;
				background-color: $orange;
				border-radius: 50px;
				color: white;
				font-weight: bold;
				border-style: solid;
				border-color: #D97100;
				border-width: 0 0 1px;
				box-shadow: 0 5px 20px 2px rgba($orange, 0.4);
			}
		}
	}
}