.wd-product-line {
	border-style: solid;
	border-color: $gray;
	border-width: 1px 1px 1px 1px;
	background-color: white;
	margin-top: -1px;
	margin-right: -1px;

	padding: 40px 38px;
	min-height: 480px;

	h3 {
		font-size: 13px;
		font-weight: normal;
		min-height: 50px;
	}
	.wd-product-line-medias-variations {
		display: none;
	}
	.wrapper-flags {
		height: 30px;
	}
	.hover {
		opacity: 0;
		position: absolute;
		height: 50px;
		top: 50%;
		margin-top: -25px;
		> a {
			display: block;
			float: left;
			width: 137px;
			padding: 0;
			text-align: center;
			background-color: white;
			color: black;
			border-radius: 30px;
			height: 50px;
			line-height: 50px;
			font-weight: bold;
			margin-right: 20px;
			box-shadow: 0 0 20px 2px rgba(white, 0.3);
		}
		.wd-buy-button {
			&.buying {
				.btn-buy {
					display: flex!important;
					opacity: 0.4;
					box-shadow: 0 0 20px 2px rgba($orange, 1);
				}
			}
		}
		.btn-buy {
			background-color: #ff8500;
			border: 0;
			text-indent: -9999px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			font-size: 0;
    		position: relative;
			top: -9px;
			box-shadow: 0 0 20px 2px rgba($orange, 0.3);
		}
		.loading-buy {
			font-size: 0;
			position: absolute;
			width: 30px;
			height: 100%;
			top: 0;
			left: 50%;
			margin-left: 0;
			background: none;
			//display: none!important;
		}
	}
	//transition: all .2s ease-in-out;
	&:hover {
		background-color: #191f2b;
		border-color: #191f2b;
		h3 {
			color: white;
		}
		.hover {
			opacity: 1;
		}
		.wd-product-line-medias {
			opacity: 0;
		}
		.wd-product-price-description {
			color: white;
			.priceContainer .list-price span,
			.priceContainer .sale-price span {
				color: white;
			}
		}
		.wd-flags {
			.flag {
				background-color: white;
				color: #191F2B;
			}
		}
	}

	&.adding-to-basket {
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255,0.2);
			top: 0;
			left: 0;
			z-index: 2;
		}
		&:after {
			content: '';
			/*
			width: 150px;
			height: 50px;
			text-align: center;
			top: 50%;
			margin-top: -25px;
			left: 50%;
			margin-left: -75px;
			z-index: 3;
			position: absolute;
			width: 10px;
			height: 10px;
			background-color: #2760AD;
			border-radius: 100%;
			display: inline-block;
			-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  			*/
		}
		.loading-buy > div {
			width: 10px;
			height: 10px;
			background-color: $orange;
			border-radius: 100%;
			display: inline-block;
			-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  			animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		}
		.loading-buy .bounce1 {
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s; 
		}

		.loading-buy .bounce2 {
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s; 
		}
	}	
}