body.page-register {
	#middle {
		.wd-profile-register {
			.wd-header {
				.wd-title {
					font-size: 24px;
					padding: 80px 0;
				}
			}
			fieldset {
				border: 1px solid $gray!important;
				border-radius: 5px;
				padding: 40px;
				margin-bottom: 4em;
				padding-bottom: 1em;
				.wd-subtitle {
					font-size: 20px;
					font-weight: bold;
					display: block;
					//border-bottom: 1px solid #999;
					padding: 10px 20px;
					margin-bottom: 1em;
				}
				.input-wrapper {
					padding: 5px 20px;
					font-size: 1.2em;
					margin-bottom: 0.5em;
					position: relative;
					label {
						width: 260px;
						text-align: left;
						font-weight: normal;
						display: inline-block;
					}
					input[type="text"],
					select {
						width: 600px;
					}

					input,
					select {
						padding: 20px 20px;
						border: 1px solid $gray;
						border-radius: 6px;
					}

					.customer-type-radio {
						margin-left: 360px;
						label {
							width: 200px;
						}
					}

					span.error {
						position: absolute;
						background-color: #FFC!important;
					    font-size: 11px;
					    padding: 5px;
					    top: 45px;
					    right: 39px;
						/*
						left: 888px;
						top: 27px;
						font-size: 12px;
						background-color: $gray;
						padding: 4px 10px;
						*/
						white-space: nowrap;
					}
				}
			}
			.button-wrapper {
				float: right;
				button {
					width: 360px;
					background-color: $orange;
					color: white;
					font-weight: bold;
					height: 58px;
					line-height: 58px;
					border: 0;
					border-bottom: 1px solid #D97100;
					border-radius: 6px;
				}
			}
		}
	}
}
body.register-success {
	#content-wrapper {
		margin: 12em 0 6em;
		.message {
			text-align: center;
			font-size: 2em;
			color: $color-primary;
		}
	}
}
body.AccountRegisterRoute {
	.wd-profile-register {
		span.error {
			right: 204px!important;
		}
	}
}