body {
	#middle {
		padding: 0;
		padding-bottom: 70px;
	}
	&.columns-2-left {
		#content,
		#left {
			padding-top: 70px!important;
		}
	}

	.wrapper-breadcrumbs {
		background-color: white;
		border-bottom: 1px solid $gray;
		height: 70px;
		line-height: 70px;
		.location {
			display: none;
		}
		li {
			font-size: 13px;
			a {
				display: inline-block;
				color: #616161;
			}
			&.first {
				a {
					color: $orange;
				}
			}
			&:not(:last-child) {
				&:after {
					content: '>';
					color: #616161;
					margin-right: 5px;
					margin-left: 5px;
				}
			}
		}
	}

	.wd-flags {
		margin-bottom: 10px;
		.flag {
			font-size: 10px;
			padding: 2px 8px;
			background-color: #FFCF15;
			border-radius: 3px;
			color: white;
			font-weight: bold;
			&.off {
				background-color: #00d2ff;
			}
			&.frete,
			&.frete-gratis {
				background-color: #ff6c00;
			}
			&.promocao {
				background-color: #24db65;
			}
			&.lancamento {
				background-color: #b216e5;
			}
			&.horas-24 {
				background-color: #f50d0d;
			}
		}
	}
}