$color-primary:   #333333;
$color-secondary: #DB3B35;
$color-buttons: #4FCD71;
$color-light: #E4E4E4;
$max-width:       1170px;

$orange: #FF8400;
$gray: #E4E4E4;

$color-dark: $orange;
$color-darkness: #333;

$font-primary:    Lato;
$font-secondary:  'Bebas Neue',sans-serif;

%sprite {
	background-image: url('/Custom/Content/Themes/QualitySP/Images/sprite.png?v=2');
	background-repeat: no-repeat;
}
%sprite-footer {
	background-image: url('/Custom/Content/Themes/QualitySP/Images/sprite-footer.png?v=1');
	background-repeat: no-repeat;
}