.wd-product-line h3 {
	min-height: 60px!important;
}
.wd-product-price-description {
	.condition {
		.parcel-value {
			font-size: 12px;
			font-weight: bold;
		}
		.label {
			&:last-child {
				display: none;
			}
		}
	}
	.savings {
		.instant-price {
			font-size: 12px;
			font-weight: bold;
		}
	}
}

#header .categories .more-categories .more {
	padding: 30px 40px;
	z-index: 20;
}
#header .categories .more-categories .more nav {
	padding: inherit;
}
#header .categories .more-categories:hover .more {
	> .wd-category-menu {
		width: 790px;
		float: left;
	}
	.banner-more {
		width: 300px;
		height: 400px;
		//background-color: white;
		float: right;
	}
}
#header .categories .more-categories .more nav .level-1 > li:not(.has-children) {
	//min-height: 180px;
}
#header .categories .more-categories .more nav .level-1 > li:nth-child(n+4) {
	min-height: inherit;
}


/* facetas */
body.grid-products.has-banner-category #left .facets {
	margin-top: inherit;
}
body.grid-products.has-banner-category #left .wd-facet-group {
	position: absolute;
	width: 271px;
	top: -392px;

	.selected-facets.show {
		background-color: white;
	}
}

body .wd-flags .flag {
	padding: 2px 7px!important;
}