@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';

@import '_vars';
@import '_mixins';

.wd-checkout-basket {
	> .empty {
		padding: 150px 0;
		background-color: transparent;
		span {
			border-right: none;
			display: block;
			padding: 0;
			font-size: 18px;
		}
	}
	.wd-checkout-basket-grid {
		th,
		td {
			padding: 20px 20px!important;
			font-size: 14px;
			text-align: center;
			font-weight: normal;
		}
		tfoot {
			border-top: 1px solid $gray;
		}
		button {
			&.remove {
				border: none;
				text-transform: uppercase;
			}
			&.bt-clear-basket {
				border: none;
				background-color: transparent;
			}
		}
		.product {
			.photo {
				margin-right: 40px;
			}
			.data {
				vertical-align: middle;
				display: table-cell;
				a {
					color: black;
				}
			}
		}
	}
	.js-shipping-calc {
		height: 42px;
		line-height: 42px;
		margin-left: 5px;
		background-color: $orange;
		border-radius: 5px!important;
		border: none;
		color: white;
		padding: 0 20px;
	}
	.wd-checkout-basket-discount {
		.description {
			height: auto;
			.js-coupon-calc {
				height: 42px;
				line-height: 42px;
				margin-left: 5px;
				background-color: $orange;
				border-radius: 5px!important;
				border: none;
				color: white;
				padding: 0 20px;
			}
		}
	}
	.btn-text {
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
.wd-checkout-basket-buttons {
	.bt-checkout {
		@include button($color: $orange, $size: default, $radius: 6px, $wide: false);
	}
	.wd-checkout-basket-oneclickbuy {
		display: none;
	}
	.bt-keep-buying {
		@include button($color: white, $size: default, $radius: 6px, $wide: false);
		border: 1px solid $orange;
		color: $orange;
	}
}