@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import '_vars';
@import '_mixins';

@import '_fonts';
@import '_base';
@import '_structure';

@import '_header';
@import '_footer';

@import '_product-line';
@import '_price';

@import '_home';
@import '_identification';
@import '_product-detail';
@import '_grid';
@import '_register';
@import '_basket';
@import '_cms';
@import '_404';
@import '_modal';


%button-default {
	background-color: $orange;
	//width: 220px;
	height: 50px;
	line-height: 50px;
	color: white;
	font-weight: bold;
	border-radius: 50px;
	border: none;
	text-align: center;
	padding: 0 20px;
	font-weight: bold!important;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
    	-webkit-transform: scale(0); 
	}
  	40% {
    	-webkit-transform: scale(1); 
    }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
    	-webkit-transform: scale(0);
    	transform: scale(0); 
   	}

  	40% {
    	-webkit-transform: scale(1);
    	transform: scale(1);
    }
}