.main-categories {
	.wrapper-sub-section {
		width: 1170px;
		.wrapper-banner-menu {
			display: none!important;
		}
		.level-2 {
			> li {
				float: left;
				min-height: 180px;
				margin-right: 60px;
	    		margin-bottom: 50px;
				> h4 {
					margin-bottom: 15px;
					a {
						text-transform: uppercase;
						font-weight: bold!important;
						font-size: 15px;
						letter-spacing: -1px;
					}
				}
				.level-3 {
					li {
						margin-bottom: 0!important;
					}
					a {
						font-size: 14px;
						&[title="Veja mais"] {
							display: none;
						}
					}
				}
			}
		}
	}
}
.more-categories {
	.more {
		> .wd-category-menu {
			width: inherit!important;
		}
		li {
			&.last {
				a {
					&:hover {
						color: #FF8400!important;
					}
				}
			}
		}
		.level-1 {
			> li {
				margin-right: 60px!important;
				min-width: 200px;
				max-width: 300px;
				margin-bottom: 20px!important;
				&.eletronicos {
					//max-width: 180px;
				}
				&.has-children {
					&:not(.last) {
						min-height: 320px!important;
					}
				}
				h3 {
					//padding-bottom: 20px!important;
				}
			}
		}
		.level-2 {
			> li {
				overflow: hidden;
				> h4 {
					//margin-bottom: 15px;
					a {
					}
				}
				.level-3 {
					overflow: hidden;
					li {
						float: left;
						margin-bottom: -2px!important;
						a {
							display: block;
							color: #8C8C8C!important;
							font-size: 12px;
							&[title="veja mais"] {
								display: none!important;
							}
							&:hover {
								color: #FF8400!important;
							}
						}
						&:not(:last-child) {
							a {
								&:after {
									content: ', ';
									padding-right: 3px;
								}
							}
						}
					}
				}
			}
		}
	}
	.banner-more {
		display: none!important;
	}
}