@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
$color1: #FF8400;
$color2: #191f2b;

.wd-product-price-history {
	display: none;
}
.prefix{
	color:#999!important;
	font-size:16px;
}

.default-price .value-price,
.sale-price span,
.list-price span{
	color:$color1!important;
}
.header-icons .badge{
	background-color:$color1;
}
.default-price .value-price,
.sale-price span,
.list-price span{
	margin-left:2px;
	font-size:16px!important;
}
.search--header input{
}
.btn:not(.btn-success),
.btn-big.btn-success,
.search--header button,
.wd-product-deliveryfee .button-wrapper.button-wrapper button,
.wd-product-reviews .wd-header .review-create, .sales_representative__form .button-wrapper button{
	//background-image: linear-gradient(to bottom, #82d0d7, #06A2B0);
	background-color: $color1!important;
    color: white!important;
	border:none;
}
.category-menu--home .category-menu__section .title{
	color: #FFF!important;
	background: $color1!important;
	border: 1px solid $color1!important;
	border-radius:0;
}
#footer--home{
	color:#FFF!important;
	background-color: $color2;
    //background-image: linear-gradient($color2, $color2);
	border-top: 3px solid shade($color2, 20%);
}
#footer--home *{
	color:#FFF!important;
}
#footer--home a{
	color:#888!important;
}
#footer--home .footer-subtitle,
#footer--home .page-menu .page-menu__root>a{
	text-transform: uppercase;
    font-weight: bold;
}

/* PRODUCT */
.middle--product .wd-descriptions .wd-descriptions-nav,
.dropdown.active>.content{
	border:none!important;
}
.middle--product .wd-descriptions .wd-descriptions-nav li{
	margin-bottom:1px;
}
.middle--product .wd-descriptions .wd-descriptions-nav li .title:first-child{
	color: #FFF!important;
	background: $color2!important;
	border: 0;
	border-radius:0;
	text-transform:uppercase;
}
.btn-text:not(.btn-success),
.btn-text:not(.btn-success):active,
.btn-text:not(.btn-success):focus,
.btn-text:not(.btn-success):hover
.btn.btn-text:not(.btn-success):hover,
button.btn-text:not(.btn-success):hover{
	color:white!important;
	text-decoration:none!important;
}
.middle--product .wd-product-variations .type-color-pallete .options label.selected, .middle--product .wd-product-variations .type-side-by-side .options label.selected{
	border-color:$color1!important;
}

.basket__grid .item__name{
	color:#222!important;
}
body.BasketIndexRoute .item__skuoptions { display: none; }

#hamburger-button > .line, .hamburger-button > .line {
	background: $color1;
}
#main-menu li a {
	color: white !important;
}

.product__body .wd-flags {
	max-width: inherit!important;
}
.product__body .product__flags .flag {
	display: inline-block!important;
	background-color: #CCC;
	color: white;
	border-radius: 0;
	padding: 4px 10px;
}