@import '_vars';

body.modal-home-newsletter {
	.the-modal {
		max-width: 700px;
		> .close {
			background-color: white!important;
			border-radius: 50%!important;
			color: #19202B;
			font-weight: bold;
			top: 20px!important;
			right: 20px!important;
		}
		.the-modal-container {
			padding: 0;
			background-color: transparent;
			#modal-home-newsletter {
				display: block;
				.body {
					.wd-marketing-banner {
						img {
							border-radius: 20px 20px 0 0;
						}
					}
				}
				.footer {
					background-color: #191F2B;
					height: 122px;
					border-radius: 0 0 20px 20px;
					form {
						display: table;
						margin: 0 auto;
						padding: 37px 0;
						.inputs-wrapper,
						.callback {
							width: 482px;
						}
						.callback {
							display: none;
							p {
								color: white;
								font-weight: bold;
								font-size: 16px;
								text-align: center;
								strong {
									font-size: 20px;
									color: $orange;
								}
							}
						}
						.inputs-wrapper,
						.input-wrapper,
						.callback,
						.button-wrapper {
							float: left;
						}
						.input-wrapper {
							padding: 0;
							position: relative;
							label.error {
								color: white;
								position: absolute;
								left: 0;
								bottom: -22px;
							}
						}
					}
					input,
					button {
						height: 47px;
					}
					input {
						width: 220px;
						margin-right: 20px;
						border-radius: 7px;
						border: none;
						color: #191F2B;
						font-weight: bold;
						padding-left: 20px;
					}
					button {
						width: 165px;
						background-color: $orange;
						height: 47px;
						line-height: 47px;
						color: white;
						font-weight: bold;
						border-radius: 30px;
						border: none;
						text-align: center;
						padding: 0 20px;
						font-weight: bold!important;
						text-transform: uppercase;
						box-shadow: 0 0 10px 2px rgba($orange, 1);

						&.copy {
							position: relative;

							&:before {
								visibility: hidden;
								opacity: 0;
								transition: all .2s ease-in-out;
								content: 'cupom copiado!';
								position: absolute;
								top: 0px;
								text-align: center;
								width: 100%;
								left: 0;
								font-weight: normal;
								text-transform: lowercase;
								background-color: #FFC;
								padding: 0;
								height: 24px;
								line-height: 24px;
								border-radius: 5px;
								color: black;
								font-size: 12px;
							}
							&:after {
								visibility: hidden;
								opacity: 0;
								transition: all .2s ease-in-out;
								content: '';
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 5px 5px 0 5px;
								border-color: #FFC transparent transparent transparent;
								position: absolute;
								left: 50%;
								margin-left: -2px;
								top: 0; 
							}
							&.copied {
								&:before {
									top: -31px;
									opacity: 1;
									visibility: visible;
								}
								&:after {
									top: -7px;
									opacity: 1;
									visibility: visible;
								}
							}
						}
					}
				}
			}
		}
	}
}
#modal-home-newsletter {
	display: none;
}