@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';

@import '_mixins';
@import '_vars';

@import '_base';
@import '_panel-wishlist';
@import '_modal';
.hidden {
	display: none;
}
.btn-outline {
	background-color: transparent;
	border: 1px solid $color-primary;
	color: $color-primary;
}
.btn-default {
	background-color: $orange;
	color: white;
	padding: 13px!important;
	display: block;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	border: none!important;
	min-width: 100px;
	line-height: inherit!important;
}
.btn-gray {
	background-color: #F2F2F2;
	border: none;
	color: $color-primary;
	text-transform: uppercase;
	font-size: 0.9em;
	width: auto;
	padding: 10px 25px;
}
@mixin subtitle-panel() {
	.wd-header {
		.wd-title {
			text-transform: uppercase;
			color: $color-primary;
			font-size: 1.2em;
			text-align: left;

			&:before {
			}
		}
	}
}
%sprite {
	background-image: url('/Custom/Content/Themes/Reference/Images/sprite-new.png?v=15');
	background-repeat: no-repeat;
}
body {
	&.page-account-address {
		.the-modal {
			.message {
				font: inherit;
				text-align: inherit;
				margin: inherit;
			}
		}
	}
}
body.area-profile,
body.DefaultCheckoutReceiptStep,
body.EasyCheckoutReceiptStep,
body.AccountOneClickBuyRoute,
body.AccountLoyaltyProgramRoute,
body.AccountRelationRoute {
	.input-wrapper {
		input,
		textarea,
		select {
			padding: 20px 20px;
			border: 1px solid $gray;
			border-radius: 6px;
		}
	}
	#middle {
		&:after {
			top: 191px;
		}
		#content {
			position: inherit;
			#content-wrapper {
				margin-left: 210px;
			}
		}
		#left {
			width: 200px;
		}

		.grid {
			table {
				border-radius: 5px;
				margin: 1em 0;
				width: 100%;
				th,
				td {
					//padding: 5px 10px!important;
					border: none;
				}
				thead {
					tr {
						th {
							text-transform: uppercase;
							text-align: left;
							padding: 10px;
							color: $color-primary;
							font-size: 1em;
							border-bottom: 1px solid #DDD;

							&:first-child {
								border-radius: 5px 0 0;
							}
							&:last-child {
								border-radius: 0 5px 0;
							}

						}
					}
				}
				tbody {
					tr {
						td {
							font-size: 1em;
							//text-transform: uppercase;
							padding: 15px;
							border-bottom: 1px solid #DDD;

							//&.action {
								button {
								}
							//}
						}
						&:hover {
							td {
								background-color: #FFE;
							}
						}
					}
				}
			}
		}
		%box-panel {
			padding: 10px;
			min-height: 164px;
			border: 1px solid #EEE;
			box-shadow: 0 20px 20px -25px rgba(0,0,0,0.1);
		}
		.panel-title {
			@include title-big();
		}

		.wd-widget {
			@include subtitle-panel;
		}

		.wd-checkout-ordersummary {
			margin-bottom: 2em;
			.wd-header {
				margin-bottom: 1em;
				.wd-title {
					span {
						color: #666;
					}
					&:before {
						//content: 'Dados do Pedido ';
						//color: $color-primary;

					}
				}
			}
			.wd-content {
				padding: 0;
				//display: table;
				//margin: 0 auto;
				overflow: inherit;
			}
			&.short-mode  {
				.wd-content {
					display: table;
					margin: 0 auto;
				}
			}

			button.order-link {
				display: none;
				top: 0;
				right: 0;
			}

			.wd-checkout-ordernumber,
			.summary-data {
				@extend %box-panel;
				width: 380px;
				
			}

			.wd-checkout-ordernumber {
				margin-right: 3em;

				.order-legend {
					text-transform: uppercase;
					color: $color-primary;
					font-weight: normal;
				}

				.order-code {
					line-height: inherit;
					font-weight: normal!important;
					color: gray;
					font-size: 2em!important;
				}

				.order-description {
					font-size: 0.8em;
					color: $color-dark;
				}
			}
			.summary-data {
				margin: 0;
				.wd-subtitle {
					//display: none;
					text-indent: -9999px;
					padding: 10px;
					border-bottom: 1px solid #EEE;
					margin-bottom: 0.5em;
					.order-status {
						font-weight: normal;
						text-indent: initial;
						position: initial;
						float: left;
						text-transform: uppercase;
						color: $color-primary;
						width: 100%;
						text-align: center;
					}
				}
				ul {
					li {
						font-size: 1em;
						line-height: 30px;
						height: 30px;
						&:nth-child(3) {
							display: none;
						}

						img {
							float: left;
							display: none;
						}
						b {
							text-transform: uppercase;
						}
						&.representative-data {
							//display: none;
						}
					}
					&.labels {
						li {
							//text-align: right;
							font-size: 0.7em;

						}
					}
				}
				.labels {

				}
				.payment-data {
					clear: both;
					.print-payment-slip {
						text-align: center;
						.popup {
							@extend .btn !optional;
							display: table!important;
							margin: 0 auto;
						}
					}
				}
			}
		}


		.wd-profile-orders,
		//.wd-profile-addresses,
		//.wd-profile-wishlist-list,
		.wd-profile-wishlist-form {
			.wd-header {
				//display: none;
			}
			
		}

		.wd-profile-orders {
			.grid {
				td {
					&:first-child {
						a {
							font-weight: bold;
						}
					}
				}
				td.action {
					button {
						width: 110px;
						margin: 0 auto;
						@extend .btn-default;
					}
					.expired {
						color: red;
						font-size: 12px;
					}
				}
			}
		}

		.wd-checkout-basket-summary {
			> .wd-subtitle,
			.see-products {
				display: none;
			}
			table {
				margin-top: 0!important;
				thead {
					//display: none;
					.icon {
						font-family: inherit;
						font-weight: bold;
					}
					th {
						font-weight: bold!important;
					}
				}
				tbody {
					tr {
						td {
							border: none;
							border-bottom: 1px solid #DDD;
							border-right: 1px solid #DDD;
							padding-top: 10px;
							padding-bottom: 10px;

							&.product {
								.product-name {
									color: $color-primary;
									font-size: 1em;
									font-weight: normal;
									text-transform: uppercase;
								}
								> div {
									display: table;
									.data {
										display: table-cell;
										vertical-align: middle;
									}
								}
	
								.skuoptions {
									color: $color-secondary;
									text-transform: uppercase;
								}
								.flag {
									display: none;
								}
							}

							&.quantity {
								.value {
									width: 35px;
									height: 35px!important;
									line-height: 35px;
									color: white;
									font-size: 1.3em;
									font-weight: bold;
									font-style: normal;
									background-color: $color-secondary;
									border-radius: 50%;
									margin: 0 auto;
								}
							}
							&.price {
								font-size: 1.2em;
								color: #666;
								del {
									font-size: 0.9em;
								}
							}
							&.item-subtotal {
								del {
									display: none;
								}
								font-size: 1em;
								color: $color-primary;
								font-weight: bold;
							}
							&.remove {
								button {
									width: 19px;
									height: 19px;
									border: 1px solid black;
									padding: 0;
									text-indent: -9999px;
									background-color: transparent;
									display: table;
									margin: 0 auto;
								}

							}

							&:last-child {
								border-right: none;
								min-width: 80px;
								width: 80px;
							}
						}
					}
				}
				tfoot {
					display: none;
				}
			}

			> .total {
				overflow: hidden;
				border: none;
				height: auto;
				margin: 1em 0;
				padding-top: 1em;
				//padding-bottom: 1em;
				ul {
					width: 270px;
					float: right;
					li {
						&:not(:last-child) {
							border-bottom: 1px solid #EEE;
						}
						padding-bottom: 10px;
						margin-bottom: 10px;
						overflow: hidden;
						label {
							float: left;
							text-transform: uppercase;
						}
						span {
							float: right;
						}
						&.total {
							font-size: 1.2em;
							font-weight: bold;
							height: auto;
							border: none;
							label {

							}
							span {
								color: $color-primary;
							}
						}
					}
				}

			}
			/* .grid {
				table {
					width: 100%;
					margin-top: 0!important;
			
					tbody {
						td {
							.skuoptions {
								font-size: 0.9em;
							}
						}
					}
			
					tfoot {
						tr {
							td {
								&.td-total {
									.total {
										color: $color-primary;
										font-size: 1.2em;
									}
								}
							}
						}
					}
				}
			} */
		}

		.wd-profile-reorder {
			.wd-header {
				display: none;
			}
			.product-name {
				text-transform: uppercase;
				.skuoptions {
					color: $color-secondary;
				}
			}
			form.em-estoque,
			form.venda-sem-estoque {
				.input-wrap {
					float: none;
					input {
						&.quantity {
							margin: 0 auto;
							display: block;
							border-radius: 4px;
							width: 180px;
							height: 26px!important;
						}
					}
				}
				button {
					width: 180px;
					display: block;
					margin: 1em auto;
					font-size: 0.9em;
				}
			}
		}

		.wd-checkout-orderdeliveryaddress {
			margin: 2em 0;
			> .wd-subtitle {
				text-transform: uppercase;
				color: $color-primary;
				font-size: 1.2em;
				font-weight: bold;
				text-align: center;
				margin-bottom: 1em;
    			border-bottom: 1px solid #DDD;
    			padding: 10px;
				&:before {
				}
			}
			
			.content {
				@extend %box-panel;
				width: 380px;
				min-height: 132px;
				margin-left: 3em;
				.header {
					text-align: center;
					color: $color-primary;
					border-bottom: 1px solid #EEE;
					text-transform: uppercase;
					padding-bottom: 10px;
				}
				> div:not(.header) {
					padding: 20px;
				}
				b {
					display: block;
					&.name {
						color: $color-primary;
						margin-bottom: 0.5em;
					}
					&.label {
						background-color: transparent;
						text-align: left;
						padding: 0;
						font-size: 1em;
						color: $color-primary;
						font-weight: normal;
						display: inline-block;
					}
				}
				br {
					//display: block;
				}
			}
			> small {
				text-align: center;
			}
		}

		.wd-checkout-ordertracking {
			.wd-header {
				.wd-title {
					color: $color-primary;
				}
			}
			.wd-content {
				display: table;
				margin: 0 auto;
				ul {
					li {
						width: 100px; 
						padding: 5px;
						opacity: 0.8;
						position: relative;
						margin-right: 1em;

						&:not(:last-child) {
							&:after {
								content: '';
								height: 1px;
								width: 20px;
								position: absolute;
								display: block;
								top: 40px;
								right: -9px;
								background-color: $color-primary;
							}
						}


						.icon {
							display: block;
							margin: 0 auto;
							@extend %sprite;
							height: 33px;
							width: 33px;
						}
						&.status-1 {
							.icon {
								background-position: -16px -64px;
							}
							&.completed {
								.icon {
									background-position: -76px -64px;
								}
							}
						}
						&.status-2 {
							.icon {
								background-position: -16px -112px;
							}
							&.completed {
								.icon {
									background-position: -76px -112px;
								}
							}
						}
						&.status-3 {
							.icon {
								background-position: -16px -160px;
							}
							&.completed {
								.icon {
									background-position: -76px -160px;
								}
							}
						}
						&.status-4 {
							.icon {
								background-position: -9px -212px;
								width: 46px;
								height: 29px;
							}
							&.completed {
								.icon {
									background-position: -69px -212px;
								}
							}
						}
						&.status-5 {
							.icon {
								background-position: -14px -257px;
								width: 36px;
								height: 35px;
							}
							&.completed {
								.icon {
									background-position: -74px -257px;
								}
							}
						}

						.progress,
						small {
							display: none;
						}

						.count {
							display: none;
						}
						> strong {
							//width: 100px;
							text-align: center;
							margin: 0 auto;
							height: 50px;
							display: table-cell;
							vertical-align: middle;
							width: inherit;
							text-transform: uppercase;
							font-size: 0.9em;
							font-weight: normal;
						}

						&.completed,
						&.started {
							opacity: 1;
						}
						&.completed {
							background-color: $color-light;
							strong {
								color: $color-primary;
								/* &:before {
									content: "\f00c";
									font: normal normal normal 14px/1 FontAwesome;
									display: block;
									color: $color-primary;
								} */
							}
							.progress {
								background-color: $color-primary;
							}
						}

						&.started {
							background-color: #FFE;
							.progress {
								&:after {
									background-color: $color-primary;
								}
							}
						}
					}
				}
			}
			
		}

		.wd-checkout-orderpayment {
			display: none;
		}

		.wd-profile-wishlist-manage {
			.wd-header {
				button.pull-right {
					position: absolute;
					right: 0;
					top: 0;
				}
			}
		}

		.wd-profile-wishlist-list {
			.wd-header {
				display: block!important;
				button.pull-right {
					position: inherit;
					//@extend .btn-outline;
					border-color: $color-secondary;
					//color: $color-secondary;
					font-size: 0.9em;
					float: right;
					margin: 0;

					background-color: $orange!important;
					color: white!important;
					font-weight: bold;
					height: 58px;
					line-height: 58px;
					border: 0;
					border-bottom: 1px solid #D97100;
					border-radius: 6px;
				}
			}
			button.delete {
				@extend .btn-outline;
				background-color: $gray;
			}
			button.manage {
				display: inline-block;
			}
			.new-wishlist {
				float: none;
				text-align: center;
				//display: table;
				//margin: 100px auto -100px;

				background-color: $orange!important;
				color: white!important;
				font-weight: bold;
				height: 58px;
				line-height: 58px;
				border: 0;
				border-bottom: 1px solid #D97100;
				border-radius: 6px;
			}
			.no-data {
				text-align: center;
				font-size: 1em;
				font-weight: bold;
				padding: 40px 0;
			}
		}

		.wd-profile-addresses {
			margin-top: 0;
			.new-address {
				width: 150px;
			}
			.wd-content {
				table {
					thead {
						th {
							&:last-child {
								width: 250px;
							}
						}
					}
					th,td {
						border-bottom: none;
						&:last-child {
							border-right: none!important;
						}
					}
					tr {
						&.main-address-line {
							.main-address-label {
								color: $color-secondary;
							}
						}
						.delete {
							@extend .btn-outline;
						}
						td {
							&.action {
								button {
									display: inline-block;
								}
							}
						}

					}
				}
			}
		}

		.wd-profile-addressform {
			&.wd-widget {
				@include subtitle-panel;
				.wd-title {
					display: block;
					border-bottom: 1px solid #DDD;
					margin-bottom: 1em;
					padding-bottom: 0.5em;
				}
			}
			form {
				.wd-content {
					fieldset {
						.wd-subtitle {
							display: none;
						}
						.input-wrapper {
							margin-bottom: 1.4em;
							label {
								width: 180px;
								text-align: left;
								padding-left: 0px;
							}
						}
					}
				}
				.button-wrapper {
					padding-left: 0px;
					button {
						@extend .btn-default;
						width: 400px;
					}
				}
			}
		}

		.wd-profile-wishlist-manage {
			position: relative;
			.btn-manage-others {
				float: right;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 0.9em;
				padding: 6px 20px;
			}
			.open-mode-list {
				display: none;
			}
			.contents-list {
				padding-left: 0;
				padding-right: 0;
				.button-wrapper {
					margin-left: 0;
				}
			}
			.wd-content {
				margin-top: 1em;
				.tabs-list {
					//border-bottom: 1px solid #DDD;
					li {
						border-top: 1px solid #DDD;
						height: auto;
						a {
							font-weight: bold;
							color: black;
							padding: 10px 0;
						}
						&.active {
							a {
							}
						}
					}
				}

				.contents-list {
					li {
						&.delete-list {
							text-align: center;
							margin: 2em 0;
							form {
								> p {
									font-weight: bold;
									font-size: 1.2em;
									text-transform: uppercase;
									color: $color-primary;
								}
								> div:not(.button-wrapper) {
									color: gray;
									p {
										margin-top: 0;
									}
								}
								.button-wrapper {
									button {
										margin: 2em auto;
									}
								}
							}
						}

						.link {
							h3 {
								margin-bottom: 1em;
							}
							> div {
								.list-price,
								.sale-price {
									display: block;
								}
							}
						}
					}
				}

				button {
				}

				.wd-profile-wishlist-form {
					.input-wrapper {
						margin-bottom: 2em;
					}
					label {
						text-align: left;
						width: inherit;
						min-width: 100px;
						margin-bottom: 10px;
					}
					.button-wrapper {
						margin-top: 4em;
						button {
							margin-left: 0;
						}
					}
					#use-address {
						margin-right: 10px;
						top: 5px;
					}
					.photo-form {
						button {
							font-size: 14px;
						}
					}
				}
			}
		}

		.wd-profile-wishlist-form {
			.input-wrapper {
				margin-top: 1em;
				margin-bottom: 0.5em;
				position: relative;
				label {
					text-align: right;
					padding-right: 1em;
					display: inline-block;
					float: none;
					width: 260px;
					&[for="wishlistdescription"] {
						position: relative;
						top: -45px;
					}
				}
				input[type='text'] {
					min-width: 400px;
				}
				textarea {
					height: 120px!important;
					border-radius: 5px;
					width: 400px!important;
				}
				#use-address {
					width: auto;
					//float: left;
					position: relative;
					top: -1px;
				}
				span.error {
					background-color: #FFC !important;
					font-size: 11px;
					padding: 5px;
					white-space: nowrap;
				}
			}

			.button-wrapper {
				//padding-left: 0px;
				button {
					margin-left: 260px;
					@extend .btn-default;
					width: 300px;
				}
			}

			.form-wrapper {
				margin: 2em 0;
				border-top: 1px dotted $color-dark;
				&:before {
					content: "Adicionar foto:";
					margin-top: 1em;
					display: block;
					text-transform: uppercase;
				}
				.photo-uploaded {
					width: 30%;
					float: left;
					margin: 0;
				}
				.photo-form {
					float: left;
					width: 70%;
					clear: none;
					margin: 0;
					label {
						text-align: left;
					}
				}
				.button-select-file {
					background-color: transparent;
					border: none;
				}
			}

			.link-create-address {
				top: 40px;
			}

			form {
				&.new-list {
					textarea {
						height: 150px;
					}
				}
			}

			.show-address {
				.addresses {
					padding: 50px 60px 0;
					table {
						tr {
							td {
								padding: 20px 0!important;
							}
							&:last-child {
								td {
									border-bottom: none;
								}
							}
						}
					}
				}
			}
		}

		.wd-profile-register {
			margin-top: 0!important;
			.wd-widget-js {
				border: none!important;
			}
			.input-wrapper {
				label {
					width: 215px!important;
				}
			}
		}

		.wd-profile-oneclickbuy-settings {
			.modal {
				display: none;
			}
			.wd-header {
				display: none;
			}
			.wd-content {
				.row-options {
					margin-bottom: 3em;
				}
				.message {
					display: none;
					margin: 0;
					padding: 0;
					font-size: 1.2em;
					font-style: italic;
				}
				.wd-title {
					display: block;
					font-weight: bold;
					text-transform: uppercase;
					color: $color-primary;
					border-bottom: 1px solid #DDD;
					padding-bottom: 0.5em;
					margin-bottom: 0.5em;
				}
				fieldset {
					&.cards {
						margin-top: 0;
						.new-creditcard {
							position: absolute;
							right: 0;
							top: -6px;
							font-size: 0.9em;
							@extend .btn-outline;
						}
					}
					.wrap {
						padding: 0;
					}
				}
				.payment {
				}
				.profile-addresses {
					.wd-title {
						font-family: inherit!important;
						font-size: inherit!important;
					}
				}
				.providers-groups {
					margin-bottom: 3em;
					br {
						display: none;
					}
					.no-creditcard {
						text-align: center;
					}
				}
				.wd-profile-addresses {
					table {
						border: none;
					}
				}
			}
		}


		.wd-profile-panelmenu {
			overflow: hidden;
			margin-bottom: 1em;
			.wd-header {
				margin-bottom: 1em;
				.wd-title {
					padding-left: 0;
					text-align: left;
				}
			}
			.wd-content {
				nav {
					> ul {
						> li {
							border-bottom: 1px solid white;
						}
					}
				}

				ul {
					padding: 0;
					margin: 0;
					li {
						margin: 0;
						padding: 0;
						height: auto;
						display: table;
						width: 200px;
						background-color: #FAFAFA;
						transition: all .2s ease-in-out;
						&:hover {
							background-color: #191f2b;
							> a {
								color: white;
								&:before {
									background-color: $orange;
								}
							}
						}
					}
					&.sub-menu {
						li {
							&.first {
								border-bottom: 1px solid white;
							}
						}
					}
				}
				a {
					color: #333;
					padding: 0!important;
					display: block;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.9em;
					text-decoration: none;
					padding: 20px!important;
					height: inherit;
					position: relative;
					&:before {
						content: '';
						width: 5px;
						position: absolute;
						height: 100%;
						left: 0;
						top: 0;
						background-color: #11151e;
					}
					&.back-home {
						display: none;
					}
					&:hover {

					}
				}
			}
		}

		.wd-profile-loyalty {
			.content {
				.left {
					display: block;
					p {
						margin-top: 0;
					}
				}
				.right {
					display: table;
					margin: 0 auto;
					.rescue-points {
						p {
							font-size: 1.1em;
							text-transform: uppercase;
							line-height: 26px;
						}
						small {
							display: block!important;
						}
						.bt-open {
							@extend .btn-default;
							//padding: 0!important;
							margin: -10px 0!important;
						}
					}
				}
			}
			.wrapper-grids {
				.tabs {
					border-bottom: none;
					li {
						border: none;
						border-radius: 20px;
						padding: 5px 20px;
						width: 250px;
						text-align: center;
						text-transform: uppercase;
						margin-right: -30px;
						position: relative;
						font-weight: normal;
						background-color: #EEE;
						a {
							color: gray;
						}
						&.selected {
							z-index: 1;
							background-color: $color-primary;
							a {
								color: white;
							}
						}
					}
				}
				.grid {
					thead {
						th {
							background-color: transparent;
							border-bottom-style: solid;
						}
					}
				}
			}
		}

		
		button {
			//@extend %button-panel;
			@extend .btn-default;
			//background-color: #CCC;
			//color: $color-primary!important;
		}
		#content-wrapper {
			.wd-header {
				.wd-title {
					font-size: 1.2em;
					font-weight: bold;
				}
			}
		}
	
		.wd-profile-relationform {
			.document-validate-box {
				form {
					input {
						width: 200px!important;
					}
					button {
						margin-left: 10px;
						padding-top: 10px;
						padding-bottom: 10px;
					}
					span.error {
						left: 70px!important;
					    //display: table!important;
					    top: 24px!important;
					    width: 130px!important;
					}
				}
				.response-message-box {
					text-align: center;
					//border: 1px solid tint($color-primary, 10%);
					//background-color: tint($color-primary, 80%);
					display: table;
					max-width: 800px;
					margin: 0 auto;
					padding: 20px;
				}
			}
		}
	}

	.themodal-overlay {
		&.wd-profile-oneclickbuy-settings-modal {
			.the-modal {
				width: 500px;
			}
			.payment-group-items {
				margin-bottom: 1em;
				.payment-method {
					margin-right: 1em;
					display: inline-block;
					label {
						font-size: 0;
						img {
							padding-left: 5px;
							position: relative;
							top: 8px;
						}
					}
				}
			}
			.add-payment-form {
				label {
					width: 120px;
					min-width: auto;
				}
			}
			.add-payment-buttons {
				margin-top: 1em;
			}
		}
		.the-modal {
			button {
				@extend %button-panel;
			}
		}
	}


}

%button-panel {
	color: white;
	font-size: 1em;
	font-weight: normal;
}