@import './bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import './bower_components/neat/app/assets/stylesheets/_neat';

$color: #005628;

body #main .navbar-default .wrapper-menu-top {
	background-color: #EEE!important;
}
body #main .navbar-default {
	background-color: white!important;
}

body #main .navbar-default .navbar-header .logo {
	width: 110px!important;
	height: 41px!important;
	top: 35px;
}
body #main .navbar-default .navbar-header {
	min-height: 40px;
}
body #main .navbar-default .navbar-nav li a {
	line-height: 50px!important;
}
body #main {
    margin-top: 80px!important;
}

body #main .navbar-default .navbar-nav.menu-main a,
body #main .grid .wrapper-nav-categories .nav-categories li.active a {
	color: $color;
}
body #main .navbar-default .navbar-nav.menu-main a {
	text-transform: inherit!important;
}
body #main .grid .wrapper-nav-categories .nav-categories li.active {
	box-shadow: 0 8px 0px -6px $color;
}

body #main .check-partners {
	background-color: $color;
	border-bottom-color: shade($color, 20%);
	margin-top: -32px;
}

body #main .grid .partner .wrapper .partner-detail {
	background-color: rgba($color, .88);
}
body #main .grid .partner .wrapper .partner-detail .partner-content ul li a {
	border-bottom-color: $color;
}

body .modal .modal-header .modal-title {
	color: $color;
}

.btn-primary {
	background-color: $color;
	border-color: shade($color, 50%);
	&:hover {
		background-color: shade($color, 50%);
		border-color: shade($color, 80%);
	}
}

body .modal .modal-header {
	border-bottom-color: $color;
}
 
.wrapper-banner.bgParallax {
	background-color: shade($color, 20%)!important;
	background-image: none!important;
}

body #main .check-partners:before, 
body #main .check-partners:after {
	display: none;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: $color;
}
.nav-pills>li > a {
	color: $color;
}
.label-danger {
	background-color: tint($color,20%);
}

body #main .wrapper-list-actions .list-actions .wrapper .icon {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}